/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  font-family: 'Open Sans', Calibri, sans-serif;
  overflow: hidden;
}

@import "scss/overrides/button";
@import "scss/overrides/badges";
@import "scss/overrides/popover";
@import "scss/overrides/dropdown";
@import "scss/overrides/modal";
@import "scss/overrides/typography";
@import "scss/overrides/container";
@import "scss/common/panel";
@import "scss/common/bar";
@import "scss/common/badges";
@import "scss/common/_layout";
@import "scss/common/link";
@import "scss/common/line-clamp";
@import "scss/common/list";
@import "scss/common/print";
@import "~nouislider/distribute/nouislider.min.css";

