
body {
  margin: 0;
  min-height: 100vh;
}

alv-root {
  min-height: 100%;
}

@import "scss/common/fonts";
@import "scss/overrides/theme";
@import "scss/overrides/typeahead";
@import "scss/overrides/tooltip";
@import "../node_modules/bootstrap/scss/bootstrap";
@import "scss/overrides/button";
@import "scss/overrides/badges";
@import "scss/overrides/block-ui";
@import "scss/overrides/dropdown";
@import "scss/overrides/modal";
@import "scss/overrides/typography";
@import "scss/overrides/container";
@import "scss/overrides/em";
@import "scss/overrides/legend";
@import "scss/overrides/progress";

@import "scss/common/arrow";
@import "scss/common/panel";
@import "scss/common/bar";
@import "scss/common/badges";
@import "scss/common/link";
@import "scss/common/line-clamp";
@import "scss/common/list";
@import "scss/common/cells";
@import "scss/common/print";
@import "scss/common/browser-specific";
@import "scss/common/background";
@import "~nouislider/distribute/nouislider.min.css";

