@import "../../../../../scss/common/colors";

.form-check-label {
  padding-left: 2rem;
}

.checkbox-radio {
  /* Outer box of the fake checkbox */
  label::before {
    height: 18px;
    width: 18px;

    border: 1px solid $color-grey;
    background-color: $color-white;
    border-radius: 2px;

    left: 0;
    top: 3px;
  }

  /* Check mark of the fake checkbox */
  label::after {
    height: 7px;
    width: 11px;

    border-left: 3px solid;
    border-bottom: 3px solid;
    border-color: $color-dark-grey;
    transform: rotate(-45deg);

    left: 4px;
    top: 7px;
  }
}
