@import "../../../../../scss/common/colors";

.form-check-label {
  padding-left: 2rem;
}

.checkbox {
  label {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }

  input[type="checkbox"] {
    opacity: 0;
    cursor: pointer;
  }

  label::before,
  label::after {
    position: absolute;
    content: "";
    display: inline-block;
  }

  /* Outer box of the fake checkbox */
  label::before {
    height: 20px;
    width: 20px;

    border: 1px solid $color-grey;
    background-color: $color-white;
    border-radius: 2px;
    left: 0;

    /*(24px line-height - 20px height of fake checkbox) / 2 - 1px for the border
     *to vertically center it.
     */
    top: 2px;
  }

  /* Checkmark of the fake checkbox */
  label::after {
    height: 7px;
    width: 11px;
    border-left: 3px solid;
    border-bottom: 3px solid;
    border-color: $color-dark-grey;
    transform: rotate(-45deg);

    left: 5px;
    top: 7px;
  }

  /* Hide the checkmark by default */
  input[type="checkbox"] + label::after {
    transition: all 0.25s ease;
    opacity: 0;
  }

  /* Unhide on the checked state */
  input[type="checkbox"]:checked + label::after {
    opacity: 1;
  }

  /* Adding focus styles on the outer-box of the fake checkbox */
  input[type="checkbox"]:focus + label::before {
    box-shadow: 0 0 0 0.2rem $color-blue-transparent;
  }
}

