<div class="container-fluid pt-4 pt-lg-5 px-lg-5"
     (scrolled)="onScroll()"
     [fromRoot]="true"
     [infiniteScrollThrottle]="50"
     [immediateCheck]="true"
     infiniteScroll
     *ngIf="{isCompetenceCatalogEditor: isCompetenceCatalogEditor$ | async} as observables"
>
  <div class="row">
    <div class="col-12 col-lg-9 col-xl-10">
      <div class="d-flex justify-content-between align-items-end position-relative">
        <h2 class="pr-5 mb-4 d-flex">
          <fa-icon [icon]="['far', 'list-alt']"
                   class="text-primary mr-1"
                   [fixedWidth]="true">
          </fa-icon>
          {{ 'portal.competence-catalog.competence-sets.overview.header' | translate }}
        </h2>
      </div>

      <alv-input-field [alvControl]="query"
                       [label]="'portal.competence-catalog.competence-sets.overview.search-label'">
      </alv-input-field>

      <a *ngIf="observables.isCompetenceCatalogEditor"
         routerLink="./create"
         class="btn btn-text btn-text-icon btn-block btn-truncate my-3 d-block d-lg-none">
        <fa-icon [icon]="['fas', 'plus']"
                 class="mr-1"></fa-icon>
        {{'portal.global.enter' | translate}}
      </a>

      <alv-competence-set *ngFor="let competenceSet of competenceSets"
                          [competenceSet]="competenceSet"
                          [isInnerElementsReadonly]="true"
                          [isReadonly]="observables.isCompetenceCatalogEditor"
                          [showActionButtons]="observables.isCompetenceCatalogEditor"
                          [actions]="[editCompetenceSetAction]"
                          (actionClick)="handleCompetenceSetActionClick($event, competenceSet)">
      </alv-competence-set>

    </div>
    <div class="mt-5 d-none d-lg-block col-lg-3 col-xl-2">
      <div class="actions-container">
        <a *ngIf="observables.isCompetenceCatalogEditor"
           routerLink="./create"
           class="add-set-button btn btn-text btn-text-icon btn-block btn-truncate mb-1">
          <fa-icon [icon]="['fas', 'plus']"
                   class="mr-1"></fa-icon>
          {{'portal.global.enter' | translate}}
        </a>
      </div>
    </div>
  </div>


</div>
