@import "../../../../scss/common/colors";
@import "../../../../scss/common/_variables";
@import '../../../../../node_modules/bootstrap/scss/functions';
@import '../../../../../node_modules/bootstrap/scss/variables';
@import '../../../../../node_modules/bootstrap/scss/mixins';

:host {
  padding: 2px 10px;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 20px;
  font-size: x-small;
  z-index: $z-index-footer;
  background-color: $color-dark-grey;
  color: $color-white;
  pointer-events: none;

  a {
    float: right;
    color: $color-white;
    pointer-events: all;
  }
}

