@import "../../../../../../scss/common/colors";

.file {
  display: flex;
  align-items: center;
  border: 1px solid $color-medium-grey;
  height: 46px;
  .file-size {
    color: $color-grey;
    white-space: nowrap;
  }
  .file-name {
    max-width: 100%;
  }
}
