<div class="file p-2 mt-2"
     [class.disabled]="isDisabled">
  <alv-file [fileName]="fileName"
            [fileType]="fileType"
            [downloadFile$]="downloadFile$"
            [class.has-remove-button]="showRemoveButton"
            iconSize="lg">
  </alv-file>
  <div class="file-size ml-2">
    <small class="d-block">{{fileSize | bytes}}</small>
  </div>
  <div class="flex-grow-1 ml-2"></div>
  <button *ngIf="showRemoveButton"
          type="button"
          class="btn btn-toggle-icon"
          [disabled]="isDisabled"
          (click)="remove()">
    <fa-icon [icon]="['fas', 'times']"
             size="xs"
             class="remove-button">
    </fa-icon>
  </button>
</div>

