@import "../../../../../scss/common/colors";

.label {
  font-size: 16px;
}

.checkbox-radio:not(:first-of-type) {
  margin-top: 0.5rem;
}

/* removes the margin of the form group */
:host-context(.narrow-form) {
  .form-group{
    margin-bottom: 0;
  }
}

.form-check-label {
  padding-left: 2rem;
}

.checkbox-radio {
  /* Outer box of the fake radio button */
  label::before {
    height: 18px;
    width: 18px;

    border: 1px solid $color-grey;
    background-color: $color-white;
    border-radius: 50%;

    left: 0;
    top: 3px;
  }

  /* Check mark of the fake radio button */
  label::after {
    height: 10px;
    width: 10px;
    background-color: $color-dark-grey;
    border-radius: 50%;
    left: 4px;
    top: 7px;
  }
}

