<alv-modal modalTitle="blacklisted-agent.create-blacklist-entry"
           primaryLabel="blacklisted-agent.create-blacklist-entry"
           (primaryAction)="confirmOrganizationAndCloseModal()"
           cancelLabel="blacklisted-agent.change-status-dialog.cancel"
           (cancelAction)="modal.dismiss()"
           [formGroup]="form">
  <p>{{'blacklisted-agent.choose-organisation-desc' | translate}}</p>
  <div style="height: 60px;">
    <alv-single-typeahead (itemSelected)="itemSelected($event)"
                          [autofocus]="true"
                          [loadItems]="searchOrganizationsFn"
                          alvFormControlName="organization"
                          label="blacklisted-agent.choose-organisation-placeholder">
    </alv-single-typeahead>
  </div>
  <div *ngIf="selectedOrganisation">
    <p><strong>{{'blacklisted-agent.selected-organisation-desc' | translate}}</strong></p>
    <address>
      {{selectedOrganisation.name}}<br>
      {{selectedOrganisation.street}}<br>
      {{selectedOrganisation.zipCode}} {{selectedOrganisation.city}}<br>
    </address>

    <p><strong>{{'blacklisted-agent.confirm-alert' | translate}}</strong></p>

  </div>
</alv-modal>
