<fieldset [formGroup]="locationGroup">
  <legend class="sr-only">{{'home.tools.job-publication.locality.title' | translate }}</legend>

  <alv-select label="home.tools.job-publication.locality.country"
              alvFormControlName="countryIsoCode"
              [options$]="countryOptions$"></alv-select>

  <ng-container *ngIf="isCityZipAutocomplete()">
    <alv-single-typeahead label="home.tools.job-publication.locality.zipcode"
                          alvFormControlName="zipAndCity"
                          [loadItems]="loadLocationsFn">
    </alv-single-typeahead>
  </ng-container>

  <div class="form-row" *ngIf="!isCityZipAutocomplete()" [formGroup]="locationGroup.get('zipAndCity')">
    <div class="col-4">
      <alv-input-field label="home.tools.job-publication.locality.zip"
                       alvFormControlName="zipCode">
      </alv-input-field>
    </div>

    <div class="col-8">
      <alv-input-field label="home.tools.job-publication.locality.city"
                       alvFormControlName="city">
      </alv-input-field>
    </div>
  </div>

  <alv-input-field label="home.tools.job-publication.locality.additional-text"
                   alvFormControlName="remarks"
                   placeholder="portal.job-publication.locality.additional-text.placeholder"
                   [multiline]="true"
                   [maxLength]="255"
                   [showCharacterCounter]="true">
  </alv-input-field>

</fieldset>
