@import '../../../../../node_modules/bootstrap/scss/functions';
@import '../../../../../node_modules/bootstrap/scss/variables';
@import '../../../../../node_modules/bootstrap/scss/mixins';

.side-panel {
  position: sticky;
  top: 1.5rem;
}

@include media-breakpoint-down(sm) {
  .side-panel {
    position: relative;
    top: 0;
  }
}

