@media screen and (max-width: 767px){
    .system-notification:first-child {
        margin-top: 0.2rem;
    }
}

.system-notification {
    margin-left:295px;
    background-color: #fde9a4;
    line-height: 2;

  .warning-icon {
        color: white;
        width: 2.4rem;
        display: inline-block;
        text-align: center;
        background-color: #f46401;
    }

    .system-notification-text {
        font-weight: 300;
        margin-left: 0.5rem;
    }

    .close-icon {
        margin-right: 0.5rem;
        color: grey;
        float: right;
    }
}
