.system-notification-systemerror {
  margin-left: 295px;
  background-color: #ffe4e0;
  line-height: 2;

  .icon {
    color: white;
    width: 2.6rem;
    display: inline-block;
    text-align: center;
    background-color: #D90000;
  }
}

.system-notification-maintenance {
  margin-left: 295px;
  background-color: #fde9a4;
  line-height: 2;

  .icon {
    color: white;
    width: 2.6rem;
    display: inline-block;
    text-align: center;
    background-color: #f46401;
  }
}

.system-notification-text {
  font-weight: 300;
  margin-left: 0.6rem;
}

.close-icon {
  margin-right: 0.5rem;
  color: grey;
  float: right;
}

.system-notification-type {
  margin-left: 0.6rem;
  font-weight: 600;
}
