<div class="w-100"
     *ngIf="control">
  <div class="form-label-group position-relative"
       [class.invalid]="control.touched && control.invalid">
    <span *ngIf="required && !readonly"
          class="required-indicator h-100">
    </span>

    <a *ngIf="!readonly"
       class="form-control typeahead-form-control d-flex flex-row flex-wrap"
       [class.has-focus]="hasFocus()"
       [class.placeholder-shown]="showPlaceholder()"
       (click)="inputField?.focus()">

      <fieldset>
        <legend class="sr-only">Selected Items</legend>
        <div class="badge typeahead-badge"
             *ngFor="let item of selectedItems; let i = index"
             [ngClass]="getItemClass(item)">
          <span class="typeahead-multiselect__tag-title">{{item.label}}</span>
          <button class="remove-button ml-1"
                  (click)="removeItem(item)"
                  aria-label="Remove Item">
            <i class="fa fa-times"></i>
          </button>
          <!-- a11y -->
          <input class="sr-only"
                 [attr.id]="id + '-selected-' + i"
                 type="checkbox"
                 tabindex="-1"
                 checked/>
          <label class="sr-only"
                 [for]="id + '-selected-' + i">
            {{item.label}}
          </label>
        </div>

      </fieldset>
      <input
          [attr.id]="id"
          [attr.required]="required"
          [attr.aria-required]="!!required"
          [attr.aria-describedby]="validationId"
          [ngbTypeahead]="wrappedItemLoaderFn"
          [resultFormatter]="formatResultItem"
          [container]="'body'"
          [resultTemplate]="template"
          [focusFirst]="focusFirst"
          [style.width]="getInputWidth()"
          [editable]="editable"
          [(ngModel)]="inputValue"
          (selectItem)="selectItem($event)"
          (blur)="control.markAsTouched()"
          #inputField>

    </a>
    <label [for]="id">
      {{label}}
    </label>

    <div *ngIf="readonly"
         [class.placeholder-shown]="!control.value"
         class="readonly-input">
      {{control.value}}
    </div>

    <ng-template #template
                 let-result="result"
                 let-term="term"
                 let-formatter="formatter">
      <div class="position-relative">
        <div *ngIf="result.firstInGroup"
             class="typeahead-group-label pull-right"
             [ngClass]="getTypeClass(result.model)">
          <!--{{'typeahead-multiselect.type.' + result.model.type }}-->
          {{ result.model.type }}
        </div>
        <div [ngClass]="{'first-in-group-item': result.firstInGroup && !result.first}">
          <ngb-highlight [result]="formatResultItem(result.model)"
                         [term]="term"></ngb-highlight>
        </div>
      </div>

    </ng-template>

  </div>
  <alv-validation-messages *ngIf="!readonly"
                           [control]="control"
                           [id]="validationId"
                           [customValidationMessages]="validationMessages">
  </alv-validation-messages>
</div>
