@import "../../../../../scss/common/colors";

.form-label-group {
  &.invalid .typeahead-form-control.has-focus {
    box-shadow: 0 0 0 0.2rem $color-red-transparent;
  }
  .typeahead-form-control {
    display: flex;
    height: inherit !important;
    &.has-focus {
      box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
    }
    input {
      &:focus {
        border: none;
        box-shadow: none;
        outline: none;
      }
      background: transparent;
      padding: 0 !important;
      border: 0;
    }
    .typeahead-badge {
      font-weight: 500;
      margin: 2px 1px 0;
      border-radius: 1px;
      .remove-button {
        cursor: pointer;
        padding: 0.1rem;
        border: none;
        background-color: transparent;
        &:hover {
          color: darken($color-white, 10%);
        }
      }
    }
  }
}

/* Grouping styles */
.typeahead-group-label {
  color: $color-white;
  position: absolute;
  top: -.25rem;
  right: -1.5rem;
  font-size: 80%;
  padding: 0 .25rem;
}

.first-in-group-item {
  padding-top: 1rem;
  .first-in-group-border {
    border-top: 1px solid $color-grey;
    margin: -1.25rem -1.5rem .5rem;
  }
}

/* Mixin to create color schemes for typeahead types like occupation, free-text, etc. */
@mixin typeaheadColorScheme($background, $foreground) {
  background-color: $background;
  color: $foreground;
  .remove-button {
    color: $foreground;
  }
}

.typeahead-free-text {
  @include typeaheadColorScheme($color-yellow, $color-dark-grey);
}

.typeahead-occupation {
  @include typeaheadColorScheme($color-green, $color-white);
}

.typeahead-canton {
  @include typeaheadColorScheme($color-blue, $color-white);
}

.typeahead-locality {
  @include typeaheadColorScheme($color-green, $color-white);
}



