@import '../../../../../../node_modules/bootstrap/scss/functions';
@import '../../../../../../node_modules/bootstrap/scss/variables';
@import '../../../../../../node_modules/bootstrap/scss/mixins';


.upload-instruction-desktop {
  display: list-item;
}
.upload-instruction-mobile {
  display: none;
}

@include media-breakpoint-down(sm) {
  .upload-instruction-desktop {
    display: none;
  }
  .upload-instruction-mobile {
    display: list-item;
  }
}
