<header id="header">
  <!-- a11y -->
  <h1 class="sr-only">Header</h1>

  <div class="header p-0 pt-lg-3 pb-lg-3 d-flex align-items-center">
    <a routerLink="/">
      <div class="logo pl-2 d-none d-lg-flex">

        <img src="assets/img/logo_arbeit_swiss.svg"
             alt="Logo Arbeitslosenversicherung">
        <span class="logo-text">eServices</span>
      </div>
    </a>
    <button class="header-menu d-md-block d-lg-none align-self-center"
            aria-label="Open Navigation"
            *alvIsAuthenticated
            (click)="toggleNavigation()">
      <i class="navbar-toggler-icon fas fa-bars"></i>
    </button>
    <div class="flex-grow-1"></div>

    <alv-user-menu *ngIf="user"
                   [user]="user"
                   [noEiam]="noEiam">
    </alv-user-menu>

    <button *ngIf="!user"
            class="btn btn-primary"
            (click)="login()">
      {{'global.menu.account.login'|translate}}
    </button>


    <div *ngIf="currentLanguage$|async as currentLanguage"
         class="language-switchers">
      <div class="header-buttons ml-1 d-none d-lg-flex align-items-center">
        <a href="https://www.arbeit.swiss"
           target="_blank"
           rel="noopener"
           class="mx-2">Hilfe</a>
        <ng-container *ngFor="let language of LANGUAGES">
          <button (click)="changeLanguage(language)"
                  class="language-switch-button text-uppercase"
                  [ngClass]="{active: language===currentLanguage}">{{language}}
          </button>
        </ng-container>
      </div>
      <div ngbDropdown
           placement="bottom-right"
           class="d-flex d-lg-none d-xl-none header-buttons align-items-center">
        <button class="btn btn-secondary text-uppercase"
                id="dropdownBasic1"
                ngbDropdownToggle>{{currentLanguage}}
        </button>
        <div ngbDropdownMenu>
          <ng-container *ngFor="let language of LANGUAGES">
            <button (click)="changeLanguage(language)"
                    class="dropdown-item language-switch-button"
                    [ngClass]="{active: language===currentLanguage}">
              {{'global.reference.language.' + language | translate}}
            </button>
          </ng-container>
        </div>
      </div>
    </div>

  </div>
</header>
