<header id="header">
  <!-- a11y -->
  <h1 class="sr-only">{{'portal.header.header-label' | translate}}</h1>

  <div class="header p-0 d-flex align-items-center">
    <div class="mobile-logo d-block d-lg-none text-center position-absolute w-100">
      <img class="mr-1"
           src="assets/img/logo_arbeit_swiss_without_text.svg"
           [attr.alt]="'portal.home.logo-alttext' | translate"
           height="22">
      Job-Room
    </div>

    <a routerLink="/">
      <div class="logo d-none d-lg-flex">
        <img *ngIf="logoUrl$ | async as logoUrl"
             [src]="logoUrl"
             [attr.alt]="'portal.home.logo-alttext' | translate ">
      </div>
    </a>

    <button class="header-menu d-lg-none align-self-center"
            [attr.aria-label]="'portal.header.menu.open-navigation' | translate"
            (click)="toggleMobileNavigation()">
      <fa-icon class="navbar-toggler-icon"
               [icon]="['fas', 'bars']"></fa-icon>
    </button>

    <div class="flex-grow-1"></div>


    <div class="header-buttons d-none d-lg-flex align-items-center">
      <a class="btn mr-3"
         routerLink="home"
         [attr.aria-label]="'global.menu.home' | translate"
         placement="bottom"
         [ngbTooltip]="'global.menu.home' | translate">
        <fa-icon [icon]="['fas', 'home']"></fa-icon>
      </a>
      <a class="btn mr-3"
         [href]="'home.contactform.url' | translate"
         target="_blank"
         rel="noopener">
        {{'portal.header.contact' | translate}}
      </a>

      <alv-user-menu *ngIf="user"
                     [user]="user"
                     [company]="company">
      </alv-user-menu>
      <a class="btn mr-3"
         *alvIsAnonymous
         [href]="'home.registration.url' | translate"
         target="_blank"
         rel="noopener">
        {{'global.menu.account.registration.text' | translate}}
      </a>
    </div>

    <button *alvIsAnonymous
            class="btn btn-primary d-none d-lg-block"
            data-test="loginRegister"
            (click)="login()">
      {{'global.menu.account.login'|translate}}
    </button>

    <div *ngIf="currentLanguage$ | async as currentLanguage"
         class="language-switchers">
      <div class="header-buttons d-none d-lg-flex align-items-center">
        <a class="mx-3"
           [href]="'home.title.portal-url' | translate"
           target="_blank"
           [innerHTML]="'home.title.cms'| translate "
           rel="noopener">
        </a>
        <ng-container *ngFor="let language of LANGUAGES">
          <button (click)="changeLanguage(language)"
                  class="language-switch-button text-uppercase"
                  attr.data-test="language-switcher-{{language}}"
                  [ngClass]="{active: language===currentLanguage}">{{language}}
          </button>
        </ng-container>
      </div>
      <div ngbDropdown
           placement="bottom-right"
           class="d-flex d-lg-none d-xl-none header-buttons align-items-center">
        <button class="btn btn-secondary text-uppercase"
                id="dropdownBasic1"
                ngbDropdownToggle>{{currentLanguage}}
        </button>
        <div ngbDropdownMenu>
          <ng-container *ngFor="let language of LANGUAGES">
            <button (click)="changeLanguage(language)"
                    class="dropdown-item language-switch-button"
                    [ngClass]="{active: language===currentLanguage}">
              {{'global.reference.language.' + language | translate}}
            </button>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</header>
