<alv-two-column-layout [showLeftColumn]="false">
  <div class="right-column">
    <alv-collapse-panel panelTitle="debug">
      <pre [innerHTML]="workEffortFormGroup.value | prettyjson"></pre>
    </alv-collapse-panel>
  </div>
  <div class="main-column">
    <form [formGroup]="workEffortFormGroup">
      <!--      Date-->
      <alv-collapse-panel panelTitle="portal.work-efforts.edit-form.application-date-panel-label">
        <alv-date-input alvFormControlName="date"
                        label="portal.global.date"
                        container="body">
        </alv-date-input>
      </alv-collapse-panel>

      <!--      Apply channel-->
      <alv-collapse-panel panelTitle="portal.work-efforts.edit-form.way-of-application-panel-label">
        <fieldset formGroupName="applyChannels">
          <ng-container *ngFor="let applyChannelCheckbox of applyChannelsCheckboxNames">
            <alv-checkbox [alvFormControlName]="applyChannelCheckbox"
                          [label]="'portal.work-efforts.edit-form.apply-channel.' + applyChannelCheckbox">
            </alv-checkbox>
          </ng-container>
        </fieldset>
      </alv-collapse-panel>
      <!--      ADDRESS AND COMPANY DETAILS SECTION -->
      <alv-collapse-panel panelTitle="portal.work-efforts.edit-form.company-panel-label">
        <alv-input-field [maxLength]="NAME_MAX_LENGTH"
                         alvFormControlName="companyName"
                         label="home.tools.job-publication.company.name">
        </alv-input-field>
        <fieldset formGroupName="companyAddress">
          <div class="form-row">
            <div class="col-8"
                 formGroupName="postOfficeBoxNumberOrStreet">
              <alv-input-field [maxLength]="STREET_MAX_LENGTH"
                               [showGroupErrors]="true"
                               [validationMessages]="[{
                                error: 'atLeastOneRequired',
                                message: 'home.tools.job-publication.messages.validate.at-least-one-required-street-or-pobox'}
                                ]"
                               alvFormControlName="street"
                               label="home.tools.job-publication.company.street">
              </alv-input-field>
              <div class="col-4">
                <alv-input-field [maxLength]="HOUSE_NUMBER_MAX_LENGTH"
                                 alvFormControlName="houseNumber"
                                 label="home.tools.job-publication.company.house-number">
                </alv-input-field>
              </div>

              <alv-input-field [maxLength]="PO_BOX_MAX_LENGTH"
                               [showGroupErrors]="true"
                               [validationMessages]="[{
                        error: 'atLeastOneRequired', message: 'home.tools.job-publication.messages.validate.at-least-one-required-street-or-pobox'
                     }]"
                               alvFormControlName="postOfficeBoxNumber"
                               label="home.tools.job-publication.company.postbox-number">
              </alv-input-field>
            </div>

          </div>

          <!--                    <alv-zip-city-input [parentForm]="workEffortFormGroup.get('companyAddress')"-->
          <!--                                        [zipCityFormValue]="postAddressFormValue.zipAndCity"-->
          <!--                                        [countryIsoCode]="countryIsoCode$ | async">-->
          <!--                    </alv-zip-city-input>-->

          <alv-select [options$]="countryOptions$"
                      alvFormControlName="countryIsoCode"
                      label="home.tools.job-publication.company.country"></alv-select>

        </fieldset>

        <alv-input-field alvFormControlName="contactPerson"
                         label="portal.work-efforts.edit-form.contact-person">
        </alv-input-field>

        <fieldset formGroupName="companyEmailAndUrl">
          <alv-input-field [showGroupErrors]="true"
                           alvFormControlName="email"
                           label="portal.global.email">
          </alv-input-field>
          <alv-input-field [showGroupErrors]="true"
                           alvFormControlName="url"
                           label="portal.work-efforts.edit-form.company.online-form-url">
          </alv-input-field>
        </fieldset>

        <alv-input-field [showGroupErrors]="true"
                         alvFormControlName="phone"
                         label="portal.global.phone"
                         placeholder="portal.global.phone-swiss-example"
                         type="tel">
        </alv-input-field>
      </alv-collapse-panel>

      <!--      Occupation-->
      <alv-collapse-panel panelTitle="portal.work-efforts.edit-form.occupation-panel-label">
        <alv-input-field [showGroupErrors]="true"
                         alvFormControlName="occupation"
                         label="portal.global.job-title">
        </alv-input-field>
      </alv-collapse-panel>

      <!-- todo     Is it a RAV-job?-->
      <alv-collapse-panel panelTitle="portal.work-efforts.edit-form.rav-helped-label">

      </alv-collapse-panel>

      <!--      Contract type-->
      <alv-collapse-panel panelTitle="portal.work-efforts.edit-form.work-load-panel-label">
        <alv-radio-button
          [options$]="workLoadOptions$"
          alvFormControlName="workload"
          class="narrow-form">
        </alv-radio-button>
      </alv-collapse-panel>

      <!--      Results and rejection reason -->
      <alv-collapse-panel panelTitle="portal.work-efforts.edit-form.result">
        <fieldset formGroupName="results">
          <ng-container *ngFor="let resultCheckbox of resultsCheckboxNames">
            <div class="alv-light-panel p-2 mb-1">
              <alv-checkbox
                [alvFormControlName]="resultCheckbox"
                [label]="'portal.work-efforts.edit-form.results.' + resultCheckbox"
                class="narrow-form">
              </alv-checkbox>
            </div>
          </ng-container>
        </fieldset>
      </alv-collapse-panel>
      <alv-alert [hideDismiss]="true"
                 [notification]="bottomAlert"></alv-alert>
      <button class="btn btn-outline-secondary">{{'portal.global.cancel' | translate}}</button>
      <button class="btn btn-primary">{{'entity.action.save' | translate}}</button>

    </form>
  </div>
</alv-two-column-layout>
