<div class="container-fluid pt-2 pt-lg-4">
  <alv-assistant-layout [stickyTop]="layoutConstants.STICKY_TOP_DETAIL">
    <div class="left-column">
      <!--        todo this is a stub. The assistant for all steps needs to be specified and implemented in the future-->
      <a class="btn btn-text btn-text-icon btn-truncate mb-3 d-none d-lg-block d-print-none"
         routerLink="/work-efforts">
        <fa-icon class="mr-1"
                 [icon]="['fas', 'caret-left']"></fa-icon>
        {{'entity.action.back' | translate}}
      </a>
      <alv-assistant-link [isActive]="true"
                          class="d-none d-lg-block d-print-none"
                          [link]="{
          labelKey: 'portal.work-efforts.assistant-label',
          routerLink: '.'
        }">
      </alv-assistant-link>

    </div>
    <div class="main-column">
      <div class="d-block d-lg-none w-100 mb-4"
           ngbDropdown
           placement="bottom">
        <button class="btn btn-secondary btn-block py-1"
                ngbDropdownToggle>
          {{'portal.navigation.menu-entry.work-efforts'|translate}}
        </button>
        <div class="w-100"
             ngbDropdownMenu>
          <button *ngFor="let toolbarButton of toolbarButtons"
                  [routerLink]="toolbarButton.route"
                  class="dropdown-item"
                  ngbDropdownItem
                  routerLinkActive="active">
            {{toolbarButton.label | translate}}
          </button>
        </div>
      </div>
      <h2>
        <alv-custom-icon class="text-primary"
                         aria-hidden="true"
                         [iconKey]="IconKey.WORK_EFFORTS">
        </alv-custom-icon>
        {{'portal.work-efforts.edit-form.title' | translate}}
      </h2>
      <hr class="mb-4">
      <form (validSubmit)="submit()"
            [formGroup]="workEffortFormGroup"
            class="mb-4"
            alvFormSubmitValidation>
        <!--      Date-->
        <alv-collapse-panel panelTitle="portal.work-efforts.edit-form.application-date-panel-label"
                            [isAlwaysExpanded]="true">
          <fieldset>
            <legend class="sr-only">{{'portal.work-efforts.edit-form.application-date-panel-label' | translate}}</legend>
            <div class="alv-light-panel p-2 pb-0 mb-0">
              <alv-date-input alvFormControlName="date"
                              [minDate]="minDate"
                              [maxDate]="maxDate"
                              [validationMessages]="dateValidationMessages"
                              label="portal.global.date"
                              container="body">
              </alv-date-input>
            </div>
          </fieldset>
        </alv-collapse-panel>

        <div class="arrow-container">
          <div class="arrow-down secondary">
          </div>
        </div>

        <!--      Apply channel-->
        <alv-collapse-panel panelTitle="portal.work-efforts.edit-form.way-of-application-panel-label"
                            [isAlwaysExpanded]="true">
          <fieldset formGroupName="applyChannels">
            <legend class="sr-only">{{'portal.work-efforts.edit-form.way-of-application-panel-label' | translate}}</legend>
            <div *ngFor="let applyChannelCheckbox of applyChannelsCheckboxNames; let last = last"
                 class="alv-light-panel p-2"
                 [class.mb-1]="!last">
              <alv-checkbox [alvFormControlName]="applyChannelCheckbox"
                            [label]="'portal.work-efforts.edit-form.apply-channel.' + applyChannelCheckbox">
              </alv-checkbox>
            </div>
            <alv-validation-messages id="application-at-least-one-required-msg-id"
                                     [control]="workEffortFormGroup.get('applyChannels')"
                                     [customValidationMessages]="[{
                                        error: 'atLeastOneRequired',
                                        message: 'portal.work-efforts.edit-form.group-errors.at-least-one-apply-channel-required'
                                      }]">
            </alv-validation-messages>
          </fieldset>
        </alv-collapse-panel>

        <div class="arrow-container">
          <div class="arrow-down secondary">
          </div>
        </div>
        <!--      ADDRESS AND COMPANY DETAILS SECTION -->
        <alv-collapse-panel panelTitle="portal.work-efforts.edit-form.company-panel-label"
                            class="pb-0"
                            [isAlwaysExpanded]="true">
          <fieldset>
            <legend class="sr-only">{{'portal.work-efforts.edit-form.company-panel-label' | translate}}</legend>

            <alv-input-field [maxLength]="NAME_MAX_LENGTH"
                             [showCharacterCounter]="true"
                             alvFormControlName="companyName"
                             label="home.tools.job-publication.company.name">
            </alv-input-field>
            <fieldset formGroupName="companyAddress">
              <div formGroupName="postOfficeBoxNumberOrStreet"
                   class="form-row">
                <alv-input-field [maxLength]="STREET_MAX_LENGTH"
                                 [showGroupErrors]="true"
                                 [isRequired]="isStreetRequired()"
                                 [validationMessages]="[{
                                error: 'atLeastOneRequired',
                                message: 'home.tools.job-publication.messages.validate.at-least-one-required-street-or-pobox'
                                }]"
                                 alvFormControlName="street"
                                 class="col-8"
                                 label="home.tools.job-publication.company.street">
                </alv-input-field>
                <alv-input-field [maxLength]="HOUSE_NUMBER_MAX_LENGTH"
                                 alvFormControlName="houseNumber"
                                 class="col-4"
                                 label="home.tools.job-publication.company.house-number">
                </alv-input-field>

                <alv-input-field [maxLength]="PO_BOX_MAX_LENGTH"
                                 [showGroupErrors]="true"
                                 [isRequired]="isPoBoxRequired()"
                                 [validationMessages]="[{
                              error: 'atLeastOneRequired',
                              message: 'home.tools.job-publication.messages.validate.at-least-one-required-street-or-pobox'
                     }]"
                                 alvFormControlName="postOfficeBoxNumber"
                                 label="home.tools.job-publication.company.postbox-number"
                                 class="col-12">
                </alv-input-field>
              </div>

              <alv-zip-city-input [parentForm]="workEffortFormGroup.get('companyAddress')"
                                  [zipCityFormValue]="initialZipAndCity"
                                  [validators]="zipCityValidators"
                                  [countryIsoCode]="countryIsoCode$ | async"
                                  [isRequired]="isCompanyAddressRequired()">
              </alv-zip-city-input>

              <alv-select [options$]="countryOptions$"
                          alvFormControlName="countryIsoCode"
                          label="home.tools.job-publication.company.country">
              </alv-select>

            </fieldset>

            <alv-input-field alvFormControlName="contactPerson"
                             [isRequired]="isContactPersonRequired()"
                             [maxLength]="CONTACT_PERSON_MAX_LENGTH"
                             [showCharacterCounter]="true"
                             label="portal.work-efforts.edit-form.contact-person">
            </alv-input-field>

            <fieldset formGroupName="companyEmailAndUrl">
              <alv-input-field [showGroupErrors]="true"
                               alvFormControlName="email"
                               [validationMessages]="[{
                                error: 'atLeastOneRequired',
                                message: 'portal.work-efforts.edit-form.group-errors.email-or-url-required'}
                                ]"
                               [isRequired]="isCompanyEmailRequired()"
                               [maxLength]="EMAIL_MAX_LENGTH"
                               [showCharacterCounter]="true"
                               placeholder="portal.work-efforts.edit-form.email.placeholder"
                               label="portal.global.email">
              </alv-input-field>
              <alv-input-field [showGroupErrors]="true"
                               alvFormControlName="url"
                               label="portal.work-efforts.edit-form.company.online-form-url.label"
                               placeholder="portal.work-efforts.edit-form.company.online-form-url.placeholder"
                               [isRequired]="isCompanyUrlRequired()"
                               [validationMessages]="[{
                                error: 'atLeastOneRequired',
                                message: 'portal.work-efforts.edit-form.group-errors.email-or-url-required'},
                                {error: 'urlValidator',
                                message: 'portal.work-efforts.edit-form.errors.url-format'}
                           ]">
              </alv-input-field>
            </fieldset>

            <alv-input-field class="mb-0"
                             alvFormControlName="phone"
                             label="portal.global.phone"
                             [isRequired]="isPhoneRequired()"
                             placeholder="portal.global.phone-swiss-example"
                             type="tel">
            </alv-input-field>
          </fieldset>

        </alv-collapse-panel>

        <div class="arrow-container">
          <div class="arrow-down secondary">
          </div>
        </div>

        <!--      Occupation-->
        <alv-collapse-panel panelTitle="portal.work-efforts.edit-form.occupation-panel-label"
                            [isAlwaysExpanded]="true">
          <fieldset>
            <legend class="sr-only">{{'portal.work-efforts.edit-form.occupation-panel-label' | translate}}</legend>
            <alv-input-field alvFormControlName="occupation"
                             class="mb-0"
                             label="portal.global.job-title"
                             [maxLength]="OCCUPATION_MAX_LENGTH"
                             [showCharacterCounter]="true">
            </alv-input-field>
          </fieldset>
        </alv-collapse-panel>

        <div class="arrow-container">
          <div class="arrow-down secondary">
          </div>
        </div>

        <alv-collapse-panel panelTitle="portal.work-efforts.edit-form.rav-helped-label"
                            [isAlwaysExpanded]="true">
          <fieldset>
            <legend class="sr-only">{{'portal.work-efforts.edit-form.rav-helped-label' | translate}}</legend>
            <alv-radio-button
              [options$]="appliedThroughRavOptions$"
              alvFormControlName="appliedThroughRav"
              class="narrow-form"
              radioButtonClass="alv-light-panel p-2 mb-1">
            </alv-radio-button>
          </fieldset>
        </alv-collapse-panel>
        <div class="arrow-container">
          <div class="arrow-down secondary">
          </div>
        </div>
        <!--      Contract type-->
        <alv-collapse-panel panelTitle="portal.work-efforts.edit-form.work-load-panel-label"
                            [isAlwaysExpanded]="true">
          <fieldset>
            <legend class="sr-only">{{'portal.work-efforts.edit-form.work-load-panel-label' | translate}}</legend>
            <alv-radio-button
              [options$]="workLoadOptions$"
              alvFormControlName="workload"
              class="narrow-form"
              radioButtonClass="alv-light-panel p-2 mb-1">
            </alv-radio-button>
          </fieldset>
        </alv-collapse-panel>

        <div class="arrow-container">
          <div class="arrow-down secondary">
          </div>
        </div>
        <!--      Results and rejection reason -->
        <alv-collapse-panel panelTitle="portal.work-efforts.edit-form.apply-status.label"
                            [isAlwaysExpanded]="true">
          <fieldset>
            <legend class="sr-only">{{'portal.work-efforts.edit-form.apply-status' | translate}}</legend>
            <div formGroupName="applyStatus">
              <div *ngFor="let applyStatusCheckbox of applyStatusCheckboxNames"
                   class="alv-light-panel p-2 mb-1">
                <alv-checkbox
                  [alvFormControlName]="applyStatusCheckbox"
                  [label]="'portal.work-efforts.edit-form.apply-status.' + applyStatusCheckbox"
                  class="narrow-form">
                </alv-checkbox>
              </div>
              <alv-validation-messages [control]="workEffortFormGroup.get('applyStatus')"
                                       [customValidationMessages]="[{
                                        error: 'atLeastOneRequired',
                                        message: 'portal.work-efforts.edit-form.group-errors.at-least-one-apply-status-required'
                                      }]">
              </alv-validation-messages>
            </div>
            <ng-container *ngIf="workEffortFormGroup?.get('applyStatus')?.get('REJECTED')?.value">
              <div class="arrow-container">
                <div class="arrow-down">
                </div>
              </div>
              <alv-input-field [isRequired]="workEffortFormGroup?.get('applyStatus')?.get('REJECTED')?.value"
                               alvFormControlName="rejectionReason"
                               label="portal.work-efforts.edit-form.rejection-reason">
              </alv-input-field>
            </ng-container>
          </fieldset>

        </alv-collapse-panel>
        <alv-alert [hideDismiss]="true"
                   [notification]="bottomAlert">
          <div *ngFor="let number of [1,2,3,4,5,6]">
            {{'portal.work-efforts.edit-form.note.note-text.paragraph' + number | translate}}
          </div>
        </alv-alert>
        <div class="d-flex justify-content-end">
          <ng-container *ngIf="!readonly">
            <button (click)="goToWorkEffortsList()"
                    [disabled]="isSubmitting"
                    type="button"
                    class="btn btn-text">{{('portal.global.cancel') | translate}}</button>
            <button type="submit"
                    [disabled]="isSubmitting"
                    class="btn btn-primary ml-1">{{'entity.action.save' | translate}}</button>
          </ng-container>

          <button *ngIf="readonly"
                  (click)="goToWorkEffortsList()"
                  type="button"
                  class="btn btn-primary">
            {{'entity.action.back' | translate}}
          </button>
        </div>
      </form>
    </div>
    <div class="right-column mb-3">
      <alv-link-panel [linkPanelId]="LinkPanelId.WORK_EFFORT_EDIT"
                      class="info-panel"
                      [numberOfColumns]="1">
      </alv-link-panel>
    </div>
  </alv-assistant-layout>
</div>
