<alv-two-column-layout [showLeftColumn]="false">
  <div class="main-column">
    <form [formGroup]="formGroup">
      <alv-collapse-panel panelTitle="portal.online-services.work-efforts.edit-form.application-date-panel-label">
        <alv-date-input alvFormControlName="date"
                        label="portal.online-services.work-efforts.edit-form.date-label">
        </alv-date-input>
        <alv-input-field alvFormControlName="date"></alv-input-field>
      </alv-collapse-panel>

      <alv-collapse-panel panelTitle="portal.online-services.work-efforts.edit-form.way-of-application-panel-label">
        <alv-checkbox alvFormControlName="onlineCheckbox"
                      label="portal.online-services.work-efforts.edit-form.way-of-application.online"></alv-checkbox>
        <alv-checkbox alvFormControlName="mailCheckbox"
                      label="portal.online-services.work-efforts.edit-form.way-of-application.mail"></alv-checkbox>
        <alv-checkbox alvFormControlName="personallyCheckbox"
                      label="portal.online-services.work-efforts.edit-form.way-of-application.personally"></alv-checkbox>
        <alv-checkbox alvFormControlName="phoneCheckbox"
                      label="portal.online-services.work-efforts.edit-form.way-of-application.phone"></alv-checkbox>


      </alv-collapse-panel>

      <alv-collapse-panel panelTitle="portal.online-services.work-efforts.edit-form.company-panel-label">
        <alv-post-address-form
          [parentForm]="formGroup"
          [postAddressFormValue]="postAddressFormValue"
          groupName="address"
        ></alv-post-address-form>
        <alv-input-field [showGroupErrors]="true"
                         alvFormControlName="email"
                         label="global.common-phrases.email">
        </alv-input-field>
        <alv-input-field [showGroupErrors]="true"
                         alvFormControlName="url"
                         label="portal.online-services.work-efforts.edit-form.company.url">
        </alv-input-field>
        <alv-input-field [showGroupErrors]="true"
                         alvFormControlName="phone"
                         label="global.common-phrases.phone"
                         placeholder="global.common-phrases.phone"
                         type="tel">
        </alv-input-field>
      </alv-collapse-panel>
      <alv-collapse-panel panelTitle="portal.online-services.work-efforts.edit-form.occupation-panel-label">
        <alv-input-field [showGroupErrors]="true"
                         alvFormControlName="occupation"
                         label="global.common-phrases.phone"
                         placeholder="portal.online-services.work-efforts.edit-form.occupation">
        </alv-input-field>
      </alv-collapse-panel>
      <alv-alert [hideDismiss]="true"
                 [notification]="bottomAlert"></alv-alert>
      <button class="btn btn-outline-secondary">Cancel</button>
      <button class="btn btn-primary">Save</button>

    </form>
  </div>
</alv-two-column-layout>
