@import "../../../../scss/colors";

.nav-link__icon {
  border: solid 2px $color-primary;
  border-radius: 50%;
  color: $color-primary;
  width: 78px;
  height: 78px;
  text-align: center;
  flex: 0 0 auto;
}
.inner-circle {
  position: absolute;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  i.fa {
    line-height: 2.1em;
  }
}

:host:hover, :host.active {
  &:not(.active) {
    background: white;
  }

  cursor: pointer;
  color: $color-white;
  .inner-circle {
    background-color: $color-red;
  }
  .nav-link__icon {
    color: $color-white;
  }
}

.nav-item__text {
  color: $color-dark-grey;
  font-weight: 500;
  font-size: 18px;
}


:host.active .nav-item__text {
  color: $color-red;
  font-weight: 700;
}
