<div class="container pt-md-4 pt-3 px-3">

  <div class="alv-panel mb-3">
    <h2 class="panel-title">
      <i class="panel-icon fas fa-balance-scale"></i>
      {{ 'portal.admin.legal-terms-management.title' | translate }}
    </h2>
  </div>

  <div class="table-responsive-sm">
    <table class="table table-sm d-block d-md-table"
           role="grid">
      <thead role="presentation">
      <tr role="row"
          class="d-none d-md-table-row">
        <th scope="col" role="columnheader">
          {{ 'portal.admin.legal-terms-management.header.effectiveAt' | translate }}
        </th>
        <th scope="col" role="columnheader">
          {{ 'portal.admin.legal-terms-management.header.linkDe' | translate }}
        </th>
        <th scope="col" role="columnheader">
          {{ 'portal.admin.legal-terms-management.header.linkEn' | translate }}
        </th>
        <th scope="col" role="columnheader">
          {{ 'portal.admin.legal-terms-management.header.linkFr' | translate }}
        </th>
        <th scope="col" role="columnheader">
          {{ 'portal.admin.legal-terms-management.header.linkIt' | translate }}
        </th>
        <th scope="col" role="columnheader">
          {{ 'portal.admin.legal-terms-management.header.actions' | translate }}
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let legalTerms of legalTermsEntries$ | async "
          class="tr-content d-block d-md-table-row"
          role="row">
        <td class="content-cell align-middle d-block d-md-table-cell"
            role="gridcell">
          {{ legalTerms.effectiveAt | date:'dd.MM.yyyy' }}
        </td>
        <td class="content-cell align-middle d-block d-md-table-cell"
            role="gridcell">
          {{ legalTerms.linkDe | translate }}
        </td>
        <td class="content-cell align-middle d-block d-md-table-cell"
            role="gridcell">
          {{ legalTerms.linkEn | translate }}
        </td>
        <td class="content-cell align-middle d-block d-md-table-cell"
            role="gridcell">
          {{ legalTerms.linkFr | translate }}
        </td>
        <td class="content-cell align-middle d-block d-md-table-cell"
            role="gridcell">
          {{ legalTerms.linkIt | translate }}
        </td>
        <td class="content-cell align-middle d-block d-md-table-cell"
            role="gridcell">
          {{ 'entity.action.view' | translate }}
        </td>
        <td class="content-cell align-middle d-block d-md-table-cell"
            role="gridcell">
          {{ 'entity.action.edit' | translate }}
        </td>
        <td class="content-cell align-middle d-block d-md-table-cell"
            role="gridcell">
          {{ 'entity.action.delete' | translate }}
        </td>
      </tr>
      </tbody>
    </table>

  </div>

</div>
