<div class="container pt-md-4 pt-3 px-3">

  <h2 class="panel-title">
    <fa-icon class="panel-icon"
             [icon]="['fas', 'balance-scale']"></fa-icon>
    {{ 'portal.admin.legal-terms-management.title' | translate }}
  </h2>

  <hr>

  <div class="d-block mb-3">
    <button (click)="onAdd()"
            class="btn btn-primary h-100">
      <fa-icon class="panel-icon"
               [icon]="['fas', 'plus']"></fa-icon>
      {{ 'portal.admin.legal-terms-management.legal-terms-details.add' | translate }}
    </button>
  </div>

  <table class="table table-striped"
         role="grid">
    <thead role="presentation">
    <tr role="row">
      <th scope="col"
          role="columnheader">
        {{ 'portal.admin.legal-terms-management.header.effective_at' | translate }}
      </th>
      <th scope="col"
          role="columnheader">
        {{ 'portal.admin.legal-terms-management.header.terms_of_usage_link_de' | translate }}
      </th>
      <th scope="col"
          role="columnheader">
        {{ 'portal.admin.legal-terms-management.header.terms_of_usage_link_en' | translate }}
      </th>
      <th scope="col"
          role="columnheader">
        {{ 'portal.admin.legal-terms-management.header.terms_of_usage_link_fr' | translate }}
      </th>
      <th scope="col"
          role="columnheader">
        {{ 'portal.admin.legal-terms-management.header.terms_of_usage_link_it' | translate }}
      </th>
      <th scope="col"
          role="columnheader"
          colspan="3">
        {{ 'portal.admin.legal-terms-management.header.actions' | translate }}
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let legalTerms of legalTermsEntries$ | async "
        role="row">
      <td class="content-cell align-middle"
          role="gridcell">
        {{ legalTerms.effectiveAt | date:'dd.MM.yyyy' }}
      </td>
      <td class="content-cell align-middle reverse-ellipsis"
          role="gridcell">
        <a href="{{ legalTerms.termsOfUsageLinkDe }}"
           target="_blank">
          {{ legalTerms.termsOfUsageLinkDe }}
        </a>
      </td>
      <td class="content-cell align-middle reverse-ellipsis"
          role="gridcell">
        <a href="{{ legalTerms.termsOfUsageLinkEn }}"
           target="_blank">
          {{ legalTerms.termsOfUsageLinkEn }}
        </a>
      </td>
      <td class="content-cell align-middle reverse-ellipsis"
          role="gridcell">
        <a href="{{ legalTerms.termsOfUsageLinkFr }}"
           target="_blank">
          {{ legalTerms.termsOfUsageLinkFr }}
        </a>
      </td>
      <td class="content-cell align-middle reverse-ellipsis"
          role="gridcell">
        <a href="{{ legalTerms.termsOfUsageLinkIt }}"
           target="_blank">
          {{ legalTerms.termsOfUsageLinkIt }}
        </a>
      </td>
      <td class="content-cell align-middle"
          role="gridcell">
        <button class="btn btn-primary btn-icon"
                [ngbTooltip]="'entity.action.view' | translate"
                (click)="onView(legalTerms)">
          <fa-icon [icon]="['fas', 'eye']"></fa-icon>
        </button>
      </td>
      <td class="content-cell align-middle"
          role="gridcell">
        <button *ngIf="isEffectiveAtInFuture(legalTerms.effectiveAt)"
                class="btn btn-primary btn-icon"
                [ngbTooltip]="'entity.action.edit' | translate"
                (click)="onUpdate(legalTerms)">
          <fa-icon [icon]="['fas', 'edit']"></fa-icon>
        </button>
      </td>
      <td class="content-cell align-middle"
          role="gridcell">
        <button *ngIf="isEffectiveAtInFuture(legalTerms.effectiveAt)"
                class="btn btn-primary btn-icon"
                [ngbTooltip]="'entity.action.delete' | translate"
                (click)="onDelete(legalTerms)">
          <fa-icon [icon]="['fas', 'trash']"></fa-icon>
        </button>
      </td>
    </tr>
    </tbody>
  </table>

</div>
