### build output ###
*/target/**

### mvn wrapper ###
!.mvn/wrapper/maven-wrapper.jar

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/alv-portal-ui/src/assets/i18n/en.json
/alv-portal-ui/src/assets/i18n/de.json
/alv-portal-ui/src/assets/i18n/fr.json
/alv-portal-ui/src/assets/i18n/it.json
