<address *ngIf="address; else printUnstructured">
  <b>{{address.name}}</b>
  <br>
  <span *ngIf="address.postOfficeBoxNumber; else noPostOfficeBoxNumber">
      {{'home.tools.job-publication.company.postbox' | translate}} {{address.postOfficeBoxNumber}}
    ,  {{address.postOfficeBoxPostalCode}}  {{address.postOfficeBoxCity}},
  </span>
  <ng-template #noPostOfficeBoxNumber>
    {{address.street}} {{address.houseNumber ? address.houseNumber + ',' : ''}}
    <br>
    {{address.postalCode}} {{address.city}}
  </ng-template>
</address>
<ng-template #printUnstructured>
  {{unstructuredAddress}}
</ng-template>
