@import "../../../../scss/common/colors";
@import "../../../../scss/common/_variables";
@import '../../../../../node_modules/bootstrap/scss/functions';
@import '../../../../../node_modules/bootstrap/scss/variables';
@import '../../../../../node_modules/bootstrap/scss/mixins';

:host {
  height: 100%;

  main {
    margin-top: $height-header-desktop;
    margin-bottom: $height-footer;
  }
}

@include media-breakpoint-down(md) {
  :host main {
    margin-top: $height-header-mobile;
  }
}

