@import "../../../../scss/common/colors";
@import "../../../../scss/common/_variables";
@import '../../../../../node_modules/bootstrap/scss/functions';
@import '../../../../../node_modules/bootstrap/scss/variables';
@import '../../../../../node_modules/bootstrap/scss/mixins';

:host {
  height: 100%;

  main {
    margin-top: $height-header-desktop;
    margin-bottom: $height-footer;
    background-size: cover;
    transition: background-image 0.5s ease-out;

    &.jobseeker-home {
      background-image: url("/assets/img/backgrounds/helmet-bg.jpeg");
    }

    &.company-home {
      background-image: url("/assets/img/backgrounds/handshake.jpeg");
    }

    &.pav-home {
      background-image: url("/assets/img/backgrounds/woman-phone.jpeg");
    }
  }
}

@include media-breakpoint-down(md) {
  :host main {
    margin-top: $height-header-mobile;
  }
}

@include media-breakpoint-down(sm) {
  :host main {
    &.jobseeker-home,
    &.company-home,
    &.pav-home {
      background-image: none;
    }
  }
}
