<div class="position-relative">
  <button class="title-bar btn d-flex align-items-center w-100"
          type="button"
          tabindex="-1"
          [class.collapsed]="isCollapsed"
          (click)="toggle()"
          [attr.aria-expanded]="!isCollapsed"
          [attr.aria-controls]="competenceSet.id">
    <fa-icon class="collapse-icon"
             [icon]="['fas', isCollapsed ? 'chevron-down' : 'chevron-up']"></fa-icon>
    <span class="mx-3">{{ 'Kompetenz-Set' | translate }}</span>
    <span class="mx-3">ID {{ competenceSet.id | slice:0:6 }}</span>
    <span class="flex-grow-1"></span>
  </button>
  <a class="edit-button btn btn-icon-sm light"
     [routerLink]="'./edit/' + competenceSet.id"
     *ngIf="showEditSetButton">
    <fa-icon [icon]="['fas', 'pen']"></fa-icon>
  </a>
</div>


<alv-competence-element *ngIf="competenceSet.actionToKnow; else actionToKnowPlaceholder"
                        [isEditable]="isEditable"
                        [competenceElement]="competenceSet.actionToKnow"
                        (elementClick)="openUpdateElementModal($event, elementType.ACTION_TO_KNOW)"
                        (unlinkClick)="unlinkActionToKnow($event)">
</alv-competence-element>
<ng-template #actionToKnowPlaceholder>
  <div class="alv-bar d-flex align-items-center w-100">
    {{'Handlungswissen' | translate}}

    <div class="flex-grow-1"></div>
    <button class="btn btn-icon-sm"
            (click)="addActionToKnow()">
      <fa-icon [icon]="['fas', 'search-plus']"></fa-icon>
    </button>
  </div>
</ng-template>
<div class="panel-content"
     [id]="competenceSet.id"
     [alvCollapse]="isCollapsed"
     [@expandCollapse]="isCollapsed ? 'closed' : 'open'">
  <alv-competence-elements-collapse-panel [competenceSetId]="competenceSet.id"
                                          [elementType]="elementType.ACTION_TO_KNOW_INDICATOR"
                                          [showAddButton]="isEditable"
                                          [isEmpty]="!actionToKnowIndicators?.length"
                                          [isCollapsed]="collapsed[elementType.ACTION_TO_KNOW_INDICATOR]"
                                          (addClicked)="addActionToKnowIndicator()">
    <alv-competence-element *ngFor="let indicator of actionToKnowIndicators"
                            [competenceElement]="indicator"
                            [isEditable]="isEditable"
                            (elementClick)="openUpdateElementModal($event, elementType.ACTION_TO_KNOW_INDICATOR)"
                            (unlinkClick)="unlinkCompetenceElement($event)">
    </alv-competence-element>
  </alv-competence-elements-collapse-panel>
  <alv-competence-elements-collapse-panel [competenceSetId]="competenceSet.id"
                                          [elementType]="elementType.KNOWLEDGE"
                                          [showAddButton]="isEditable"
                                          [isEmpty]="!knowledgeItems?.length"
                                          [isCollapsed]="collapsed[elementType.KNOWLEDGE]"
                                          (addClicked)="addKnowledgeItem()">
    <alv-competence-element *ngFor="let knowledgeItem of knowledgeItems"
                            [competenceElement]="knowledgeItem"
                            [isEditable]="isEditable"
                            (elementClick)="openUpdateElementModal($event, elementType.KNOWLEDGE)"
                            (unlinkClick)="unlinkCompetenceElement($event)">
    </alv-competence-element>
  </alv-competence-elements-collapse-panel>
</div>
