<div class="position-relative">
  <button class="title-bar btn d-flex align-items-center w-100"
          type="button"
          tabindex="-1"
          [class.collapsed]="isCollapsed"
          (click)="toggle()"
          [attr.aria-expanded]="!isCollapsed"
          [attr.aria-controls]="competenceSet.id">
    <fa-icon class="collapse-icon"
             [icon]="['fas', isCollapsed ? 'chevron-down' : 'chevron-up']"></fa-icon>
    <span class="mx-3">{{ 'portal.competence-catalog.competence-sets.overview.competence-set-panel-header' | translate }}</span>
    <span class="mx-3">ID {{ competenceSet.id | slice:0:6 }}</span>
    <span class="flex-grow-1"></span>
  </button>
  <a class="edit-button btn btn-icon-sm light"
     [routerLink]="'./edit/' + competenceSet.id"
     *ngIf="showEditSetButton"
     [ngbTooltip]="'Bearbeiten' | translate"
     container="body"
     placement="top">
    <fa-icon [icon]="['fas', 'pen']"></fa-icon>
  </a>
</div>

<alv-competence-element *ngIf="competenceSet.knowHow; else knowHowPlaceholder"
                        [isEditable]="isEditable"
                        [showUnlinkAction]="isEditable"
                        [competenceElement]="competenceSet.knowHow"
                        (elementClick)="openUpdateElementModal($event, elementType.KNOW_HOW)"
                        (unlinkClick)="unlinkKnowHow($event)">
</alv-competence-element>


<ng-template #knowHowPlaceholder>
  <div class="alv-bar d-flex align-items-center w-100 position-relative"
       [class.invalid]="showErrors">
    {{'portal.competence-catalog.element-type.KNOW_HOW'  | translate}}
    <span *ngIf="showErrors">
      &nbsp;- {{'entity.validation.required' | translate}}
    </span>
    <div class="flex-grow-1"></div>
    <button class="btn btn-icon-sm"
            (click)="addKnowHow()">
      <fa-icon [icon]="['fas', 'search-plus']"></fa-icon>
    </button>
  </div>
</ng-template>

<div class="panel-content"
     [id]="competenceSet.id"
     [alvCollapse]="isCollapsed"
     [@expandCollapse]="isCollapsed ? 'closed' : 'open'">
  <alv-competence-elements-collapse-panel [competenceSetId]="competenceSet.id"
                                          [elementType]="elementType.KNOW_HOW_INDICATOR"
                                          [showAddButton]="isEditable"
                                          [isEmpty]="!knowHowIndicators?.length"
                                          [isCollapsed]="collapsed[elementType.KNOW_HOW_INDICATOR]"
                                          (addClicked)="addKnowHowIndicator()">
    <alv-competence-element *ngFor="let indicator of knowHowIndicators"
                            [competenceElement]="indicator"
                            [isEditable]="isEditable"
                            [showUnlinkAction]="isEditable"
                            (elementClick)="openUpdateElementModal($event, elementType.KNOW_HOW_INDICATOR)"
                            (unlinkClick)="unlinkCompetenceElement($event)">
    </alv-competence-element>
  </alv-competence-elements-collapse-panel>
  <alv-competence-elements-collapse-panel [competenceSetId]="competenceSet.id"
                                          [elementType]="elementType.KNOWLEDGE"
                                          [showAddButton]="isEditable"
                                          [isEmpty]="!knowledgeItems?.length"
                                          [isCollapsed]="collapsed[elementType.KNOWLEDGE]"
                                          (addClicked)="addKnowledgeItem()">
    <alv-competence-element *ngFor="let knowledgeItem of knowledgeItems"
                            [competenceElement]="knowledgeItem"
                            [isEditable]="isEditable"
                            [showUnlinkAction]="isEditable"
                            (elementClick)="openUpdateElementModal($event, elementType.KNOWLEDGE)"
                            (unlinkClick)="unlinkCompetenceElement($event)">
    </alv-competence-element>
  </alv-competence-elements-collapse-panel>
</div>
