<div class="position-relative">
  <button class="title-bar btn d-flex align-items-center w-100"
          type="button"
          tabindex="-1"
          [class.collapsed]="isCollapsed"
          (click)="toggle()"
          [attr.aria-expanded]="!isCollapsed"
          [attr.aria-controls]="competenceSet.id">
    <fa-icon class="collapse-icon"
             [icon]="['fas', isCollapsed ? 'chevron-down' : 'chevron-up']"></fa-icon>
    <span class="mx-3">{{ 'portal.competence-catalog.competence-sets.overview.competence-set-panel-header' | translate }}</span>
    <span class="mx-3">ID {{ competenceSet.id }}</span>
    <span class="flex-grow-1"></span>
  </button>
  <a class="edit-button btn btn-icon-sm light"
     [routerLink]="'./edit/' + competenceSet.id"
     *ngIf="showEditSetButton"
     [ngbTooltip]="'portal.competence-catalog.competence-sets.edit-button.tooltip' | translate"
     container="body"
     placement="top">
    <fa-icon [icon]="['fas', 'pen']"></fa-icon>
  </a>
</div>

<alv-competence-item *ngIf="competenceSet.knowHow; else knowHowPlaceholder"
                     [type]="'portal.competence-catalog.element-type.' + competenceSet.knowHow.type | translate"
                     [superTitle]="'ID ' + competenceSet.knowHow.id"
                     [multiLanguageTitle]="competenceSet.knowHow.description"
                     [isItemClickable]="isEditable"
                     [showActionButtons]="isEditable"
                     [actions]="competenceElementActions"
                     (itemClick)="openUpdateElementModal(competenceSet.knowHow)"
                     (actionClick)="handleKnowHowActionClick($event, competenceSet.knowHow)">
</alv-competence-item>
<ng-template #knowHowPlaceholder>
  <div class="alv-bar d-flex align-items-center w-100 position-relative"
       [class.invalid]="showErrors">
    {{'portal.competence-catalog.element-type.KNOW_HOW'  | translate}}
    <span *ngIf="showErrors">
      &nbsp;- {{'entity.validation.required' | translate}}
    </span>
    <div class="flex-grow-1"></div>
    <button class="btn btn-icon-sm"
            (click)="addKnowHow()">
      <fa-icon [icon]="['fas', 'search-plus']"></fa-icon>
    </button>
  </div>
</ng-template>

<div class="panel-content"
     [id]="competenceSet.id"
     [alvCollapse]="isCollapsed"
     [@expandCollapse]="isCollapsed ? 'closed' : 'open'">

  <alv-competence-items-collapse-panel *ngFor="let subElementType of subElementTypes"
                                       [id]="competenceSet.id"
                                       [label]="'portal.competence-catalog.element-type.' + subElementType"
                                       [showAddButton]="isEditable"
                                       [isEmpty]="!getElementsByType(subElementType)?.length"
                                       [isCollapsed]="collapsed[subElementType]"
                                       (addClick)="addCompetenceElement(subElementType)">
    <alv-competence-item *ngFor="let element of getElementsByType(subElementType)"
                         [type]="'portal.competence-catalog.element-type.' + subElementType | translate"
                         [superTitle]="'ID ' + element.id"
                         [multiLanguageTitle]="element.description"
                         [isItemClickable]="isEditable"
                         [showActionButtons]="isEditable"
                         [actions]="competenceElementActions"
                         (itemClick)="openUpdateElementModal(element)"
                         (actionClick)="handleSubElementsActionClick($event, element)">
    </alv-competence-item>
  </alv-competence-items-collapse-panel>

</div>
