<table class="table">
  <thead>
  <tr>
    <th>{{ 'dashboard.job-publication.job-room-id' | translate }}</th>
    <th>{{ 'dashboard.job-publication.avam' | translate }}</th>
    <th>{{ 'dashboard.job-publication.publication-date' | translate }}</th>
    <th>{{ 'dashboard.job-publication.job-title' | translate }}</th>
    <th>{{ 'dashboard.job-publication.location' | translate }}</th>
    <th>{{ 'dashboard.job-publication.status' | translate }}</th>
    <th>{{ 'dashboard.job-publication.action' | translate }}</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let jobAdManagementRow of jobAdManagementRows$ | async"
      [jobAdManagementRow]="jobAdManagementRow"
      alv-job-ad-management-row>
  </tr>
  </tbody>
</table>


