@import "../../../../scss/common/colors";

.required-indicator {
  border-right: 5px solid $color-grey;
  position: absolute;
  left: 0;
  top: 0;
}

/* General input field styles */
.input-group .input-group-append,
.input-group .input-group-prepend {
  button.btn {
    border-radius: 0;
    height: 40px;
  }
  .input-group-text {
    border-radius: 0;
  }

}

input.form-control,
select.form-control,
textarea.form-control,
a.typeahead-form-control.form-control {
  border: 1px solid $color-medium-grey;
  border-radius: 0;
  height: 46px;
  &.ng-invalid.ng-touched {
    border: 1px solid $color-red;
    &:focus, &.has-focus {
      box-shadow: 0 0 0 0.2rem $color-red-transparent;
    }
  }
}

/* Invalid styling */
.invalid {
  .required-indicator {
    border-color: $color-red;
  }
  &.form-label-group > input,
  &.form-label-group > textarea,
  &.form-label-group > select,
  &.form-label-group > a.typeahead-form-control {
    color: $color-red !important;
    border: 1px solid $color-red;
    &:focus, &.has-focus {
      box-shadow: 0 0 0 0.2rem $color-red-transparent;
    }
  }
  &.form-label-group > label {
    color: $color-red !important;
  }
}

/* floating label CSS */
.form-label-group {
  user-select: none;
  cursor: text;
  /* Hide native placeholder */
  input::placeholder, textarea::placeholder {
    color: transparent;
  }
  /* Empty input/label styling */
  &> input,
  &> textarea,
  &> select,
  &> label,
  &> a.typeahead-form-control,
  &> .readonly-input {
    padding: 10px 10px;
  }
  &> label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    line-height: 1.5;
    color: $color-dark-grey;
    border: 1px solid transparent;
    transition: all .1s ease-in-out;
    pointer-events: none;
  }
  /* Filled input/label styling */
  /* NOTE: Set the class "placeholder-shown" manually with JS if the input value is empty */
  input:not(.placeholder-shown),
  textarea:not(.placeholder-shown),
  select:not(.placeholder-shown),
  a.typeahead-form-control:not(.placeholder-shown),
  .readonly-input:not(.placeholder-shown) {
    padding-top: 16px;
    padding-bottom: 4px;
  }
  input:not(.placeholder-shown) ~ label,
  textarea:not(.placeholder-shown) ~ label,
  select:not(.placeholder-shown) ~ label,
  a.typeahead-form-control:not(.placeholder-shown) ~ label,
  .readonly-input:not(.placeholder-shown) ~ label {
    padding-top: 2px;
    padding-bottom: 1px;
    font-size: 12px;
    color: $color-dark-grey;
  }
  .readonly-input:not(.placeholder-shown) ~ label {
    color: $color-grey-black;
  }
  /* Label style on focus */
  &:not(.invalid) {
    input:not(.placeholder-shown):focus ~ label,
    textarea:not(.placeholder-shown):focus ~ label,
    select:not(.placeholder-shown):focus ~ label,
    a.typeahead-form-control.has-focus ~ label {
      color: $color-primary;
    }
    > input:focus + label {
      color: $color-primary;
    }
  }
  .readonly-input {
    min-height: 46px;
  }
}

