### generated code ###
src/environments/version.ts

### node dependencies ###
node_modules


/src/assets/i18n/__parsed_extra.json
/src/assets/i18n/en.json
/src/assets/i18n/de.json
/src/assets/i18n/fr.json
/src/assets/i18n/it.json

/out-tsc
