@import '../../../../../node_modules/bootstrap/scss/functions';
@import '../../../../../node_modules/bootstrap/scss/variables';
@import '../../../../../node_modules/bootstrap/scss/mixins';
@import "../../../../scss/common/colors";
@import "../../../../scss/common/_variables";

.query-search-area {
  background-color: $color-super-light-grey;
  box-shadow: $box-shadow-default;
}

.reset-button {
  max-height: 46px;
}

.job-search-mobile-menu {
  margin-right: -0.5em;

  #job-search-mobile-menu {
    font-size: 20px;
  }
}

@include media-breakpoint-up(lg) {
  .query-search-area {
    position: sticky;
    top: $height-header-desktop;
    z-index: $z-index-query-search-area;
  }
}

@include media-breakpoint-down(lg) {
  .alv-bar, button.alv-bar {
    height: 42px;
    align-items: center;
  }
}
