@import "../../../../../scss/common/colors";
@import '../../../../../../node_modules/bootstrap/scss/functions';
@import '../../../../../../node_modules/bootstrap/scss/variables';
@import '../../../../../../node_modules/bootstrap/scss/mixins';

@include  media-breakpoint-up(md) {
  div.slider-wrapper {
    height: 0;
    width: 100%;
  }
}

.slider-input {
  vertical-align: middle;
}

::ng-deep .slider-input {
  margin: 0 !important;
  width: calc(100% - (80px));
  padding-right: 5px;
  display: inline-block !important;

  & .noUi-target {
    height: 0.1rem;
    border-radius: 5px;
    background: $color-medium-grey;
    box-shadow: none;

    & .noUi-handle {
      width: 16px;
      height: 16px;
      left: -10px;
      border-radius: 8px;
      background: $color-primary;
      box-shadow: none;
      top: -8px;

      &:before {
        display: none;
      }

      &:after {
        display: none;
      }

      &:focus {
        outline: none;
      }
    }
  }
}
