@import "../../../../../scss/common/colors";

.form-label-group {

  &:not(.readonly):not(.disabled) {
    background-color: $color-white;
    &.invalid {
      border-color: $color-red;

      .dropdown-icon {
        color: $color-red;
      }
    }
    select {
      cursor: pointer;
      background: transparent;
    }
    select.form-control {
      border: none;
    }
  }
  &.disabled {
    background-color: $color-disabled-grey;
  }

  border: 1px solid $color-medium-grey;
  border-radius: 0;

  select {
    border: none;
    height: 44px;
    width: 100%;
  }

  /* override the default padding top of floating label */
  select:not(.placeholder-shown) ~ label {
    padding-top: 1px;
  }
}
select.form-control:focus {
  box-shadow: 0 0 0 0.25rem $color-blue-transparent;
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
}
.dropdown-icon {
  position: absolute;
  right: 0.7em;
  top: 0.7em;
  pointer-events: none;
}
.required-indicator {
  top: -1px;
  left: -1px;
  height: 46px;
}
.custom-select {
  background: none;
}

