<div class="toolbar py-3 py-lg-4">
  <div class="container home-page-content d-flex flex-column flex-md-row align-items-stretch align-items-lg-center justify-content-between pt-0">
    <alv-toolbar-button icon="binoculars"
                        routerLink="job-seeker"
                        routerLinkActive="active"
                        queryParamsHandling="preserve"
                        class="nav-link p-1 p-md-3">
      {{'home.toolbar.jobSeekers' | translate}}
    </alv-toolbar-button>
    <alv-toolbar-button icon="building"
                        routerLink="company"
                        class="nav-link p-1 p-md-3"
                        routerLinkActive="active"
                        queryParamsHandling="preserve">
      {{'home.toolbar.companies' | translate}}
    </alv-toolbar-button>
    <alv-toolbar-button icon="eye"
                        routerLink="pav"
                        class="nav-link p-1 p-md-3"
                        routerLinkActive="active"
                        queryParamsHandling="preserve">
      {{'home.toolbar.recruitmentAgencies' | translate}}
    </alv-toolbar-button>
  </div>
</div>

<div class="home-page-content container">
  <router-outlet></router-outlet>
</div>

