<alv-modal (cancelAction)="cancel()"
           (primaryAction)="submit()"
           cancelLabel="portal.global.cancel"
           modalTitle="Bestandteile hinzufügen"
           primaryLabel="portal.global.add"
           [formGroup]="form">
  <fieldset>
    <legend>Bestehendes Bestandteil suchen</legend>
    <alv-single-typeahead alvFormControlName="competenceElement"
                          label="Suche"
                          [loadItems]="searchCompetenceElementsFn"
                          (itemSelected)="itemSelected($event)"
                          [autofocus]="true">
    </alv-single-typeahead>
  </fieldset>

  <fieldset formGroupName="description">
    <alv-input-field label="Bezeichnung Deutsch"
                     alvFormControlName="textDe"
                     [multiline]="true"
                     [multilineMinRows]="1"
                     [readonly]="true">
    </alv-input-field>
    <alv-input-field label="Bezeichnung Französisch"
                     alvFormControlName="textFr"
                     [multiline]="true"
                     [multilineMinRows]="1"
                     [readonly]="true">
    </alv-input-field>
    <alv-input-field label="Bezeichnung Italienisch"
                     alvFormControlName="textIt"
                     [multiline]="true"
                     [multilineMinRows]="1"
                     [readonly]="true">
    </alv-input-field>
    <alv-input-field label="Bezeichnung Englisch"
                     alvFormControlName="textEn"
                     [multiline]="true"
                     [multilineMinRows]="1"
                     [readonly]="true">
    </alv-input-field>

  </fieldset>

</alv-modal>
