<alv-modal (cancelAction)="cancel()"
           (primaryAction)="submit()"
           cancelLabel="portal.global.cancel"
           modalTitle="portal.competence-catalog.competence-elements.add-modal.title"
           primaryLabel="portal.global.add"
           [formGroup]="form">
  <fieldset>
    <legend>{{'portal.competence-catalog.competence-elements.add-modal.search-existing-label' | translate}}</legend>
    <alv-single-typeahead alvFormControlName="competenceElement"
                          label="portal.global.search"
                          [loadItems]="searchCompetenceElementsFn"
                          (itemSelected)="itemSelected($event)"
                          [autofocus]="true">
    </alv-single-typeahead>
  </fieldset>

  <fieldset formGroupName="description">
    <alv-input-field label="portal.competence-catalog.competence-elements.add-modal.german-title"
                     alvFormControlName="textDe"
                     [multiline]="true"
                     [multilineMinRows]="1"
                     [readonly]="true">
    </alv-input-field>
    <alv-input-field label="portal.competence-catalog.competence-elements.add-modal.french-title"
                     alvFormControlName="textFr"
                     [multiline]="true"
                     [multilineMinRows]="1"
                     [readonly]="true">
    </alv-input-field>
    <alv-input-field label="portal.competence-catalog.competence-elements.add-modal.italian-title"
                     alvFormControlName="textIt"
                     [multiline]="true"
                     [multilineMinRows]="1"
                     [readonly]="true">
    </alv-input-field>
    <alv-input-field label="portal.competence-catalog.competence-elements.add-modal.english-title"
                     alvFormControlName="textEn"
                     [multiline]="true"
                     [multilineMinRows]="1"
                     [readonly]="true">
    </alv-input-field>

  </fieldset>

</alv-modal>
