<alv-modal [formGroup]="form"
           modalTitle="portal.admin.api-user-management.update-password-dialog.title"
           primaryLabel="portal.admin.api-user-management.confirm"
           (primaryAction)="onSubmit()"
           secondaryLabel="portal.admin.api-user-management.dismiss"
           (secondaryAction)="onDismiss()">
  <fieldset>
    <alv-input-field label="portal.admin.api-user-management.password.title"
                     alvFormControlName="password">
    </alv-input-field>
    <button type="button" (click)="generatePassword()" class="btn">
      {{ 'portal.admin.api-user-management.password.generate' | translate }}
    </button>
  </fieldset>
</alv-modal>
