<div class="row">
  <form [formGroup]="form"
        class="col-md-8">
    <os-panel>
      <os-yes-no-input question="Did you work for one or more employers in March 2018?"
                       formControlName="worked">
      </os-yes-no-input>
    </os-panel>
    <ng-container *ngIf="form.value.worked">
      <os-panel-group [showArrow]="true"
                      [colorizeArrow]="true"
                      formArrayName="employments"
                      *ngFor="let employment of employments.controls; let i=index">
        <ng-container class="content">
          <os-panel>
            <div [formGroupName]="i">
              <div class="form-group">
                <label class="panel-title">
                  Employer {{i + 1}}
                </label>

                <input type="text"
                       class="form-control"
                       formControlName="employer">
              </div>
              <os-date-interval-input formControlName="period">
              </os-date-interval-input>
              <os-address-input [form]="employment.get('address')"></os-address-input>
            </div>
          </os-panel>
          <os-panel [showArrow]="true"
                    [colorizeArrow]="true">
            <os-document-upload></os-document-upload>
          </os-panel>
        </ng-container>
        <ng-container class="actions">
          <button class="btn btn-secondary mr-1" *ngIf="employments.controls.length > 1"
                  (click)="removeEmployment(i)">Remove Employment
          </button>
          <button class="btn btn-primary"
                  (click)="addEmployment()">Add Employment
          </button>
        </ng-container>

        <div *ngIf="employment.get('address').invalid">Just a demo</div>
        <div [formGroupName]="i">
          <div class="form-group">
            <label>
              Employer:
            </label>

            <input type="text"
                   class="form-control"
                   formControlName="employer">
          </div>
          <os-date-interval-input
              formControlName="period"
          ></os-date-interval-input>
          <os-address-input [form]="employment.get('address')"></os-address-input>
        </div>
        <os-document-upload></os-document-upload>
        <button class="btn btn-success"
                (click)="addEmployment()">Add Employment
        </button>
        <button class="btn btn-danger"
                (click)="removeEmployment(i)">Remove Employment
        </button>
      </os-panel-group>
    </ng-container>

    <os-panel [showArrow]="true">
      <os-yes-no-input question="Have you been self-employed in March 2018?"
                       formControlName="selfEmployed"></os-yes-no-input>
    </os-panel>

    <os-panel [showArrow]="true" [colorizeArrow]="true" *ngIf="form.value.selfEmployed">
      <div class="panel-title">
        Please attach scanned receipts and settlements. <span class="panel-subtitle">Optional</span></div>
      <os-files-upload></os-files-upload>
    </os-panel>

    <os-panel [showArrow]="true">
      <os-yes-no-input question="Did you participate in a labor market measure in March 2018?"
                       formControlName="labourMarketMeasures">
      </os-yes-no-input>
    </os-panel>

    <div class="d-flex my-4 mx-1">
      <div class="flex-grow-1"></div>
      <button class="btn btn-link mr-1">Cancel
      </button>
      <button class="btn btn-secondary mr-1">Save
      </button>
      <button name="submit"
              type="submit"
              class="btn btn-primary">Submit
      </button>
    </div>

  </form>
  <!-- For debugging purposes -->
  <div class="col-md-4" *ngIf="true">
    <h4>form.value for monthly employments component</h4>
    <pre>
    {{form.value|json}}
  </pre>
    <h4>Validity</h4>
    <p>form.valid:</p>
    <pre>
    {{form.valid}}
  </pre>
  </div>

</div>
