<div class="form-check mb-2"
     *ngIf="control">
  <input class="form-check-input"
         type="checkbox"
         [formControl]="control"
         [attr.id]="id"
         (click)="!readonly">
  <label class="form-check-label"
         [for]="id">
    {{label}}
  </label>
</div>
<os-validation-messages *ngIf="!readonly && control"
                        [control]="control"
                        [id]="validationId"
                        [customValidationMessages]="validationMessages">
</os-validation-messages>
