@import "../../../../../scss/common/colors";
@import '../../../../../../node_modules/bootstrap/scss/functions';
@import '../../../../../../node_modules/bootstrap/scss/variables';
@import '../../../../../../node_modules/bootstrap/scss/mixins';

.alv-cells {
  .actions-cell {
    padding-right: 30px;
  }
  .main-cell {
    position: static;
  }
}

.actions-dropdown {
  position: absolute;
  top: -1px;
  right: 0;
  z-index: 1;
  height: calc(100% + 2px);

  .actions-button {
    padding: 0 !important;
    width: 24px;

    &:not(:hover) {
      border: 1px solid $color-medium-grey;
    }
  }
}

@include media-breakpoint-down(md) {
  .alv-cells {
    .cell:not(:first-of-type) {
      border-top: 1px solid $color-medium-grey;
    }
    .actions-cell {
      padding-right: 0;
    }
    .main-cell.actions-cell {
      padding-right: 30px;
    }
    .actions-dropdown {
      top: 0;
      height: 100%;
      .actions-button:not(:hover) {
        border: 1px solid transparent;
      }
    }
    .cell.main-cell {
      position: relative;
    }
  }
}

