<div class="row m-4">
  <form [formGroup]="form"
        class="col-md-12"
        novalidate>
    <alv-panel [panelTitle]="'Did you work for one or more employers in March 2018?'">
      <alv-radio-button [alvControl]="form.get('worked')">
      </alv-radio-button>
    </alv-panel>
    <ng-container *ngIf="form.value.worked">
      <alv-panel-group [showArrow]="true"
                       [colorizeArrow]="true"
                       formArrayName="employments"
                       *ngFor="let employment of employments.controls; let i=index">
        <ng-container class="content">
          <alv-panel [panelTitle]="'Employer ' + (i + 1)">
            <div [formGroupName]="i">
              <alv-input-field label="Employer Name"
                               [alvControl]="employment.get('employer')">
              </alv-input-field>
              <alv-date-interval-input [form]="employment.get('period')">
              </alv-date-interval-input>
              <alv-address-input [form]="employment.get('address')"></alv-address-input>
            </div>
          </alv-panel>
          <alv-panel [showArrow]="true"
                     [colorizeArrow]="true">
            <!--<alv-document-upload></alv-document-upload>-->
          </alv-panel>
        </ng-container>
        <ng-container class="actions">
          <button class="btn btn-secondary mr-1"
                  *ngIf="employments.controls.length > 1"
                  type="button"
                  (click)="removeEmployment(i)">Remove Employment
          </button>
          <button class="btn btn-primary"
                  type="button"
                  (click)="addEmployment()">Add Employment
          </button>
        </ng-container>
      </alv-panel-group>
    </ng-container>

    <alv-panel [showArrow]="true"
               [panelTitle]="'Have you been self-employed in March 2018?'">
      <alv-radio-button [alvControl]="form.get('selfEmployed')"></alv-radio-button>
    </alv-panel>

    <alv-panel *ngIf="form.value.selfEmployed"
               [showArrow]="true"
               [colorizeArrow]="true"
               [panelTitle]="'Please attach scanned receipts and settlements.'"
               [panelSubtitle]="'Optional'"
               [helpEntries]="helpTextService.uploads">
      <!--<alv-files-upload></alv-files-upload>-->
    </alv-panel>

    <alv-panel [showArrow]="true"
               [panelTitle]="'Did you participate in a labor market measure in March 2018?'">
      <alv-radio-button [alvControl]="form.get('labourMarketMeasures')">
      </alv-radio-button>
    </alv-panel>

    <div class="d-flex my-4 mx-1">
      <div class="flex-grow-1"></div>
      <button class="btn btn-link mr-1">Cancel
      </button>
      <button class="btn btn-secondary mr-1">Save
      </button>
      <button
          class="btn btn-primary">Submit
      </button>
    </div>

  </form>
  <!-- For debugging purposes -->
  <div class="col-md-4"
       *ngIf="false">
    <h4>form.value for monthly employments component</h4>
    <pre>
    {{form.value|json}}
  </pre>
    <h4>Validity</h4>
    <p>form.valid:</p>
    <pre>
    {{form.valid}}
  </pre>
  </div>

</div>

