<alv-modal (primaryAction)="onUpdateExisting()"
           (secondaryAction)="onCreateNew()"
           (cancelAction)="onCancel()"
           modalTitle="portal.job-ad-search-profiles.update-modal.title"
           primaryLabel="portal.job-ad-search-profiles.update-modal.primary-button.label"
           secondaryLabel="portal.job-ad-search-profiles.update-modal.secondary-button.label"
           cancelLabel="portal.job-ad-search-profiles.update-modal.cancel-button.label">

  <span [innerHTML]="'portal.job-ad-search-profiles.update-modal.question' | translate:{profileName: searchProfile.name}"></span>

</alv-modal>
