@import "../../../../../scss/common/colors";
@import "../../../../../scss/common/variables";

.notification {
  display: flex;
  margin-bottom: 0.5rem;
  .icon {
    padding: 10px 8px;
    min-width: 40px;
    color: $color-white;
    display: flex;
    justify-content: center;
  }

  .text {
    align-self: center;
    padding: 10px;
  }

  .close-button {
    align-self: flex-start;
    margin-right: 16px;
    margin-top: 10px
  }

  &.info {
    background-color: $color-light-blue;

    .icon {
      background-color: $color-blue;
    }
  }

  &.warning {
    background-color: $color-yellow;

    .icon {
      background-color: $color-orange;
    }
  }

  &.error {
    background-color: $color-light-red;

    .icon {
      background-color: $color-red;
    }
  }

  &.success {
    background-color: $color-light-green;

    .icon {
      background-color: $color-green;
    }
  }

  &.empty {
    background-color: $color-super-light-grey;
    border: 1px solid $color-medium-grey;

    .text {
      text-align: center;
      color: $color-dark-grey;
      width: 100%;
    }
  }
}

:host-context(.global-notification) {
  .notification {
    box-shadow: $box-shadow-default;
  }
}
