<div class="container-fluid pt-4 pt-lg-5 px-lg-5"
     *ngIf="{isCompetenceCatalogEditor: isCompetenceCatalogEditor$|async} as observables"
>
  <div class="row">
    <div class="col-12 col-lg-9 col-xl-10">
      <div class="d-flex justify-content-between align-items-end position-relative">
        <h2 class="pr-5 mb-4 d-flex">
          <fa-icon [icon]="['far', 'address-book']"
                   class="text-primary mr-1"
                   [fixedWidth]="true">
          </fa-icon>
          {{ 'portal.competence-catalog.ch-fiches.detail.title' | translate }}
        </h2>
      </div>

      <alv-ch-fiche [chFiche]="chFiche"
                    [showErrors]="showErrors"
                    [isReadonly]="!observables.isCompetenceCatalogEditor"
      >
      </alv-ch-fiche>

      <div class="d-flex justify-content-end my-4 w-100">
        <a class="btn btn-text"
           routerLink="../">
          {{(observables.isCompetenceCatalogEditor ? 'portal.global.cancel': 'entity.action.back') | translate}}
        </a>
        <!--
        <button class="btn btn-secondary ml-1"
                *ngIf="isReadonly">
          {{'portal.global.delete' | translate}}
        </button>
        -->
        <button class="btn btn-primary ml-1"
                (click)="saveChFiche()"
                *ngIf="observables.isCompetenceCatalogEditor"
        >
          {{'portal.global.save' | translate}}
        </button>
      </div>
    </div>
    <div class="mt-5 d-none d-lg-block col-lg-3 col-xl-2">
    </div>
  </div>
</div>
