<ng-container *ngIf="linkPanelData$ | async as linkPanelData">
  <div class="alv-panel pb-md-4 pb-3">

    <h2 class="panel-title">
      <fa-icon [icon]="['fas', icon]"
               [fixedWidth]="true"
               class="panel-icon"
               *ngIf="icon">
      </fa-icon>
      {{linkPanelData.title}}
    </h2>

    <div class="row mt-2">
      <div ngClass="col-{{12/numberOfColumns}}"
           *ngFor="let column of columns">
        <div *ngFor="let item of column">
          <a [href]="item.url"
             target="_blank">
            <div class="link-panel-item mb-2 p-2"
                 [ngClass]="{'primary-link': item.type}">
              <fa-icon [icon]="['fas', 'caret-right']"></fa-icon>
              {{item.title}}
            </div>
          </a>
        </div>
      </div>
    </div>

  </div>
</ng-container>
