@import "../../../../scss/common/colors";

.link-panel-item {
  background-color: $color-white;
  border-left: 5px solid transparent;
  padding: .5rem 1rem;

  &.primary-link {
    background-color: $color-primary;
  }
}

.link-panel-item:hover {
  padding-left: 0;
  border-left: 5px solid #af1007;
  color: $color-grey;
  cursor: pointer;
  box-shadow: 1px 1px 5px $color-grey;

  &.primary-link {
    box-shadow: none;
    color: darken($color-primary, 10%);
  }
}

a {
  &.link {
    color: $color-grey-black;

    &.primary-link {
      color: $color-white;
    }

    &:hover {
      text-decoration: none;
    }
  }

  .link-icon {
    color: $color-primary;
    margin-right: 0.25rem;

    &.primary-link {
      color: $color-white;
    }
  }

  &:hover {
    color: $color-primary;

    &.primary-link {
      color: $color-white;
    }
  }
}




