<h1>Placeholder for AVP form</h1>
<ngb-tabset>
  <ngb-tab title="Monthly employments">
    <ng-template ngbTabContent>
      <alv-employments [model]="monthly"></alv-employments>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Absences">
    <ng-template ngbTabContent>
      <alv-absences></alv-absences>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Incapacities">
    <ng-template ngbTabContent>
      <alv-incapacities></alv-incapacities>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Miscellaneous">
    <ng-template ngbTabContent>
      <alv-miscellaneous></alv-miscellaneous>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Attachments Overview">
    <ng-template ngbTabContent>
      <alv-attachments-overview></alv-attachments-overview>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Confirmation">
    <ng-template ngbTabContent>
      <alv-confirmation></alv-confirmation>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
