
<alv-registration-panel panelTitle="registrationQuestionnaire.header"
                        panelSubtitle="registrationQuestionnaire.placeholder"
                        (primaryAction)="selectRole()"
                        primaryLabel="navigation.next"
                        (secondaryAction)="cancelAction()"
                        secondaryLabel="registration.customer.cancel"
                        [hideBackButton]="true"
                        [formGroup]="roleSelectionForm">
  <alv-radio-button alvFormControlName="role"
                    [options$]="registrationOptions$">
  </alv-radio-button>

  <div class="panel-divider"></div>

  <alv-checkbox label="registrationQuestionnaire.termsOfUse.accept"
                alvFormControlName="termsAndConditions"></alv-checkbox>

  <div [innerHTML]="'registrationQuestionnaire.termsOfUse.link' | translate"></div>

</alv-registration-panel>
