<alv-modal (cancelAction)="cancel()"
           (primaryAction)="submit()"
           cancelLabel="portal.global.cancel"
           [modalTitle]="isEdit ? 'entity.action.edit' : 'portal.global.enter'"
           primaryLabel="portal.global.save"
           [formGroup]="form">
  <fieldset>
    <legend *ngIf="!isEdit">{{'portal.competence-catalog.competence-elements.add-modal.what-to-enter-label' | translate}}</legend>
    <alv-select alvFormControlName="type"
                label="portal.competence-catalog.competence-elements.add-modal.type"
                [autofocus]="true"
                [readonly]="isEdit"
                [options$]="typeOptions$">
    </alv-select>
  </fieldset>

  <fieldset formGroupName="description">
    <legend>{{'portal.competence-catalog.competence-elements.add-modal.one-component-per-lang-label' | translate}}</legend>
    <alv-input-field label="portal.competence-catalog.competence-elements.add-modal.german-title"
                     alvFormControlName="textDe"
                     [multiline]="true"
                     [multilineMinRows]="1"
                     [showGroupErrors]="true">
    </alv-input-field>
    <alv-input-field label="portal.competence-catalog.competence-elements.add-modal.french-title"
                     alvFormControlName="textFr"
                     [multiline]="true"
                     [multilineMinRows]="1"
                     [showGroupErrors]="true">
    </alv-input-field>
    <alv-input-field label="portal.competence-catalog.competence-elements.add-modal.italian-title"
                     alvFormControlName="textIt"
                     [multiline]="true"
                     [multilineMinRows]="1"
                     [showGroupErrors]="true">
    </alv-input-field>
    <alv-input-field label="portal.competence-catalog.competence-elements.add-modal.english-title"
                     alvFormControlName="textEn"
                     [multiline]="true"
                     [multilineMinRows]="1"
                     [showGroupErrors]="true">
    </alv-input-field>

  </fieldset>

</alv-modal>
