@import '../../../../../node_modules/bootstrap/scss/functions';
@import '../../../../../node_modules/bootstrap/scss/variables';
@import '../../../../../node_modules/bootstrap/scss/mixins';

.filter-button {
  position: absolute;
  right: 0;
  top: -0.5em;
}

.add-work-effort-button {
  top: 154px;
}
