<div class="container-fluid pt-4 pt-lg-5 px-lg-5">
  <div class="row">
    <div class="col-12 col-lg-9 col-xl-10">
      <div class="d-flex justify-content-between align-items-start position-relative">
        <h2 class="pr-5 pr-md-0 d-flex">
          <fa-icon [icon]="['fas', 'award']"
                   class="text-primary"
                   [fixedWidth]="true">
          </fa-icon>
          {{ 'portal.application-documents.title' | translate }}
        </h2>
        <div class="flex-grow-1"></div>
        <div ngbDropdown
             class="sort-button"
             placement="bottom-right">
          <button type="button"
                  class="btn btn-text no-dropdown-indicator"
                  ngbDropdownToggle>
            <span class="d-none d-md-inline">
            {{'portal.application-documents.filter.' + selectedSortType | translate}}
            </span>
            <fa-icon class="ml-0 ml-md-2"
                     [icon]="['fas', 'sort']"></fa-icon>
          </button>
          <div ngbDropdownMenu>
            <button (click)="applySortByDate()"
               class="dropdown-item">
              {{'portal.application-documents.filter.BY_DATE' | translate}}
            </button>
            <button (click)="applySortByDocumentType()"
                    class="dropdown-item">
              {{'portal.application-documents.filter.BY_DOCUMENT_TYPE' | translate}}
            </button>
            <button (click)="applySortByFilename()"
                    class="dropdown-item">
              {{'portal.application-documents.filter.BY_FILENAME' | translate}}
            </button>
          </div>
        </div>

      </div>

      <hr class="mt-0 mb-3">

      <alv-alert *ngIf="isEnglishLanguageSelected$ | async"
                 [notification]="englishNotSupportedNotification"
                 [hideDismiss]="true"></alv-alert>

      <alv-alert *ngIf="showUploadInstruction"
                 [notification]="uploadInstructionNotification"
                 (dismiss)="dismissUploadInstruction()">
        <ul class="m-0 pl-4">
          <li class="mb-2">{{'portal.application-documents.info-notification.upload-instruction1' | translate}}</li>
          <li>{{'portal.application-documents.info-notification.upload-instruction2' | translate}}</li>
        </ul>
      </alv-alert>

      <button class="btn btn-primary btn-block my-3 d-block d-lg-none"
              (click)="openModal()">
        <fa-icon [icon]="['fas', 'plus']"
                 class="mr-1"></fa-icon>
        {{'portal.application-documents.add-button.label' | translate}}
      </button>

      <alv-application-document *ngFor="let applicationDocument of applicationDocuments"
                                [applicationDocument]="applicationDocument"
                                (click)="openModal(applicationDocument)"
                                class="d-block mb-2">
      </alv-application-document>
    </div>
    <div class="d-none d-lg-block col-lg-3 col-xl-2">
      <button class="add-button btn btn-primary btn-block btn-truncate"
              (click)="openModal()">
        <fa-icon [icon]="['fas', 'plus']"
                 class="mr-1"></fa-icon>
        {{'portal.application-documents.add-button.label' | translate}}
      </button>
    </div>
  </div>
</div>
