@import "colors";
button.btn, a.btn {
  padding: 8px 20px;
  cursor: pointer;
  user-select: none;
  font-size: 16px;
  border-radius: 0;
  &.focus, &:focus {
    box-shadow: 0 0 0 0.2rem rgba(202,0,0,.5);
  }
  &.btn-link {
    background-color: transparent;
    border: 1px solid transparent;
    color: $color-primary;
    &:hover:not(:disabled) {
      background-color: $color-super-light-grey;
      border-color: $color-medium-grey;
      color: $color-black;
      text-decoration: none;
    }
    &:disabled {
      color: $color-medium-grey;
      cursor: default;
    }
  }

  &.btn-secondary {
    background-color: $color-super-light-grey;
    border: 1px solid $color-medium-grey;
    color: $color-black;

    &:hover:not(:disabled) {
      background-color: $color-medium-grey;
    }
    &:disabled {
      color: $color-medium-grey;
      cursor: default;
    }
  }

  &.btn-primary {
    background-color: $color-primary;
    border: 1px solid $color-primary;
    color: $color-white;

    &:hover:not(:disabled) {
      background-color: darken($color-primary, 10%);
      border-color: darken($color-primary, 10%);
    }
    &:disabled {
      background-color: lighten($color-primary, 20%);
      border-color: lighten($color-primary, 20%);
      cursor: default;
    }
  }

  &.btn-icon {
    background-color: transparent;
    border: 1px solid transparent;
    color: $color-primary;
    padding: 8px;
    width: 42px;
    &:hover:not(:disabled) {
      background-color: $color-super-light-grey;
      border-color: $color-medium-grey;
      color: $color-black;
    }
    &:disabled {
      color: $color-medium-grey;
      cursor: default;
    }
  }
}
