@import "colors";
.alv-panel {
  background-color: $color-super-light-grey;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.35);
  margin: 0.25em;
  padding: 1em 1.5em 0.5em;
  border: 2px solid transparent;
  border-bottom-right-radius: 15px;
  @media(max-width: 991px) {
    padding: 1em 0.5em 0.5em;
  }
  .panel-title {
    font-family: Calibri;
    font-size: 28px;
    font-weight: 300;
    margin-bottom: 10px;
    color: $color-dark-grey;
    .panel-subtitle {
      font-weight: 500;
    }
  }
  &.invalid {
    border: 2px solid $color-red;
    .panel-title {
      color: $color-red;
    }
  }
}
