<button class="control-period w-100 d-flex align-items-stretch text-left position-relative p-0"
        (click)="expanded = !expanded"
        [ngClass]="expanded ? 'expanded' : 'collapsed'">
  <span class="col-3 name-cell">
    <small class="d-block text-truncate">
      Nachweis der persönlichen Arbeitsbemühungen
    </small>
    <h3 class="mb-1"><fa-icon [icon]="['fas', expanded ? 'caret-up' : 'caret-down']"
                 class="mr-1"></fa-icon>
      März 2019</h3>
  </span>
  <span class="col-3 pdf-cell">
    <a class="pdf-link"
       [href]="'https://www.google.com'"
       (click)="$event.stopPropagation()"
       target="_blank"
       rel="noopener">
    <fa-icon [icon]="['far', 'file-pdf']"
             class="text-primary mr-1"></fa-icon>
    NpA-temporär-yyyymm.pdf</a>
  </span>
  <span class="col-3 status-cell d-flex flex-column">
    <small class="status-label">Bearbeitungsstatus</small>
    <div class="flex-grow-1">
      Anzahl erfasst: 0
    </div>
  </span>
  <span class="col-3 status-cell d-flex flex-column">
    <small class="status-label">Übermittlungsstatus</small>
    <div class="flex-grow-1">
      Übermittlung erfolgt am 05.04.2019 23:59 Uhr
    </div>
  </span>
  <span class="expanded-indicator h-100">
  </span>
</button>
<ng-container *ngIf="expanded">
  <div class="arrow-container">
    <div class="arrow-down">
    </div>
  </div>

  <div class="collapse-panel">
    <button class="btn btn-text add-work-effort-button w-100">
      <fa-icon [icon]="['fas', 'plus']"
               class="mr-1"></fa-icon>
      Neue Arbeitsbemühung erfassen
    </button>
    <div class="work-effort-divider"></div>

    <alv-work-effort></alv-work-effort>

    <div class="work-effort-divider"></div>
  </div>

</ng-container>

