@import "../../../../../scss/common/colors";
@import '../../../../../../node_modules/bootstrap/scss/functions';
@import '../../../../../../node_modules/bootstrap/scss/variables';
@import '../../../../../../node_modules/bootstrap/scss/mixins';

.control-period {
  background-color: $color-white;
  border: 1px solid $color-medium-grey;


  .pdf-link {
    color: $color-grey-black;
    &:hover {
      text-decoration: none;
      color: $color-primary;
    }
  }

  .name-cell, .pdf-cell {
    padding: 0.5em 0.75em;
  }

  .status-cell {
    line-height: 20px;
    border-left: 1px solid $color-medium-grey;
    padding: 0.25em 0.5em 0.5em 0.5em;
    .status-label {
      color: $color-dark-grey;
    }
    .success-icon-container {
      display: none;
    }
    &.success {
      background-color: $color-light-green;
      padding-right: 30px;
      .success-icon-container {
        display: flex;
        position: absolute;
        right: 0;
        top: 0;
        width: 24px;
        border-left: 1px solid $color-medium-grey;
        color: $color-dark-grey;
      }
    }
  }

  &:hover, &.expanded {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.35);
    .name-cell {
      color: $color-primary;
    }
    .expanded-indicator {
      background-color: $color-primary;
      width: 3px;
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}

.collapse-panel {
  .add-work-effort-button {
    background-color: $color-light-grey;
    border-color: $color-medium-grey;
  }

  .work-effort-divider {
    width: 100%;
    border-top: 3px solid $color-medium-grey;
  }
}

:host.current-period {
  .period-title {
    font-weight: 600;
  }
}

@include media-breakpoint-down(md) {
  .status-cell {
    border-top: 1px solid $color-medium-grey;
  }
}
