<button class="control-period w-100 d-flex align-items-stretch text-left position-relative p-0 row no-gutters"
        (click)="expanded = !expanded"
        [ngClass]="expanded ? 'expanded' : 'collapsed'">
  <span class="col-12 col-lg-3 name-cell">
    <small class="d-block text-truncate">
      {{'portal.work-efforts.control-period.name-cell.title' | translate}}
    </small>
    <h3 class="period-title mb-0 mt-1 my-lg-1">
      <fa-icon [icon]="['fas', expanded ? 'caret-up' : 'caret-down']"
               class="mr-1"></fa-icon>
      {{controlPeriod.date | date:'MMMM yyyy'}}
    </h3>
  </span>
  <span class="col-12 col-lg-3 pdf-cell">
    <a class="pdf-link"
       [href]="controlPeriod.filePath"
       (click)="$event.stopPropagation()"
       target="_blank"
       rel="noopener">
    <fa-icon [icon]="['far', 'file-pdf']"
             class="text-primary mr-1"></fa-icon>
      {{getPdfFileNamePrefix() | translate}}{{getDateStringFromControlPeriod(controlPeriod)}}.pdf</a>
  </span>
  <span class="col-12 col-lg-3 status-cell d-flex flex-column">
    <small class="status-label">
      {{'portal.work-efforts.edit-status.label' | translate}}
    </small>
    <div class="flex-grow-1">
      {{'portal.work-efforts.control-period.edit-status.text' | translate}}:
      {{controlPeriod.workEfforts.length}}
    </div>
  </span>
  <span class="col-12 col-lg-3 status-cell d-flex flex-column"
        [class.success]="isSentSuccessfully(controlPeriod)">
    <small class="status-label">
      {{'portal.work-efforts.submit-status.label' | translate}}
    </small>
    <div class="flex-grow-1">
          {{'portal.work-efforts.submit-status.text.' + controlPeriod.status
      | translate:{dateTime: controlPeriod.date | date: 'dd.MM.yyyy hh:mm'} }}
    </div>
    <div class="success-icon-container text-center h-100 align-items-center">
      <fa-icon class="w-100"
               [icon]="['fas', 'check']"></fa-icon>
    </div>
  </span>
  <span class="expanded-indicator h-100">
  </span>
</button>

<!-- Collapse Panel -->
<ng-container *ngIf="expanded">
  <div class="arrow-container">
    <div class="arrow-down">
    </div>
  </div>

  <div class="collapse-panel">
    <a [routerLink]="'/work-efforts/new'"
       class="btn btn-text add-work-effort-button w-100">
      <fa-icon [icon]="['fas', 'plus']"
               class="mr-1"></fa-icon>
      {{'portal.work-efforts.control-period.add-work-effort.button.label' | translate}}
    </a>

    <ng-container *ngFor="let workEffort of controlPeriod.workEfforts; let last = last">
      <div class="work-effort-divider"></div>

      <alv-work-effort [workEffort]="workEffort"></alv-work-effort>

      <div *ngIf="last"
           class="work-effort-divider"></div>
    </ng-container>

  </div>

</ng-container>

