<alv-modal modalTitle="job-publication-cancel.title"
           primaryLabel="job-publication-cancel.job.confirm"
           (primaryAction)="onSubmit()"
           secondaryLabel="job-publication-cancel.job.dismiss"
           (secondaryAction)="activeModal.dismiss()"
           [formGroup]="form">

  <fieldset>

    {{ 'job-publication-cancel.job.occupied.text' | translate }}
    <div class="alv-bar">
      <alv-radio-button alvFormControlName="positionOccupied"
                        name="cancellationCode"
                        [options$]="cancellationCodeOptionsA$">
      </alv-radio-button>
    </div>


    {{ 'job-publication-cancel.job.occupied.self' | translate }}
    <div class="alv-bar">
      <alv-radio-button alvFormControlName="positionOccupied"
                        name="cancellationCode"
                        [options$]="cancellationCodeOptionsB$">
      </alv-radio-button>
    </div>

    Andere Gründe
    <div class="alv-bar">
      <alv-radio-button alvFormControlName="positionOccupied"
                        name="cancellationCode"
                        [options$]="cancellationCodeOptionsC$">
      </alv-radio-button>
    </div>

  </fieldset>

  <pre>{{form.value.positionOccupied}}</pre>

</alv-modal>
