<div class="company-panel" *ngIf="jobCenter.address as address">
  <strong>
    {{ 'portal.job-detail.reference.responsible-job-center' | translate }}
  </strong>
  <alv-post-address [address]="{
                        name: address.name,
                        street: address.street,
                        houseNumber: address.houseNumber,
                        postalCode: address.zipCode,
                        city: address.city}">
  </alv-post-address>
  <br>
  {{'portal.job-detail.reference.phone' | translate}}
  <a class="link"
     href="tel:{{jobCenter.phone}}">{{jobCenter.phone | phoneNumber}}</a>
</div>

<ng-container *ngIf="jobDetailModel.stellennummerAvam || jobDetailModel.stellennummerEgov">
  <strong>{{'portal.job-detail.reference.job-id' | translate}}:</strong>
  <br>

  <ng-container *ngIf="jobDetailModel.stellennummerAvam">
    {{'job-detail.avam.label' | translate}}
    : {{jobDetailModel.stellennummerAvam}}
    <br>
  </ng-container>

  <ng-container *ngIf="jobDetailModel.stellennummerEgov">
    {{'job-detail.job-room-id' | translate}} {{jobDetailModel.stellennummerEgov}}
  </ng-container>
</ng-container>
