<ng-container *ngIf="currentUser$ |async as currentUser"
              class="container">
  <div class="row">
    <div class="col-sm-2">
      <div class="photo-user"><i class="fas fa-user"></i>
      </div>
    </div>
    <div class="col-sm-10">
      <span class="greeting">Guten morgen, {{currentUser.firstName}} {{currentUser.lastName}}</span>
    </div>
  </div>

  <alv-panel panelTitle="Stellen finden"
             [formGroup]="findWorkerForm">
    <div class="row">
      <div class="col-sm-6">
        <alv-input-field type="text"
                         label="Profession"
                         [control]="findWorkerForm.get('profession')">
        </alv-input-field>
      </div>
      <div class="col-sm-6">
        <alv-input-field type="text"
                         label="City"
                         [control]="findWorkerForm.get('city')">
        </alv-input-field>
      </div>
    </div>
  </alv-panel>
  <alv-panel panelTitle="Ihre Aufgaben">
    <div class="row">
      <div class="col-sm-12">
        Bitte erfassen Sie Arbeitsbemühung Nr. 4 für diesen Monat
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <button class="btn btn-secondary add-work-effort">
          <i class="fa fa-plus"></i>
        </button>
      </div>
    </div>

  </alv-panel>

  <alv-panel panelTitle="Jobfavoriten">
  </alv-panel>

  <alv-panel panelTitle="Jobwecker">
  </alv-panel>
</ng-container>
