<alv-registration-panel (backAction)="returnToPavIdentification()"
                        (secondaryAction)="returnToHome()"
                        [hideBackButton]="isSubmitted"
                        [secondaryLabel]="homeLabel"
                        panelTitle="portal.registration.request.access.code">
  <alv-step-indicator [activeStep]="2"
                      [steps]="companySteps"
                      class="step-indicator panel-full-width">
  </alv-step-indicator>
  <p [innerHTML]="'registrationCompanyDialog.postal.description' | translate"></p>
  <p class="address">
    {{company.name}}<br>
    {{company.additionalName}}<br>
    {{company.address.street}} {{company.address.buildingNum}}<br>
    {{company.address.zip}} {{company.address.city}}<br>
  </p>
  <p [innerHTML]="'registrationCompanyDialog.login.description' | translate"></p>
  <button (click)="requestActivationCode()"
          *ngIf="!isSubmitted; else confirmMessage"
          [disabled]="disableSubmit"
          class="btn btn-primary w-100 submit-button">
    {{'registrationCompanyDialog.requestActivationCode' | translate}}
  </button>


</alv-registration-panel>

<ng-template #confirmMessage>
  <div class="p-2 w-100 text-center bg-success text-white">
    {{'registrationCompanyDialog.activationCodeRequested' | translate}}
    <i class="fas fa-check"></i>
  </div>
</ng-template>
