<div class="w-100"
     *ngIf="control">
  <div class="form-label-group position-relative"
       [class.invalid]="control.touched && control.invalid">
    <span *ngIf="required && !readonly"
          class="required-indicator h-100">
    </span>

    <div *ngIf="!readonly"
         class="form-control typeahead-form-control d-flex flex-row flex-wrap"
         [class.has-focus]="hasFocus()"
         [class.placeholder-shown]="showPlaceholder()"
         (click)="inputField?.focus()">

      <fieldset>
        <legend class="sr-only">Selected Items</legend>
        <div class="badge typeahead-badge d-inline-flex align-items-center"
             *ngFor="let item of control.value; let i = index"
             [ngClass]="getTypeClass(item)">
          <div class="typeahead-badge-label text-truncate">
            {{item.label}}
          </div>
          <button class="remove-button ml-1"
                  (click)="removeItem(item)"
                  [attr.aria-label]="'Remove Item ' + item.label">
            <i class="fa fa-times"></i>
          </button>
        </div>
      </fieldset>

      <input #inputField
             [attr.id]="id"
             [attr.required]="required"
             [attr.aria-required]="!!required"
             [attr.aria-describedby]="validationId + ' ' + helpId"
             [alvAutofocus]="autofocus"
             [style.width]="getInputWidth()"
             [ngbTypeahead]="loadItemsGuardedFn"
             [container]="'body'"
             [resultTemplate]="template"
             [focusFirst]="focusFirst"
             [editable]="true"
             [readonly]="limit && control.value?.length >= limit"
             [(ngModel)]="inputValue"
             (selectItem)="selectItem($event)"
             (keydown)="handleKeyDown($event)"
             (blur)="control.markAsTouched()">
    </div>
    <label class="d-flex"
           [for]="id">
      {{label | translate}}
      <span class="flex-grow-1"></span>
      <span *ngIf="limit && control.value?.length">
        {{control.value?.length + '/' + limit}}
        <span class="sr-only">Items</span>
      </span>
    </label>

    <div *ngIf="readonly"
         [class.placeholder-shown]="!control.value"
         class="readonly-input">
      {{control.value}}
    </div>

    <!-- a11y help texts -->
    <div class="sr-only"
         [attr.id]="helpId">
      <ng-container *ngIf="limit && control.value?.length >= limit; else a11yHelpText">
        Limit of {{ limit }} reached. Press Shift + Tab to delete selected items.
      </ng-container>
      <ng-template #a11yHelpText>
        Enter at least {{ TYPEAHEAD_QUERY_MIN_LENGTH }} characters to query the list of
        selectable items. Select by using the up and down arrow keys.
        <ng-container *ngIf="editable">
          You can add free text items by hitting Tab or Enter without selection.
        </ng-container>
        <ng-container *ngIf="control.value?.length">
          Press Shift + Tab or use Return to delete selected items.
        </ng-container>
        <ng-container *ngIf="limit">
          You can select up to {{ limit }} items.
        </ng-container>
      </ng-template>
    </div>

    <ng-template #template
                 let-result="result"
                 let-term="term"
                 let-formatter="formatter">
      <div class="position-relative">
        <div *ngIf="result.firstInGroup"
             class="typeahead-group-label pull-right"
             [ngClass]="getTypeClass(result.model)">
          {{ result.model.type | translate}}
        </div>
        <div [ngClass]="{'first-in-group-item': result.firstInGroup}">
          <div *ngIf="result.firstInGroup"></div>
          <ngb-highlight [result]="formatResultItem(result.model)"
                         [term]="term">
          </ngb-highlight>
        </div>
      </div>

    </ng-template>

  </div>
  <small *ngIf="helpText && !(control.touched && control.invalid)">{{helpText | translate}}</small>
  <alv-validation-messages *ngIf="!readonly"
                           [control]="control"
                           [id]="validationId"
                           [customValidationMessages]="validationMessages">
  </alv-validation-messages>
</div>
