<ng-container *ngIf="isCityZipAutocomplete()" [formGroup]="zipAndCity">
  <alv-single-typeahead [label]="zipCityLabel"
                        alvFormControlName="zipCityAutoComplete"
                        [isRequired]="isRequired"
                        [loadItems]="loadLocations.bind(this)"
  >
  </alv-single-typeahead>
</ng-container>

<div class="form-row" *ngIf="!isCityZipAutocomplete()" [formGroup]="zipAndCity">
  <div class="col-4">
    <alv-input-field [label]="zipLabel"
                     alvFormControlName="zipCode"
                     [isRequired]="isRequired"
                     [maxLength]="ZIP_CODE_MAX_LENGTH"
    >
    </alv-input-field>
  </div>

  <div class="col-8">
    <alv-input-field [label]="cityLabel"
                     alvFormControlName="city"
                     [isRequired]="isRequired"
                     [maxLength]="CITY_MAX_LENGTH"
    >
    </alv-input-field>
  </div>
</div>
