@import "../../../../../../scss/common/colors";

.form-label-group {
  .search-icon {
    position: absolute;
    right: 0.65em;
    top: 0.4em;
    font-size: 1.25rem;
    pointer-events: none;
    color: $color-dark-grey
  }
  &.invalid .search-icon {
    color: $color-red;
  }
}


/* Grouping styles */
.typeahead-group-label {
  color: $color-white;
  position: absolute;
  top: -.25rem;
  right: -1.5rem;
  font-size: 80%;
  padding: 0 .25rem;
}

.first-in-group-item {
  padding-top: 1.25rem;

  .first-in-group-border {
    border-top: 1px solid $color-grey;
    margin: -1.5rem -1.5rem 1rem;
  }
}
