<a class="nav-item"
  *ngIf="menuEntry"
  [class.child-nav-item]="isChild"
  [routerLink]="menuEntry.path"
  (click)="onItemClicked()"
  [ngbTooltip]="(showTooltip ? menuEntry.labelKey: '') | translate"
   container="body"
   placement="right"
   routerLinkActive="active">
  <ng-container *ngIf="menuEntry.iconClass; else customIcon ">
    <fa-icon class="nav-icon"
      [fixedWidth]="true"
      [icon]="['fas', menuEntry.iconClass]"></fa-icon>
  </ng-container>
  <ng-template #customIcon>
    <alv-custom-icon
      class="nav-icon" [iconKey]="menuEntry.iconKey"></alv-custom-icon>
  </ng-template>
  <span class="nav-text">{{menuEntry.labelKey | translate}}</span>
</a>

<div class="child-nav-container"
     tabindex="-1"
  [routerLink]="menuEntry?.path"
     routerLinkActive="expanded">
  <ng-container *ngFor="let subMenuEntry of menuEntry?.entries">
    <alv-menu-entry [isChild]="true"
      [menuEntry]="subMenuEntry"
      (itemClicked)="onItemClicked()">
    </alv-menu-entry>
  </ng-container>
</div>
