<div class="container pt-md-4 pt-3 px-3">

  <h2>
    <fa-icon
             [icon]="['fas', 'bell']"></fa-icon>
    {{ 'portal.admin.audits.title' | translate }}
  </h2>

  <hr>

  <form [formGroup]="form"
        alvFormSubmitValidation>
    <small>
      <fa-icon [icon]="['fas', 'calendar-alt']"></fa-icon>
      {{ 'portal.admin.audits.filter.filter-by-dates' | translate }}
    </small>
    <div class="form-row">
      <div class="col-3">
        <alv-date-input alvFormControlName="from"
                        label="portal.admin.audits.filter.from"
                        [maxDate]="form.get('to')?.value">
        </alv-date-input>
      </div>
      <div class="col-3">
        <alv-date-input alvFormControlName="to"
                        label="portal.admin.audits.filter.to"
                        [minDate]="form.get('from')?.value"
                        placement="bottom-right">
        </alv-date-input>
      </div>
    </div>

  </form>

  <alv-audits-table [auditList]="auditList"
                    [currentSorting]="currentSorting"
                    [page]="page"
                    (sort)="onSortChange($event)"
                    (scroll)="onScrollChange($event)">

  </alv-audits-table>

</div>
