<alv-modal (primaryAction)="onSubmit()"
           (secondaryAction)="onCancel()"
           [formGroup]="form"
           modalTitle="portal.job-ad-favourites.note-modal.title"
           [icon]="['fas', 'sticky-note']"
           primaryLabel="portal.job-ad-favourites.note-modal.action.save"
           [secondaryLabel]="getSecondaryLabel()">

  <alv-input-field [autofocus]="true"
                   [maxLength]="MAX_LENGTH_1000"
                   [multiline]="true"
                   [showCharacterCounter]="true"
                   alvFormControlName="note"
                   label="portal.job-ad-favourites.note-modal.note.label"
                   class="favourite-note-textarea narrow-form">
  </alv-input-field>

</alv-modal>
