<div class="container mt-md-5">
  <div class="row base"
       *ngIf="job$ | async as job">
    <!-------------Left panel-->
    <div class="col-12 col-md order-11 order-md-1 base__subnavbar">
      <div class="base__sticky-panel">
        <div class="d-flex d-sm-block flex-column-reverse">
          <ul class="pagination pagination--block pagination-alv d-flex">
            <li class="page-item">
              <a class="btn btn-text"
                 routerLink="/job-search">{{'job-detail.back' | translate}}</a>
            </li>
          </ul>

          <hr class="visible-print-block d-none"/>

          <div class="alv-logo-box logo-box logo-box__company flex-height md-whiteframe-1dp">
            <div *ngIf="job.jobContent.company as company"
                 class="detail__content">
              <address>
                <strong>{{ company.name }}</strong>
                <br>

                {{ company.street }} {{ company.houseNumber }}
                <br>

                {{ company.postalCode }} {{ company.city }}
              </address>
            </div>

            <div *ngIf="!job.publication.companyAnonymous && job.jobContent.publicContact as contact">
              <div class="detail__content">
                <strong>{{'job-detail.contactPerson' | translate}}</strong>
                <br>

                <span *ngIf="contact.salutation">{{ 'global.contactPerson.salutation.' + contact.salutation | translate }}</span>
                {{ contact.firstName }}&nbsp;{{ contact.lastName }}
                <br>

                <ng-container *ngIf="contact.phone">
                  <a href="tel:{{contact.phone}}">
                    {{ contact.phone | jr2PhoneNumber }}
                  </a>
                  <br>
                </ng-container>

                <a *ngIf="contact.email"
                   href="mailto:{{ contact.email }}">
                  {{ contact.email }}
                </a>
              </div>
            </div>
          </div>

          <div *ngIf="job.stellennummerAvam && jobCenter$ | async as jobCenter"
               class="order-sm-2 alv-logo-box logo-box logo-box__company flex-height md-whiteframe-1dp">

            <div class="detail__content">
              <address *ngIf="jobCenter.address">
                <strong>{{ 'job-detail.reference.responsible-job-center' | translate }}</strong>
                <br>
                {{jobCenter.address.name}}
                <ng-container *ngIf="jobCenter.address.street || jobCenter.address.houseNumber">
                  , {{jobCenter.address.street}} {{jobCenter.address.houseNumber}}</ng-container>
                <br>
                {{jobCenter.address.zipCode}} {{jobCenter.address.city}}
                <br>
                {{'job-detail.reference.phone' | translate}}
                <a href="tel:{{jobCenter.phone}}">{{jobCenter.phone | jr2PhoneNumber}}</a>
              </address>

              <ng-container *ngIf="job.stellennummerAvam || job.stellennummerEgov">
                <strong>{{'job-detail.reference.job-id' | translate}}:</strong>
                <br>

                <ng-container *ngIf="job.stellennummerAvam">
                  AVAM: {{job.stellennummerAvam}} <br></ng-container>

                <ng-container *ngIf="job.stellennummerEgov">
                  Job-Room: {{job.stellennummerEgov}}</ng-container>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-------------Main screen-->
    <div class="col-12 col-md-8 order-3 base__content"
         *ngIf="jobDescription$ | async as jobDescription">
      <!-----------------Alerts-->
      <ngb-alert *ngIf="showJobAdExternalMessage"
                 type="info"
                 (close)="showJobAdExternalMessage = false"
                 class="d-print-none">
        {{'job-detail.external-job-disclaimer' | translate}}
      </ngb-alert>
      <ngb-alert type="warning"
                 *ngIf="showJobAdDeactivatedMessage"
                 (close)="showJobAdDeactivatedMessage = false">
        {{'job-detail.deactivated' | translate}}
      </ngb-alert>
      <ngb-alert type="info"
                 *ngIf="showJobAdUnvalidatedMessage"
                 (close)="showJobAdUnvalidatedMessage = false"
                 class="d-print-none">
        {{'job-detail.unvalidated' | translate}}
      </ngb-alert>
      <!-----------------Title-->

      <div class="detail__title">
        <h2 class="text--light"
            [innerHTML]="jobDescription.title | safeHtml"></h2>
        <span class="text--primary-color"
              *ngIf="job.jobContent.company; else ravLabel">{{job.jobContent.company.name}}</span>
        <ng-template #ravLabel>
          <span class="text--primary-color">{{ 'jobroomApp.job.rav' | translate }}</span>
        </ng-template>
        <small class="detail__date"
               *ngIf="job.publication.startDate">
          {{'job-detail.onlineSince' | translate}}
          : {{ job.publication.startDate | localeAwareDate }}
        </small>
        <small class="detail__date"
               *ngIf="job.jobContent.numberOfJobs">
          {{'jobroomApp.job.numberOfJobs' | translate}}: {{ job.jobContent.numberOfJobs }}
        </small>
      </div>
      <!--Badges-->
      <div class="detail__content">
        <alv-job-location [location]="job.jobContent.location"
                          classes="badge badge-job-workplace">
        </alv-job-location>
        <span class="badge badge-workload">{{[job.jobContent.employment.workloadPercentageMin, job.jobContent.employment.workloadPercentageMax] | workingTimeRange}}</span>

        <span *ngIf="job.jobContent.employment.startDate"
              class="badge badge-availability"
              translate="job-detail.startDate"
              [translateParams]="{date: job.jobContent.employment.startDate | localeAwareDate}"></span>
        <span *ngIf="!job.jobContent.employment.startDate && job.jobContent.employment.immediately != null"
              class="badge badge-availability">
                    {{'job-detail.startsImmediately.' + job.jobContent.employment.immediately | translate}}
                </span>
        <span *ngIf="job.jobContent.employment.permanent"
              class="badge badge-contract-type">
                    {{'job-search.job-search-list-item.badge.permanent' | translate}}
          </span>
        <span *ngIf="!job.jobContent.employment.permanent && !!job.jobContent.employment.endDate && !job.jobContent.employment.shortEmployment"
              class="badge badge-availability"
              translate="job-detail.endDate"
              [translateParams]="{date: job.jobContent.employment.endDate | localeAwareDate}"></span>
        <span *ngIf="!job.jobContent.employment.permanent && !!job.jobContent.employment.shortEmployment"
              class="badge badge-availability">{{'job-search.job-search-list-item.badge.shortEmployment' | translate}}
                </span>
        <span *ngIf="!job.jobContent.employment.permanent && !job.jobContent.employment.endDate"
              class="badge badge-availability">{{'job-search.job-search-list-item.badge.temporary' | translate}}</span>
        <span *ngIf="job.reportingObligation"
              class="badge badge-danger">{{'job-search.job-search-list-item.badge.restricted' | translate}}</span>
      </div>
      <!-----------------Description-->

      <div *ngIf="jobDescription.description"
           class="detail__content">
        <markdown [data]="jobDescription.description"></markdown>
      </div>

      <!-----------------Bottom details about job-->

      <ngb-accordion>
        <ngb-panel title="{{ 'job-publication-details.jobad-info.label' | translate }}">
          <ng-template ngbPanelContent>
            <ul>
              <li>workplace
                <alv-job-location [location]="job.jobContent.location">
                </alv-job-location>
              </li>
              <li>
                Entry date
                <span
                  [translateParams]="{date: job.jobContent.employment.startDate | localeAwareDate}"
                  translate="job-detail.startDate">
                </span>
                <span *ngIf="!job.jobContent.employment.startDate && job.jobContent.employment.immediately != null">
                    {{'job-detail.startsImmediately.' + job.jobContent.employment.immediately | translate}}
                </span>
              </li>
              <li>
                workload
                {{[job.jobContent.employment.workloadPercentageMin, job.jobContent.employment.workloadPercentageMax] | workingTimeRange}}
              </li>
              <li>
                work period
                <span *ngIf="!job.jobContent.employment.permanent && !job.jobContent.employment.endDate">
              {{'job-search.job-search-list-item.badge.temporary' | translate}}
            </span>
                <span *ngIf="job.reportingObligation">
              {{'job-search.job-search-list-item.badge.restricted' | translate}}
            </span>
              </li>
              <li>
                work form
                <span *ngIf="!job.jobContent.employment.permanent && !!job.jobContent.employment.shortEmployment">
                  {{'job-search.job-search-list-item.badge.shortEmployment' | translate}}
                </span>
              </li>
            </ul>
          </ng-template>
        </ngb-panel>
        <ngb-panel title="{{ 'job-publication-details.min-requirements.label' | translate }}">
          <ng-template ngbPanelContent>
            NOT READY YET
          </ng-template>
        </ngb-panel>
        <ngb-panel
          *ngIf="job.jobContent.languageSkills"
          title="{{ 'global.reference.languages' | translate }}">
          <ng-template ngbPanelContent>
            <alv-languages [languages]="job.jobContent.languageSkills"
            ></alv-languages>
          </ng-template>
        </ngb-panel>
        <ngb-panel *ngIf="job.jobContent.applyChannel"
                   title="{{ 'job-publication-details.contact-details.label' | translate }}">
          <ng-template ngbPanelContent>
            <div class="detail__content">
              <h4 class="detail__content__title detail__content__title--light"></h4>

              <div *ngIf="job.jobContent.applyChannel.formUrl"
                   class="content__item content__item--bullet">
                <strong>{{ 'job-detail.application.online' | translate }}</strong>
                <span>
                  <a href="{{ job.jobContent.applyChannel.formUrl }}">
                    {{ 'job-publication-details.application.online-form' | translate}}
                  </a>
                </span>
              </div>
              <div *ngIf="job.jobContent.applyChannel.emailAddress"
                   class="content__item content__item--bullet">
                <strong>{{ 'job-detail.application.email' | translate }}</strong>
                <span>
                    <a href="mailto:{{job.jobContent.applyChannel.emailAddress}}">{{job.jobContent.applyChannel.emailAddress}}</a>
                </span>
              </div>
              <div *ngIf="job.jobContent.applyChannel.phoneNumber"
                   class="content__item content__item--bullet">
                <strong>{{ 'job-detail.application.phone' | translate }}</strong>
                <span>
                  <a href="tel:{{job.jobContent.applyChannel.phoneNumber}}">
                        {{(job.jobContent.applyChannel.phoneNumber) | jr2PhoneNumber}}
                  </a>
                </span>
              </div>
              <div *ngIf="job.jobContent.applyChannel.mailAddress"
                   class="content__item content__item--bullet">
                <strong>{{ 'job-detail.application.mail' | translate }}</strong>
                <span>{{ job.jobContent.applyChannel.mailAddress }}</span>
              </div>
            </div>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>

    </div>

    <!-------------Right panel-->
    <div class="col-12 col-md order-12 base__related">
      <div class="base__sticky-panel">
        <p>
          <button (click)="prev()"
                  class="btn btn-secondary"
                  *ngIf="prevVisible$ | async">prev
          </button>
          <button (click)="next()"
                  class="btn btn-secondary"
                  *ngIf="nextVisible$ | async">next
          </button>
        </p>

        <p>
          <a *ngIf="job.jobContent.applyChannel?.formUrl"
             class="btn btn-primary btn-block btn-sm"
             href="{{job.jobContent.applyChannel?.formUrl}}"
             target="{{job.id}}">
            {{'job-detail.action.applyNow' | translate}}
          </a>
          <a *ngIf="job.jobContent.externalUrl"
             class="btn btn-secondary btn-block btn-sm"
             href="{{job.jobContent.externalUrl}}"
             target="{{job.id}}">
            {{'job-detail.action.showExternalPage' | translate}}
          </a>
        </p>

        <ul class="nav filter-nav flex-column">
          <li class="nav-item">
            <a class="btn btn-text"
               #copyToClipboard
               ngxClipboard
               [cbContent]="getJobUrl()"
               (cbOnSuccess)="onCopyLink()"
               [ngbTooltip]="'global.messages.tooltip.link-copy.success' | translate"
               triggers="manual">
              <span class="fa fa-share"
                    aria-hidden="true"></span>
              {{'job-detail.action.copyLink' | translate}}</a>
          </li>
          <li class="nav-item d-none d-md-block">
            <a class="btn btn-text"
               (click)="printJob()">
              <span class="fa fa-print"
                    aria-hidden="true"></span>
              {{'job-detail.action.print' | translate}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>



