@import '../../../../node_modules/bootstrap/scss/functions';
@import '../../../../node_modules/bootstrap/scss/variables';
@import '../../../../node_modules/bootstrap/scss/mixins';
@import "../../../scss/common/colors";
@import "../../../scss/common/layout";

.side-panel {
  position: sticky;
  top: 1.5rem;
}

@include media-breakpoint-down(sm) {
  .side-panel {
    position: relative;
    top: 0;
  }
}


.dropdown-toggle::after {
  display: none;
}

.logo-box__company {
  p {
    margin-bottom: 0;
  }

  h4 {
    font-size: inherit;
  }
}

td:first-of-type {
  width: 200px;
}

.job-detail__title h2 {
  height: auto;
  margin-bottom: auto;
}

:host ::ng-deep .detail__content__title--light {
  background: none !important;
  border-bottom: solid $color-light-grey;
  border-width: thin;
  margin-bottom: .5em;
  padding-bottom: .25em;
}


@media screen and (max-width: 479px) {
  .logo-box__company {
    margin-top: $margin-x-narrow;
  }
}



// Job-Room-detail
.detail__map {
  width: 100%;
  height: 300px;
}

.job-company {
  color: $color-primary;
}


.detail__subtitle {
  margin-bottom: $margin-x-narrow;

  font-weight: 300;
  font-size: 1.125rem;
}


.detail__applications {
  margin: $margin-x-general 0;
}

.detail--occupation:nth-child(even) {
  background-color: rgba($color-light-grey, .5);
}

.alv-list {
  li {
    margin-bottom: 0.5em;
  }

  .link, alv-apply-channel-post-address {
    margin: 0 0 1em 1.8em;
  }
}

@media screen and (max-width: 767px) {

  .detail__title {
    h2 {
      height: auto;
    }
  }

  .detail__references {
    order: 1;
  }
  .detail__body {
    order: 0;
  }
  .detail__actions {
    order: 2;
  }

  .detail__company,
  .detail__pes {
    &.alv-logo-box {
      border-radius: 0 !important;
      padding: 0;
      background: transparent;
      font-size: inherit;
    }

    &.md-whiteframe-1dp {
      box-shadow: none;
    }
  }

}
