<div class="container-fluid mt-2 mt-md-4">
  <div class="row"
       *ngIf="jobDetailModel$ | async as jobDetailModel">
    <!--Mobile only - back button and dropdown menu-->
    <div class="col-12 d-flex justify-content-between d-md-none">
      <div>
        <a class="btn btn-text btn-text-icon mb-2"
           routerLink="/job-search">
          <i class="fa fa-caret-left mr-1"></i>
          {{'job-detail.back' | translate}}
        </a>
      </div>
      <div #mobileActionsMenu="ngbDropdown"
           class="d-inline-block"
           ngbDropdown
           placement="bottom-right">
        <button (click)="mobileActionsMenu.toggle()"
                class="btn btn-text btn-icon"
                id="dropdownMenu"
                ngbDropdownAnchor
                aria-label="Open job detail menu">
          <i class="fa fa-ellipsis-v"></i>
        </button>
        <div aria-label="Job detail menu"
             ngbDropdownMenu>
          <button (click)="prev()"
                  [disabled]="!(prevEnabled$ | async)"
                  class="dropdown-item">
            {{'job-detail.previous-result' | translate}}
          </button>
          <button (click)="next()"
                  [disabled]="!(nextEnabled$ | async)"
                  class="dropdown-item">
            {{'job-detail.next-result' | translate}}
          </button>
          <a *ngIf="jobDetailModel.applyChannel?.formUrl"
             class="dropdown-item"
             href="{{jobDetailModel.applyChannel?.formUrl}}"
             target="_blank">
            {{'job-detail.action.applyNow' | translate}}
          </a>
          <a *ngIf="jobDetailModel.jobContent.externalUrl"
             class="dropdown-item"
             href="{{jobDetailModel.jobContent.externalUrl}}"
             target="_blank}">
            {{'job-detail.action.showExternalPage' | translate}}
          </a>
          <button (click)="printJob()"
                  class="dropdown-item">
            <span>{{'job-detail.action.print' | translate}}</span>
          </button>
          <a class="dropdown-item"
             href="{{'mailto:?body=' + getEncodedUrl()}}">
            <span>{{'job-detail.action.sendEmail' | translate}}</span>
          </a>
        </div>
      </div>
    </div>
    <!-------------Left panel-->
    <div class="col-xs-12 col-md-3 col-xl-2 order-11 order-md-1 mt-3 mt-md-0 ">
      <div class="side-panel">
        <a class="btn btn-text btn-text-icon mb-3 d-none d-md-block"
           routerLink="/job-search">
          <i class="fa fa-caret-left pr-1"></i>
          {{'job-detail.back' | translate}}
        </a>
        <div class="alv-panel p-2 mb-3">
          <div class="d-flex d-sm-block flex-column-reverse">

            <hr class="visible-print-block d-none"/>

            <div class="company-panel">
              <div *ngIf="jobDetailModel.jobContent.company as company">
                <alv-post-address [address]="company">
                </alv-post-address>
              </div>

              <div *ngIf="!jobDetailModel.publication.companyAnonymous && jobDetailModel.jobContent.publicContact as contact">
                <strong>{{'job-detail.contactPerson' | translate}}</strong>
                <br>
                <span *ngIf="contact.salutation">{{ 'global.contactPerson.salutation.' + contact.salutation | translate }}</span>
                {{ contact.firstName }}&nbsp;{{ contact.lastName }}
                <br>

                <ng-container *ngIf="contact.phone">
                  <a class="link"
                     href="tel:{{contact.phone}}">
                    {{ contact.phone | phoneNumber }}
                  </a>
                  <br>
                </ng-container>

                <a *ngIf="contact.email"
                   class="link"
                   style="max-width: 100%"
                   href="mailto:{{ contact.email }}">
                  {{ contact.email }}
                </a>
              </div>
            </div>

            <div *ngIf="jobDetailModel.stellennummerAvam && jobDetailModel.jobCenter as jobCenter"
                 class="order-sm-2 alv-logo-box logo-box logo-box__company flex-height md-whiteframe-1dp">


              <div *ngIf="jobCenter.address as address">
                <strong>
                  {{ 'job-detail.reference.responsible-job-center' | translate }}
                </strong>
                <alv-post-address [address]="{
                        name: address.name,
                        street: address.street,
                        houseNumber: address.houseNumber,
                        postalCode: address.zipCode,
                        city: address.city}">
                </alv-post-address>
                <br>
                {{'job-detail.reference.phone' | translate}}
                <a class="link"
                   href="tel:{{jobCenter.phone}}">{{jobCenter.phone | phoneNumber}}</a>
              </div>

              <ng-container *ngIf="jobDetailModel.stellennummerAvam || jobDetailModel.stellennummerEgov">
                <strong>{{'job-detail.reference.job-id' | translate}}:</strong>
                <br>

                <ng-container *ngIf="jobDetailModel.stellennummerAvam">
                  {{'job-detail.avam.label' | translate}}
                  : {{jobDetailModel.stellennummerAvam}}
                  <br>
                </ng-container>

                <ng-container *ngIf="jobDetailModel.stellennummerEgov">
                  {{'job-detail.job-room-id' | translate}} {{jobDetailModel.stellennummerEgov}}
                </ng-container>
              </ng-container>
            </div>

          </div>
        </div>
      </div>

    </div>
    <!-------------Main screen-->
    <div class="col-xs-12 col-md-6 col-xl-8 order-3"
         *ngIf="jobDetailModel.jobDescription as jobDescription">
      <!-----------------Alerts-->
      <div *ngIf="alerts?.length"
           class="mb-4">
        <alv-alert *ngFor="let alert of alerts"
                   [notification]="alert"
                   (dismiss)="dismissAlert(alert)">
        </alv-alert>
      </div>
      <!-----------------Title-->

      <h2 class="mb-4"
          [innerHTML]="jobDescription.title | safeHtml"></h2>
      <span class="job-company mr-2 mr-md-4"
            *ngIf="jobDetailModel.jobContent.company; else ravLabel">{{jobDetailModel.jobContent.company.name}}</span>
      <ng-template #ravLabel>
        {{ 'jobroomApp.job.rav' | translate }}
      </ng-template>
      <small class="mr-2 mr-md-4"
             *ngIf="jobDetailModel.publication.startDate">
        {{'job-detail.onlineSince' | translate}}: {{ jobDetailModel.publication.startDate | localeAwareDate }}
      </small>
      <small *ngIf="jobDetailModel.jobContent.numberOfJobs">
        {{'jobroomApp.job.numberOfJobs' | translate}}: {{ jobDetailModel.jobContent.numberOfJobs }}
      </small>

      <!--Badges-->
      <div class="mb-4">
        <alv-inline-badges [badges]="badges"></alv-inline-badges>
      </div>

      <!-----------------Description-->

      <div *ngIf="jobDescription.description">
        <markdown [data]="jobDescription.description"
                  ngPreserveWhitespaces>
        </markdown>
      </div>

      <!-----------------Bottom details about job-->

      <ngb-accordion [activeIds]="activePanelIds"
                     class="d-block mb-3">

        <ngb-panel [id]="jobDetailPanelId.JOB_AD_INFO">
          <ng-template ngbPanelTitle>
            <div class="d-flex align-items-center">
              {{ 'job-publication-details.jobad-info.label' | translate }}
              <div class="flex-grow-1"></div>
              <i class="fas fa-chevron-up collapse-icon"></i>
              <i class="fas fa-chevron-down expand-icon"></i>
            </div>
          </ng-template>

          <ng-template ngbPanelContent>
            <ul class="alv-list">
              <li>
                <strong>
                  {{'job-detail.workplace.label' | translate}}
                </strong>
                <div class="list-item-content">
                  {{jobDetailModel.jobContent.location | jobLocation}}
                </div>
              </li>
              <li *ngIf="jobDetailModel.hasStartDate()">
                <strong>
                  {{'job-detail.employmentStartDate.label' | translate}}
                </strong>
                <div class="list-item-content">
                  {{jobDetailModel.employment.startDate | localeAwareDate}}
                </div>
              </li>
              <li *ngIf="jobDetailModel.hasImmediately()">
                <strong>
                  {{'job-detail.employmentStartDate.label' | translate}}
                </strong>
                <div class="list-item-content">
                  {{'job-detail.startsImmediately.' + jobDetailModel.employment.immediately | translate}}
                </div>
              </li>
              <li>
                <strong>
                  {{'job-detail.workload.label' | translate}}
                </strong>
                <div class="list-item-content">
                  {{[jobDetailModel.employment?.workloadPercentageMin,
                  jobDetailModel.employment?.workloadPercentageMax] | workingTimeRange}}
                </div>
              </li>
              <li *ngIf="jobDetailModel.isTemporary()">
                <strong>
                  {{'job-detail.employmentEndDate.label' | translate}}
                </strong>
                <div class="list-item-content">
                  {{'job-search.job-search-list-item.badge.temporary' | translate}}
                </div>
              </li>
              <li *ngIf="jobDetailModel.isPermanent()">
                <strong>
                  {{'job-detail.employmentEndDate.label' | translate}}
                </strong>
                <div class="list-item-content">
                  {{'job-search.job-search-list-item.badge.permanent' | translate}}
                </div>
              </li>
              <li *ngIf="jobDetailModel.isShortEmployment()">
                <strong>
                  {{'job-detail.workForm.label' | translate}}
                </strong>
                <div class="list-item-content">
                  {{'job-search.job-search-list-item.badge.shortEmployment' | translate}}
                </div>
              </li>
            </ul>

          </ng-template>
        </ngb-panel>

        <ngb-panel *ngIf="jobDetailModel.firstOccupation as occupation"
                   [id]="jobDetailPanelId.JOB_AD_REQUIREMENTS">
          <ng-template ngbPanelTitle>
            <div class="d-flex align-items-center">
              {{ 'job-publication-details.min-requirements.label' | translate }}
              <div class="flex-grow-1"></div>
              <i class="fas fa-chevron-up collapse-icon"></i>
              <i class="fas fa-chevron-down expand-icon"></i>
            </div>
          </ng-template>
          <ng-template ngbPanelContent>
            <ul class="alv-list">
              <li>
                <strong>
                  {{'job-detail.workExperience' | translate}}
                </strong>
                <div class="list-item-content">
                  {{'global.experience.' + occupation.workExperience | translate}}
                </div>
              </li>
              <li>
                <strong>
                  {{'job-detail.education' | translate}}
                </strong>
                <div class="list-item-content">
                  {{'global.degree.avamCode.' + occupation.educationCode| translate}}
                </div>
              </li>
            </ul>
          </ng-template>
        </ngb-panel>

        <ngb-panel *ngIf="jobDetailModel.jobContent.languageSkills?.length"
                   [id]="jobDetailPanelId.JOB_AD_LANGUAGES">
          <ng-template ngbPanelTitle>
            <div class="d-flex align-items-center">
              {{ 'global.reference.languages' | translate }}
              <div class="flex-grow-1"></div>
              <i class="fas fa-chevron-up collapse-icon"></i>
              <i class="fas fa-chevron-down expand-icon"></i>
            </div>
          </ng-template>
          <ng-template ngbPanelContent>
            <alv-language-skills [languages]="jobDetailModel.jobContent.languageSkills">
            </alv-language-skills>
          </ng-template>
        </ngb-panel>

        <ngb-panel *ngIf="jobDetailModel.applyChannel as applyChannel"
                   [id]="jobDetailPanelId.JOB_AD_CONTACT_DETAILS">
          <ng-template ngbPanelTitle>
            <div class="d-flex align-items-center">
              {{ 'job-publication-details.contact-details.label' | translate }}
              <div class="flex-grow-1"></div>
              <i class="fas fa-chevron-up collapse-icon"></i>
              <i class="fas fa-chevron-down expand-icon"></i>
            </div>
          </ng-template>
          <ng-template ngbPanelContent>
            <ul class="alv-list">
              <li *ngIf="applyChannel.formUrl as formUrl">
                <strong>{{ 'job-detail.application.online' | translate }}</strong>
                <a class="link list-item-content"
                   href="{{formUrl | normalizeUrl}}">
                  <i class="fas fa-caret-right link-icon"></i>
                  {{ 'job-publication-details.application.online-form' | translate}}
                </a>
              </li>
              <li *ngIf="applyChannel.emailAddress as emailAddress">
                <strong>{{ 'job-detail.application.email' | translate }}</strong>
                <a class="link list-item-content"
                   href="mailto:{{emailAddress}}">
                  <i class="fas fa-caret-right link-icon"></i>
                  {{emailAddress}}
                </a>
              </li>
              <li *ngIf="applyChannel.phoneNumber as phoneNumber">
                <strong>{{ 'job-detail.application.phone' | translate }}</strong>
                <a class="link list-item-content"
                   href="tel:{{phoneNumber}}">
                  <i class="fas fa-caret-right link-icon"></i>
                  {{(phoneNumber) | phoneNumber}}
                </a>
              </li>
              <li *ngIf="applyChannel.postAddress || applyChannel.rawPostAddress">
                <strong>{{ 'job-detail.application.mail' | translate }}</strong>
                <div class="list-item-content">
                  <ng-container *ngIf="applyChannel.postAddress; else rawPostAddress">
                    <alv-post-address [address]="applyChannel.postAddress">
                    </alv-post-address>
                  </ng-container>
                  <ng-template #rawPostAddress>
                    {{applyChannel.rawPostAddress}}
                  </ng-template>
                </div>
              </li>
            </ul>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>

    </div>
    <!-------------Right panel-->
    <div class="col-xs-12 col-md-3 col-xl-2 d-none d-md-block order-12">
      <div class="side-panel">
        <div class="d-flex">
          <button (click)="prev()"
                  [disabled]="!(prevEnabled$ | async)"
                  class="btn btn-text btn-text-icon mb-2">
            <i class="fa fa-caret-left mr-1"></i>
            {{'job-detail.previous-result' | translate}}
          </button>
          <div class="flex-grow-1"></div>
          <button (click)="next()"
                  [disabled]="!(nextEnabled$ | async)"
                  class="btn btn-text btn-text-icon mb-2">
            {{'job-detail.next-result' | translate}}
            <i class="fa fa-caret-right ml-1"></i>
          </button>
        </div>

        <p>
          <a *ngIf="jobDetailModel.applyChannel?.formUrl"
             class="btn btn-primary btn-block btn-sm"
             href="{{jobDetailModel.applyChannel?.formUrl | normalizeUrl}}"
             target="_blank">
            {{'job-detail.action.applyNow' | translate}}
          </a>
          <a *ngIf="jobDetailModel.jobContent.externalUrl"
             class="btn btn-secondary btn-block btn-sm"
             href="{{jobDetailModel.jobContent.externalUrl | normalizeUrl}}"
             target="{{jobDetailModel.id}}">
            {{'job-detail.action.showExternalPage' | translate}}
          </a>
        </p>

        <ul class="nav flex-column">
          <li>
            <a class="btn btn-text btn-text-icon"
               #copyToClipboard
               ngxClipboard
               [cbContent]="getJobUrl()"
               (cbOnSuccess)="onCopyLink()"
               [ngbTooltip]="'global.messages.tooltip.link-copy.success' | translate"
               triggers="manual">
              <i aria-hidden="true"
                 class="fa fa-copy mr-1"></i>
              {{'job-detail.action.copyLink' | translate}}
            </a>
          </li>
          <li>
            <a class="btn btn-text btn-text-icon"
               href="{{'mailto:?body=' + getEncodedUrl()}}">
              <i aria-hidden="true"
                 class="fa fa-share mr-1"></i>
              {{'job-detail.action.sendEmail' | translate}}
            </a>
          </li>
          <li class="d-none d-md-block">
            <a class="btn btn-text btn-text-icon"
               (click)="printJob()">
              <i aria-hidden="true"
                 class="fa fa-print mr-1"></i>
              {{'job-detail.action.print' | translate}}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>



