@import '../../../../node_modules/bootstrap/scss/functions';
@import '../../../../node_modules/bootstrap/scss/variables';
@import '../../../../node_modules/bootstrap/scss/mixins';
@import "../../../scss/common/colors";

.job-company {
  color: $color-primary;
}

.company-panel {
  word-break: break-word;
}

.dropdown-toggle::after {
  display: none;
}

@include media-breakpoint-up(md) {
  .side-panel {
    position: sticky;
    top:1.5rem;
  }
}
