<div class="container mt-md-5">
  <div class="row base"
       *ngIf="job">
    <div class="col-12 col-md order-11 order-md-1 base__subnavbar">
      <div class="base__sticky-panel">
        <div class="d-flex d-sm-block flex-column-reverse">

        </div>
      </div>
    </div>

    <div class="col-12 col-md-8 order-3 base__content"
         *ngIf="jobDescription$ | async as jobDescription">
      <ngb-alert *ngIf="showJobAdExternalMessage"
                 type="info"
                 (close)="showJobAdExternalMessage = false"
                 class="d-print-none">
        {{'job-detail.external-job-disclaimer' | translate}}
      </ngb-alert>
      <ngb-alert type="warning"
                 *ngIf="showJobAdDeactivatedMessage"
                 (close)="showJobAdDeactivatedMessage = false">
        {{'job-detail.deactivated' | translate}}
      </ngb-alert>
      <ngb-alert type="info"
                 *ngIf="showJobAdUnvalidatedMessage"
                 (close)="showJobAdUnvalidatedMessage = false"
                 class="d-print-none">
        {{'job-detail.unvalidated' | translate}}
      </ngb-alert>
      <div class="detail__title">
        <h2 class="text--light"
            [innerHTML]="jobDescription.title | safeHtml"></h2>
        <span class="text--primary-color"
              *ngIf="job.jobContent.company; else ravLabel">{{job.jobContent.company.name}}</span>
        <ng-template #ravLabel>
          <span class="text--primary-color">{{ 'jobroomApp.job.rav' | translate }}</span>
        </ng-template>
        <small class="detail__date"
               *ngIf="job.publication.startDate">
          {{'job-detail.onlineSince' | translate}}
          : {{ job.publication.startDate | localeAwareDate }}
        </small>
        <small class="detail__date"
               *ngIf="job.jobContent.numberOfJobs">
          {{'jobroomApp.job.numberOfJobs' | translate}}: {{ job.jobContent.numberOfJobs }}
        </small>
      </div>
      <div class="detail__content">
        <alv-job-location [location]="job.jobContent.location">
        </alv-job-location>
        <span class="badge badge-gray">{{[job.jobContent.employment.workloadPercentageMin, job.jobContent.employment.workloadPercentageMax] | workingTimeRange}}</span>

        <span *ngIf="job.jobContent.employment.startDate"
              class="badge badge-yellow"
              translate="job-detail.startDate"
              [translateParams]="{date: job.jobContent.employment.startDate | localeAwareDate}"></span>
        <span *ngIf="!job.jobContent.employment.startDate && job.jobContent.employment.immediately != null"
              class="badge badge-yellow">
                    {{'job-detail.startsImmediately.' + job.jobContent.employment.immediately | translate}}
                </span>
        <span *ngIf="job.jobContent.employment.permanent"
              class="badge badge-green">{{'job-search.job-search-list-item.badge.permanent' | translate}}</span>
        <span *ngIf="!job.jobContent.employment.permanent && !!job.jobContent.employment.endDate && !job.jobContent.employment.shortEmployment"
              class="badge badge-yellow"
              translate="job-detail.endDate"
              [translateParams]="{date: job.jobContent.employment.endDate | localeAwareDate}"></span>
        <span *ngIf="!job.jobContent.employment.permanent && !!job.jobContent.employment.shortEmployment"
              class="badge badge-yellow">{{'job-search.job-search-list-item.badge.shortEmployment' | translate}}
                </span>
        <span *ngIf="!job.jobContent.employment.permanent && !job.jobContent.employment.endDate"
              class="badge badge-yellow">{{'job-search.job-search-list-item.badge.temporary' | translate}}</span>
        <span *ngIf="job.reportingObligation"
              class="badge badge-danger">{{'job-search.job-search-list-item.badge.restricted' | translate}}</span>
      </div>
      <div *ngIf="jobDescription.description"
           class="detail__content">
        <markdown [data]="jobDescription.description"></markdown>
      </div>
      <pre>{{job.jobContent.languageSkills|json}}</pre>

      <br/>
      <div *ngIf="job.jobContent.applyChannel"
           class="detail__content">
        <h4 class="detail__content__title detail__content__title--light">{{ 'job-detail.application.title' | translate }}</h4>

        <div *ngIf="job.jobContent.applyChannel.formUrl"
             class="content__item content__item--bullet">
          <strong>{{ 'job-detail.application.online' | translate }}</strong>
          <span>
                        <a href="{{ job.jobContent.applyChannel.formUrl }}">{{ 'job-publication-details.application.online-form' | translate}}</a>
                    </span>
        </div>
        <div *ngIf="job.jobContent.applyChannel.emailAddress"
             class="content__item content__item--bullet">
          <strong>{{ 'job-detail.application.email' | translate }}</strong>
          <span>
                        <a href="mailto:{{job.jobContent.applyChannel.emailAddress}}">{{job.jobContent.applyChannel.emailAddress}}</a>
                    </span>
        </div>
        <div *ngIf="job.jobContent.applyChannel.phoneNumber"
             class="content__item content__item--bullet">
          <strong>{{ 'job-detail.application.phone' | translate }}</strong>
          <span><a href="tel:{{job.jobContent.applyChannel.phoneNumber}}">
                        {{(job.jobContent.applyChannel.phoneNumber) | jr2PhoneNumber}}
                    </a></span>
        </div>
        <div *ngIf="job.jobContent.applyChannel.mailAddress"
             class="content__item content__item--bullet">
          <strong>{{ 'job-detail.application.mail' | translate }}</strong>
          <span>{{ job.jobContent.applyChannel.mailAddress }}</span>
        </div>
      </div>
    </div>

    <div class="col-12 col-md order-12 base__related">
      <div class="base__sticky-panel">

        <p>
          <a *ngIf="job.jobContent.applyChannel?.formUrl"
             class="btn btn-primary btn-block btn-sm"
             href="{{job.jobContent.applyChannel?.formUrl}}"
             target="{{job.id}}">
            {{'job-detail.action.applyNow' | translate}}
          </a>
          <a *ngIf="job.jobContent.externalUrl"
             class="btn btn-secondary btn-block btn-sm"
             href="{{job.jobContent.externalUrl}}"
             target="{{job.id}}">
            {{'job-detail.action.showExternalPage' | translate}}
          </a>
        </p>

        <ul class="nav filter-nav flex-column">
          <li class="nav-item">
            <a class="nav-link"
               #copyToClipboard
               ngxClipboard
               [cbContent]="getJobUrl()"
               (cbOnSuccess)="onCopyLink()"
               [ngbTooltip]="'global.messages.tooltip.link-copy.success' | translate"
               triggers="manual">
              <span class="fa fa-share"
                    aria-hidden="true"></span>
              {{'job-detail.action.copyLink' | translate}}</a>
          </li>
          <li class="nav-item d-none d-md-block">
            <a class="nav-link"
               (click)="printJob()">
              <span class="fa fa-print"
                    aria-hidden="true"></span>
              {{'job-detail.action.print' | translate}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>


<pre>{{job|json}}</pre>
