//@import "~bootstrap/scss/_variables.scss";
@import "../../../scss/common/colors";
@import "../../../scss/common/layout";

.btn-block {
  text-overflow: ellipsis;
  overflow: hidden;
}

.logo-box__company {
  p {
    margin-bottom: 0;
  }

  h4 {
    font-size: inherit;
  }
}

td:first-of-type {
  width: 200px;
}

.job-detail__title h2 {
  height: auto;
  margin-bottom: auto;
}

:host ::ng-deep .detail__content__title--light {
  background: none !important;
  border-bottom: solid $color-light-grey;
  border-width: thin;
  margin-bottom: .5em;
  padding-bottom: .25em;
}

:host ::ng-deep .content__item--bullet {
  display: list-item;
  line-height: 2em;
  list-style: none inside;

  &::before {
    content: "";
    line-height: 2em;
    width: .5em;
    height: .5em;
    background-color: $color-red;
    float: left;
    margin: .75em 1.25em 0.75em .5em;
  }
}

@media screen and (max-width: 479px) {
  .logo-box__company {
    margin-top: $margin-x-narrow;
  }
}
