@import "../../../../scss/common/colors";
@import '../../../../../node_modules/bootstrap/scss/functions';
@import '../../../../../node_modules/bootstrap/scss/variables';
@import '../../../../../node_modules/bootstrap/scss/mixins';

// Collapsible filter panel
button.title-bar {
  display: none;
}

div.title-bar {
  display: block;
}

.language-selection {
  margin-top: -0.5rem;
  padding-top: 0.5rem;
  background-color: $color-light-grey;
}

@include media-breakpoint-down(sm) {
  .filter-form {
    display: none;
    &.expanded {
      display: block;
    }
  }
  button.title-bar {
    display: block;
  }
  div.title-bar {
    display: none;
  }
}

.delete-col {
  min-width: 50px;
  height: 46px;
}
