<div class="form-group" *ngIf="control">
  <div class="form-label-group position-relative" [class.invalid]="control.touched && control.invalid">
        <span
              class="required-indicator">
    </span>
    <select [attr.id]="id"
            [formControl]="control"
            [attr.required]="true"
            [class.placeholder-shown]="!control.value"
            class="form-control custom-select">
      <option *ngFor="let option of options$ | async" [value]="option.value">{{option.label}}</option>
    </select>
    <label [for]="id">{{label}}</label>
    <i class="fas fa-caret-down dropdown-icon"></i>
  </div>
  <os-validation-messages [control]="control"
                          [id]="validationId"
                          [customValidationMessages]="validationMessages">
  </os-validation-messages>
</div>
