<div class="w-100 d-flex steps-container">
  <div *ngFor="let step of steps; let i = index;"
       [class.active]="i < activeStep"
       class="step flex-grow-1 d-flex flex-column">
    <div class="top-half"></div>
    <div class="bottom-half"></div>
    <div class="step-indicator">
      <div class="step-container">
        <div class="step-icon">
          <i [ngClass]="'fa-' + step.icon"
             class="fas">
          </i>
        </div>
        <small class="step-label">
          {{step.label | translate}}
        </small>
      </div>
    </div>
  </div>
  <div class="step flex-grow-1">
    <div class="top-half"></div>
    <div class="bottom-half"></div>
  </div>
</div>
