<div class="container-fluid query-search-area py-4">
  <div class="form-row">
    <h2 class="sr-only">
      Stellen suchen
    </h2>
    <alv-job-query-panel class="col-md-9"
                         (jobQueryPanelValuesChange)="onQueryChange($event)"
                         [showSpinner]="resultsAreLoading$ | async"
                         [jobQueryPanelValues]="jobSearchFilter$ | async">
    </alv-job-query-panel>

    <button class="btn btn-text col-md-1"
            (click)="onResetFilter()">
      {{ 'job-search.toolbar.reset' | translate }}
    </button>
  </div>
</div>
<div (scrolled)="onScroll()"
     [fromRoot]="true"
     [infiniteScrollThrottle]="50"
     [immediateCheck]="true"
     [infiniteScrollContainer]="'main'"
     class="container-fluid"
     infiniteScroll>
  <div class="row mt-md-4 mt-3">
    <div class="col-xs-12 col-md-3 col-xl-2">
      <div class="side-panel">
        <div class="alv-bar mb-1">
          <span *ngIf="resultsAreLoading$ | async; else resultsCount">...</span>
          <ng-template #resultsCount>
            <strong>{{totalCount$ | async }} Stellen</strong>
          </ng-template>
        </div>
        <h2 class="sr-only">
          Stellen filtern
        </h2>
        <alv-filter-panel (filtersChange)="onFiltersChange($event)"
                          [filterPanelValues]="jobSearchFilter$ | async">
        </alv-filter-panel>
      </div>
    </div>
    <div class="col-xs-12 col-md-6 col-xl-8 order-3 order-md-2">
      <h2 class="sr-only">
        Stellen Suchresultate
      </h2>
      <alv-job-search-result *ngFor="let jobSearchResult of jobSearchResults$ | async"
                             [jobSearchResult]="jobSearchResult"></alv-job-search-result>
    </div>

    <div *ngIf="jobSearchMailToLink$ | async as jobSearchMailToLink"
         class="col-xs-12 col-md-3 col-xl-2 order-2 order-md-3 mb-3 text-right text-md-left">
      <a class="btn btn-text btn-text-icon btn-truncate side-panel"
         href="{{jobSearchMailToLink}}">
        <i aria-hidden="true"
           class="fa fa-share mr-1"></i>
        {{'job-detail.action.sendEmail' | translate}}
      </a>
    </div>
  </div>
</div>
