.test {
    /*unquoted url*/
    background-image: url(/assets/nested/directory/my-picture.jpeg);
    /*single.quoted url*/
    background-image: url('/assets/my-font.woff2');
    /*double-quoted url*/
    background-image: url("/assets/my-picture.jpeg");
    /*escaped double-quoted url*/
    background-image: url(\"/assets/my-picture.jpeg\");
    /*escaped single-quoted*/
    background-image: url(\'/assets/my-picture.jpeg\');
}
