@import "../../../../scss/common/colors";

.job-company {
  color: $color-primary;
}

.job-ad-status {
  white-space: nowrap;
}

.job-title, .job-description {
  word-wrap: break-word;
}

// Capitalize the first letter of the job title
.job-title:first-letter {
  text-transform: capitalize;
}
