<ng-container *ngIf="jobAdManagementRow$ | async as jobAdManagementRow">
  <td>{{jobAdManagementRow.egov}}</td>
  <td>{{jobAdManagementRow.avam}}</td>
  <td>{{jobAdManagementRow.publicationDate | date:'dd.MM.yyyy'}}</td>
  <td>{{jobAdManagementRow.title}}</td>
  <td>{{jobAdManagementRow.location}}</td>
  <td>{{ 'global.job-publication.status.' + jobAdManagementRow.status | translate }}</td>
  <td>
    <div class="actions">
      <div #mobileActionsMenu="ngbDropdown"
           class="d-inline-block"
           ngbDropdown
           placement="bottom-right">
        <button (click)="mobileActionsMenu.toggle()"
                aria-label="Open candidate detail menu"
                class="btn btn-text btn-icon"
                id="dropdownMenu"
                ngbDropdownAnchor>
          <i class="fa fa-ellipsis-v"></i>
        </button>
        <div [attr.aria-label]="'Job advertisement row actions for the row '+ jobAdManagementRow.title"
             ngbDropdownMenu>
          <button class="dropdown-item">
            {{ 'job-publication-details.copy' | translate }}
          </button>
          <button class="dropdown-item"
                  [routerLink]="jobAdManagementRow.detailRouterLink">
            {{ 'entity.action.open' | translate }}
          </button>
          <button class="dropdown-item"
                  *ngIf="jobAdManagementRow.isCancellable"
                  (click)="cancelJobAdAction()">
            {{'job-publication-details.cancel' | translate }}
          </button>
        </div>
      </div>
    </div>
  </td>

</ng-container>
