@import "../../../../scss/common/colors";
@import "../../../../scss/common/variables";

:host:first-of-type {
  border-top: 1px solid $color-medium-grey;
  display: block;
}


.profile-item {
  background-color: $color-white;
  border-bottom: 1px solid $color-medium-grey;
  text-decoration: none;
  color: $color-grey-black;
  .profile-name {
    margin-bottom: 0;
  }
  .hover-indicator {
    position: absolute;
    left: 0;
    top: -1px;
    height: calc(100% + 2px);
    width: 5px;
  }
  &:hover {
    cursor: pointer;
    box-shadow: $box-shadow-default;
    color: $color-primary;
    z-index: 1;
    .hover-indicator {
      background-color: $color-primary;
    }

  }
}
