<fieldset [formGroup]="postAddress">

  <legend class="sr-only">{{legend | translate }}</legend>

  <alv-input-field label="home.tools.job-publication.company.name"
                   alvFormControlName="name"
                   [maxLength]="NAME_MAX_LENGTH">
  </alv-input-field>

  <div class="form-row">
    <div class="col-8"
         [formGroup]="postAddress.get('postOfficeBoxNumberOrStreet')">
      <alv-input-field label="home.tools.job-publication.company.street"
                       alvFormControlName="street"
                       [showGroupErrors]="true"
                       [validationMessages]="[{
                                error: 'atLeastOneRequired',
                                message: 'home.tools.job-publication.messages.validate.at-least-one-required-street-or-pobox'}
                                ]"
                       [maxLength]="STREET_MAX_LENGTH">
      </alv-input-field>
    </div>
    <div class="col-4">
      <alv-input-field label="home.tools.job-publication.company.house-number"
                       alvFormControlName="houseNumber"
                       [maxLength]="HOUSE_NUMBER_MAX_LENGTH">
      </alv-input-field>
    </div>
  </div>

  <ng-container [formGroup]="postAddress.get('postOfficeBoxNumberOrStreet')">
    <alv-input-field label="home.tools.job-publication.company.postbox-number"
                     alvFormControlName="postOfficeBoxNumber"
                     [showGroupErrors]="true"
                     [validationMessages]="[{
                        error: 'atLeastOneRequired', message: 'home.tools.job-publication.messages.validate.at-least-one-required-street-or-pobox'
                     }]"
                     [maxLength]="PO_BOX_MAX_LENGTH">
    </alv-input-field>
  </ng-container>

  <alv-zip-city-input [parentForm]="postAddress"
                      [zipCityFormValue]="postAddressFormValue.zipAndCity"
                      [countryIsoCode]="countryIsoCode$ | async">
  </alv-zip-city-input>

  <alv-select label="home.tools.job-publication.company.country"
              alvFormControlName="countryIsoCode"
              [options$]="countryOptions$"></alv-select>

</fieldset>
