<button class="btn btn-icon help-button"
        aria-label="Help"
        container="body"
        triggers="click"
        placement="bottom-right"
        [ngbPopover]="helpContent"
        popoverClass="custom-popover help-popover">
  <i class="fas fa-question-circle"></i>
</button>

<ng-template #helpContent>
  <div class="help-content" role="alert"
       *ngFor="let helpEntry of helpEntries">
    <h3 class="help-title">{{helpEntry.title}}</h3>
    <div class="help-text"
         *ngIf="helpEntry.text">{{helpEntry.text}}</div>
    <ul class="help-list-items"
        *ngIf="helpEntry.listItems?.length">
      <li *ngFor="let listItem of helpEntry.listItems">{{listItem}}</li>
    </ul>
  </div>
</ng-template>
