<h1>Placeholder for AVP-Info form</h1>
<ngb-tabset>
  <ngb-tab title="Monthly employments">
    <ng-template ngbTabContent>
      <os-monthly-employments></os-monthly-employments>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Absenses">
    <ng-template ngbTabContent>
      <os-absences></os-absences>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Incapacities">
    <ng-template ngbTabContent>
      <os-incapacities></os-incapacities>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Miscellaneous">
    <ng-template ngbTabContent>
      <os-miscellaneous></os-miscellaneous>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Attachments Overview">
    <ng-template ngbTabContent>
      <os-attachments-overview></os-attachments-overview>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Confirmation">
    <ng-template ngbTabContent>
      <os-confirmation></os-confirmation>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
