<alv-modal modalTitle="Login"
           primaryLabel="Login"
           (primaryAction)="login()"
           secondaryLabel="Cancel"
           (secondaryAction)="modal.dismiss()"
           [formGroup]="form">
  <alv-alert *ngIf="errorMessage"
             [notification]="errorMessage"
             (dismiss)="errorMessage = null">
  </alv-alert>
  <alv-input-field label="Username"
                   [autofocus]="true"
                   alvFormControlName="username">
  </alv-input-field>
  <alv-input-field label="Password"
                   alvFormControlName="password"
                   type="password">
  </alv-input-field>
</alv-modal>
