<div class="row">
  <form [formGroup]="form"
        class="col-md-8">
    <os-panel [panelTitle]="'Were you away in the month of March 2018? (eg holidays, military or civilian service)'">
      <os-radio-button [control]="form.get('away')">
      </os-radio-button>
    </os-panel>
    <div *ngIf="form.value.away">
      <os-panel-group [showArrow]="true"
                      [colorizeArrow]="true"
                      formArrayName="absences"
                      *ngFor="let absence of absences.controls; let i=index">
        <ng-container class="content"
             [formGroupName]="i">
          <os-panel>
            <label class="panel-title">
              Absence {{i + 1}}
            </label>
            <os-date-interval-input [form]="absence.get('period')">
            </os-date-interval-input>
          </os-panel>

          <os-panel *ngIf="absence?.value?.period?.from && absence?.value?.period?.to"
                    [showArrow]="true"
                    [colorizeArrow]="true">
            <os-select label="Reason of absence"
                       [control]="absence.get('reason')"
                       [options$]="possibleReasons$"
            ></os-select>
          </os-panel>
          <ng-container *ngIf="absence?.value?.reason as reason">
            <os-panel *ngIf="reason !=='vacation'"
                      [showArrow]="true"
                      [colorizeArrow]="true">
              <ng-container [ngSwitch]="reason">
                <os-input-field *ngSwitchCase="'other'"
                                label="Please describe the reason of absence"
                                [multiline]="true"
                                [control]="absence.get('note')">

                </os-input-field>
                <os-document-upload *ngSwitchCase="'military'"></os-document-upload>
              </ng-container>

            </os-panel>

          </ng-container>
        </ng-container>
        <ng-container class="actions">
          <button class="btn btn-secondary mr-1"
                  *ngIf="absences.controls.length > 1"
                  (click)="removeAbsence(i)">Remove Absence
          </button>
          <button class="btn btn-primary"
                  (click)="addAbsence()">Add Absence
          </button>
        </ng-container>
      </os-panel-group>
    </div>
  </form>
  <!-- For debugging purposes -->
  <div class="col-md-4"
       *ngIf="true">
    <h4>form.value for monthly absences component</h4>
    <pre>
    {{form.value|json}}
  </pre>
    <h4>Validity</h4>
    <p>form.valid:</p>
    <pre>
    {{form.valid}}
  </pre>
  </div>

</div>
