<alv-modal (primaryAction)="onSubmit(form)"
           (cancelAction)="onCancel()"
           [formGroup]="form"
           modalTitle="job-detail.complaint-modal.header"
           primaryLabel="job-detail.complaint-modal.send"
           cancelLabel="job-detail.complaint-modal.dismiss">
  <p>{{'job-detail.complaint-modal.description' | translate}}</p>
  <ul>
    <li>{{ 'job-detail.complaint-modal.reasons-examples.bribe'| translate }}</li>
    <li>{{ 'job-detail.complaint-modal.reasons-examples.illicit'| translate }}</li>
    <li>{{ 'job-detail.complaint-modal.reasons-examples.discrimination'| translate }}</li>
    <li>{{ 'job-detail.complaint-modal.reasons-examples.sexist'| translate }}</li>
  </ul>
  <fieldset>
    <p><strong>{{'job-detail.complaint-modal.contact.description' | translate}}</strong>
    </p>
    <div class="form-row">
      <div class="col-3">
        <alv-select [options$]="salutationOptions$"
                    alvFormControlName="salutation"
                    label="home.tools.job-publication.contact.salutation">
        </alv-select>
      </div>
      <div class="col-9">
        <alv-input-field [maxLength]="MAX_LENGTH_255"
                         alvFormControlName="name"
                         label="job-detail.complaint-modal.name-lastName.label">
        </alv-input-field>
      </div>
    </div>
    <alv-input-field alvFormControlName="phone"
                     label="home.tools.job-publication.contact.phone"
                     placeholder="home.tools.job-publication.placeholders.phone"
                     type="tel">
    </alv-input-field>

    <alv-input-field [maxLength]="MAX_LENGTH_255"
                     alvFormControlName="email"
                     label="home.tools.job-publication.contact.email"
                     placeholder="home.tools.job-publication.placeholders.email">
    </alv-input-field>
  </fieldset>
  <fieldset>
    <p><strong>{{'job-detail.complaint-modal.message.label' | translate}}</strong></p>
    <alv-input-field [autofocus]="true"
                     [maxLength]="MAX_LENGTH_1000"
                     [multiline]="true"
                     [showCharacterCounter]="true"
                     alvFormControlName="complaintMessage"
                     label="job-detail.complaint-modal.message.placeholder">
    </alv-input-field>
  </fieldset>
</alv-modal>
