<p>{{ 'portal.dashboard.user-settings.main.help' | translate }}</p>

<fieldset [formGroup]="contactForm">
  <alv-select
    [options$]="salutationOptions$"
    alvFormControlName="salutation"
    label="portal.dashboard.user-settings.user-info.salutation">
  </alv-select>

  <alv-input-field alvFormControlName="firstName"
                   label="portal.dashboard.user-settings.user-info.first-name">
  </alv-input-field>

  <alv-input-field alvFormControlName="lastName"
                   label="portal.dashboard.user-settings.user-info.last-name">
  </alv-input-field>

  <alv-input-field alvFormControlName="phone"
                   label="portal.dashboard.user-settings.user-info.phone"
                   type="tel">
  </alv-input-field>

  <alv-input-field alvFormControlName="email"
                   label="portal.dashboard.user-settings.user-info.email">
  </alv-input-field>
</fieldset>
