<div class="container py-5">
  <alv-registration-panel (primaryAction)="submitAccessCode()"
                          (secondaryAction)="returnToHome()"
                          [formGroup]="accessCodeForm"
                          [hideBackButton]="true"
                          panelTitle="registrationAccessCode.title"
                          primaryLabel="navigation.next"
                          secondaryLabel="registration.customer.cancel">
    <alv-step-indicator [activeStep]="3"
                        [steps]="steps"
                        class="step-indicator panel-full-width">
    </alv-step-indicator>
    <p>{{'registrationAccessCode.placeholder' | translate}}</p>
    <alv-input-field [autofocus]="true"
                     [maxLength]="ACCESS_CODE_LENGTH"
                     [validationMessages]="[
                     {error: 'required', message: 'registrationAccessCode.accessCode.error.required'},
                     {error: 'minlength', message: 'registrationAccessCode.accessCode.error.minlength'}]"
                     alvFormControlName="accessCode"
                     label="registrationAccessCode.accessCode.label">
    </alv-input-field>

  </alv-registration-panel>
</div>

