<div class="alv-panel container"
     [formGroup]="form">
  <h3 class="panel-title mb-3">
    <i class="fas fa-search mr-2"></i>
    Find suitable candidates
  </h3>
  <div class="row">
    <div class="col-sm-12">
      <alv-input-field type="text"
                       label="Occupations"
                       [control]="form.get('occupations')">
      </alv-input-field>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <alv-input-field type="text"
                       label="Skills"
                       [control]="form.get('skills')">
      </alv-input-field>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <alv-input-field type="text"
                       label="Location"
                       [control]="form.get('location')">
      </alv-input-field>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <button class="btn btn-primary">Post job ad</button>
    </div>
  </div>
</div>
