<div class="alv-panel d-block mt-4"
     [formGroup]="findCandidateForm">
  <h3 class="panel-title">
    <i class="fas fa-search mr-2"></i>
    Kandidaten finden
  </h3>
  <div class="d-flex flex-column flex-md-row">
    <div class="flex-grow-1 mr-md-2 mb-md-0 mb-2">
      <alv-input-field class="mb-0"
                       type="text"
                       label="Berufsbezeichnung"
                       [control]="findCandidateForm?.get('profession')">
      </alv-input-field>
    </div>
    <div class="flex-grow-1 mr-md-2 mb-md-0 mb-2">
      <alv-input-field class="flex-grow-1 mb-0"
                       type="text"
                       label="Fähigkeiten, Skills"
                       [control]="findCandidateForm?.get('skills')">
      </alv-input-field>

    </div>
    <div class="flex-grow-1 mr-md-2 mb-md-0 mb-2">
      <alv-input-field class="flex-grow-1 mb-0"
                       type="text"
                       label="Kanton, PLZ, Ort"
                       [control]="findCandidateForm?.get('city')">
      </alv-input-field>

    </div>
    <button class="btn btn-primary"
            aria-label="Search ">
      <i class="fas fa-search"></i>
    </button>
  </div>
</div>
