<div class="container-fluid pt-2 pt-lg-4">
  <alv-three-column-layout *ngIf="jobDetailModel$ | async as jobDetailModel"
                           [stickyTop]="layoutConstants.STICKY_TOP_DETAIL"
                           [mobileOrdering]="[2, 1, null]">
    <ng-container class="mobile-menu-bar">
      <div class="d-flex">
        <!-- Back Button -->
        <div>
          <a class="btn btn-text btn-text-icon"
             [routerLink]="backButtonPath"
          >
            <fa-icon class="mr-1"
                     [icon]="['fas', 'caret-left']"></fa-icon>
            {{'job-detail.back' | translate}}
          </a>
        </div>
        <div class="flex-grow-1"></div>
        <!-- Favourite Item Actions -->
        <div *ngIf="(favouriteItemDetailModel$ | async) as favouriteItemDetailModel"
             class="favourite-item-actions">
          <button class="btn btn-toggle-icon mr-1"
                  [ngbTooltip]="'portal.job-ad-favourites.tooltip.' + (favouriteItemDetailModel.isFavourite ? 'remove-favourite' : 'add-favourite') | translate"
                  placement="bottom"
                  (click)="favouriteItemDetailModel.isFavourite ? removeFavourite(favouriteItemDetailModel.favourite) : addFavourite(jobDetailModel.jobAdvertisement.id)">
            <fa-icon *ngIf="favouriteItemDetailModel.isFavourite"
                     [icon]="['fas', 'star']"></fa-icon>
            <fa-icon *ngIf="!favouriteItemDetailModel.isFavourite"
                     [icon]="['far', 'star']"></fa-icon>
          </button>
          <button class="btn btn-toggle-icon mr-1"
                  [ngbTooltip]="'portal.job-ad-favourites.tooltip.' + (favouriteItemDetailModel.hasNote ? 'edit-note' : 'add-note') | translate"
                  placement="bottom"
                  (click)="editNote(jobDetailModel.jobAdvertisement.id, favouriteItemDetailModel.favourite)">
            <fa-icon *ngIf="favouriteItemDetailModel.hasNote"
                     [icon]="['fas', 'sticky-note']"></fa-icon>
            <fa-icon *ngIf="!favouriteItemDetailModel.hasNote"
                     [icon]="['far', 'sticky-note']"></fa-icon>
          </button>
        </div>
        <!-- Other Mobile Actions -->
        <div #mobileActionsMenu="ngbDropdown"
             class="d-inline-block"
             ngbDropdown
             placement="bottom-right">
          <button (click)="mobileActionsMenu.toggle()"
                  class="btn btn-text btn-icon no-dropdown-indicator"
                  [ngbTooltip]="'portal.global.actions' | translate"
                  placement="left"
                  ngbDropdownAnchor
                  [attr.aria-label]="'portal.global.actions' | translate">
            <fa-icon [icon]="['fas', 'ellipsis-v']"></fa-icon>
          </button>
          <div aria-label="Job detail menu"
               prev
               ngbDropdownMenu>
            <button (click)="loadPrev()"
                    [disabled]="(prevEnabled$ | async)===false"
                    class="dropdown-item">
              {{'portal.job-detail.previous-result' | translate}}
            </button>
            <button (click)="loadNext()"
                    [disabled]="(nextEnabled$ | async)===false"
                    class="dropdown-item">
              {{'portal.job-detail.next-result' | translate}}
            </button>
            <a *ngIf="jobDetailModel.applyChannel?.formUrl"
               class="dropdown-item"
               [href]="jobDetailModel.applyChannel?.formUrl"
               target="_blank">
              {{'job-detail.action.applyNow' | translate}}
            </a>
            <a *ngIf="jobDetailModel.jobContent.externalUrl"
               class="dropdown-item"
               [href]="jobDetailModel.jobContent.externalUrl"
               target="_blank}">
              {{'job-detail.action.showExternalPage' | translate}}
            </a>
            <button (cbOnSuccess)="onCopyLink()"
                    [cbContent]="getJobUrl()"
                    class="dropdown-item"
                    ngxClipboard>
              {{'candidate-detail.candidate-copy-link' | translate}}
            </button>
            <a class="dropdown-item"
               [href]="'mailto:?body=' + getEncodedUrl()">
              <span>{{'portal.job-detail.sendLink' | translate}}</span>
            </a>
            <button (click)="printJob()"
                    class="dropdown-item">
              <span>{{'job-detail.action.print' | translate}}</span>
            </button>
            <button (click)="openComplaintModal(jobDetailModel.id)"
                    class="dropdown-item">
              {{'job-detail.action.complain' | translate}}
            </button>
          </div>
        </div>
      </div>
    </ng-container>

    <ng-container class="left-column">
      <a class="btn btn-text btn-text-icon btn-truncate mb-3 d-none d-lg-block d-print-none"
         [routerLink]="backButtonPath"
         data-test="backToSearch"
      >
        <fa-icon class="mr-1"
                 [icon]="['fas', 'caret-left']"></fa-icon>
        {{getBackButtonText() | translate}}
      </a>
      <div class="d-flex d-sm-block flex-column-reverse">
        <div class="alv-panel p-2 mb-3">
          <alv-job-company-context [jobDetailModel]="jobDetailModel">
          </alv-job-company-context>
        </div>
      </div>

      <div *ngIf="jobDetailModel.stellennummerAvam && jobDetailModel.jobCenter"
           class="alv-panel p-2 mb-3">
        <div class="order-sm-2">
          <alv-job-center-context [jobDetailModel]="jobDetailModel">
          </alv-job-center-context>
        </div>
      </div>
    </ng-container>

    <ng-container class="main-column">

      <div *ngIf="(alerts$ | async) as alerts"
           [ngClass]="{'mb-4': alerts.length}">
        <alv-alert *ngFor="let alert of alerts"
                   [notification]="alert"
                   (dismiss)="dismissAlert(alert, alerts)">
        </alv-alert>
      </div>

      <alv-job-content [jobDetailModel]="jobDetailModel"
                       [badges]="badges$ | async">
      </alv-job-content>
    </ng-container>

    <ng-container class="right-column">
      <div class="d-flex">
        <button (click)="loadPrev()"
                data-test="previousJobAdButton"
                [disabled]="(prevEnabled$ | async)===false"
                class="btn btn-text btn-text-icon btn-truncate mb-2">
          <fa-icon class="mr-1"
                   [icon]="['fas', 'caret-left']"></fa-icon>
          {{'portal.job-detail.previous-result' | translate}}
        </button>
        <div class="flex-grow-1"></div>
        <button (click)="loadNext()"
                data-test="nextJobAdButton"
                [disabled]="(nextEnabled$ | async)===false"
                class="btn btn-text btn-text-icon btn-truncate mb-2">
          {{'portal.job-detail.next-result' | translate}}
          <fa-icon class="mr-1"
                   [icon]="['fas', 'caret-right']"></fa-icon>
        </button>
      </div>

      <p>
        <a *ngIf="jobDetailModel.applyChannel?.formUrl"
           class="btn btn-primary btn-block btn-truncate mb-1"
           [href]="jobDetailModel.applyChannel?.formUrl | normalizeUrl"
           target="_blank">
          {{'job-detail.action.applyNow' | translate}}
        </a>
        <a *ngIf="jobDetailModel.jobContent.externalUrl"
           class="btn btn-primary btn-block btn-truncate"
           [href]="jobDetailModel.jobContent.externalUrl | normalizeUrl"
           [target]="jobDetailModel.id">
          {{'job-detail.action.showExternalPage' | translate}}
        </a>
      </p>

      <ul class="nav flex-column">

        <ng-container *ngIf="(favouriteItemDetailModel$ | async) as favouriteItemDetailModel ">
          <li *ngIf="!favouriteItemDetailModel.isFavourite">
            <button class="btn btn-text btn-text-icon btn-truncate"
                    (click)="addFavourite(jobDetailModel.jobAdvertisement.id)">
              <fa-icon class="mr-1"
                       [icon]="['far', 'star']"></fa-icon>
              {{'portal.job-ad-favourites.tooltip.add-favourite' | translate}}
            </button>
          </li>
          <li *ngIf="favouriteItemDetailModel.isFavourite">
            <button class="btn btn-text btn-text-icon btn-truncate"
                    (click)="removeFavourite(favouriteItemDetailModel.favourite)">
              <fa-icon class="mr-1"
                       [icon]="['fas', 'star']"></fa-icon>
              {{'portal.job-ad-favourites.tooltip.remove-favourite' | translate}}
            </button>
          </li>

          <li *ngIf="favouriteItemDetailModel.hasNote">
            <button class="btn btn-text btn-text-icon btn-truncate"
                    (click)="editNote(jobDetailModel.id,favouriteItemDetailModel.favourite)">
              <fa-icon class="mr-1"
                       [icon]="['fas', 'sticky-note']"></fa-icon>
              {{'portal.job-ad-favourites.tooltip.edit-note' | translate}}
            </button>
          </li>

          <li *ngIf="!favouriteItemDetailModel.hasNote">
            <button class="btn btn-text btn-text-icon btn-truncate"
                    (click)="editNote(jobDetailModel.id,favouriteItemDetailModel.favourite)">
              <fa-icon class="mr-1"
                       [icon]="['far', 'sticky-note']"></fa-icon>
              {{'portal.job-ad-favourites.tooltip.add-note' | translate}}
            </button>
          </li>
        </ng-container>

        <li>
          <button class="btn btn-text btn-text-icon btn-truncate"
                  ngxClipboard
                  [cbContent]="getJobUrl()"
                  (cbOnSuccess)="onCopyLink()">
            <fa-icon class="mr-1"
                     [icon]="['fas', 'copy']"></fa-icon>
            {{'job-detail.action.copyLink' | translate}}
          </button>
        </li>
        <li>
          <a class="btn btn-text btn-text-icon btn-truncate"
             [href]="'mailto:?body=' + getEncodedUrl()">
            <fa-icon class="mr-1"
                     [icon]="['fas', 'share']"></fa-icon>
            {{'portal.job-detail.sendLink' | translate}}
          </a>
        </li>
        <li class="d-none d-lg-block">
          <button (click)="openComplaintModal(jobDetailModel.id)"
                  class="btn btn-text btn-text-icon btn-truncate">
            <fa-icon [icon]="['fas', 'ban']"
                     class="mr-1"></fa-icon>
            {{'job-detail.action.complain' | translate}}
          </button>
        </li>
        <li class="d-none d-lg-block">
          <button class="btn btn-text btn-text-icon btn-truncate"
                  (click)="printJob()">
            <fa-icon class="mr-1"
                     [icon]="['fas', 'print']"></fa-icon>
            {{'job-detail.action.print' | translate}}
          </button>
        </li>
      </ul>
    </ng-container>
  </alv-three-column-layout>
</div>



