@import "../../../../../scss/common/colors";
.icon {
  padding: 5px;
  width: 26px;
  min-width: 26px;
  i {
    width: 16px;
    color: $color-white;
  }
}
.text {
  padding: 10px;
  .line-1 {
    font-weight: 700;
  }
}

/*
 TODO: The following animation classes will be set by the parent component (something like notification-queue.component.ts)
 see: https://alv-ch.atlassian.net/browse/OS-172
*/

/* Appear animation */
:host.open {
  animation: appear 0.5s ease-out;
  opacity: 1;
}

/* Vanish animation */
:host.closed {
  animation: vanish 0.5s ease-out;
  opacity: 0;
}

@keyframes appear {
  0% {
    transform: translate(0, 50px);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes vanish {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }
  100% {
    transform: translate(0, -50px);
    opacity: 0;
  }
}
