<!-- a11y -->
<h1 class="sr-only">Navigation</h1>

<!-- Menu Backdrop -->
<div class="modal-backdrop"
     *ngIf="open"
     (click)="toggleMobileSideNav()">
</div>

<!-- Desktop Menu -->
<div class="d-none d-lg-flex flex-column h-100 w-100">
  <div class="nav-spacer">
  </div>
  <button class="nav-item menu-toggle"
          (click)="toggleDesktopSideNav()">
    <i class="fas fa-caret-left"
       *ngIf="!collapsed"></i>
    <i class="fas fa-caret-right"
       *ngIf="collapsed"></i>
  </button>
  <a routerLink="/home"
     class="nav-item"
     routerLinkActive="active">
    <i class="nav-icon fas fa-home"></i>
    <span class="nav-text">Startseite</span>
  </a>
  <a routerLink="/dashboard"
     class="nav-item"
     routerLinkActive="active">
    <i class="nav-icon fas fa-th-large"></i>
    <span class="nav-text">Dashboard</span>
  </a>
  <!-- Menu Entries -->
  <ng-container *ngFor="let menuEntry of menuEntries">
    <a [routerLink]="menuEntry.path"
       class="nav-item"
       routerLinkActive="active">
      <i [class]="'nav-icon fas fa-' + menuEntry.icon"></i>
      <span class="nav-text">{{menuEntry.label}}</span>
    </a>
    <!-- Submenu Entries -->
    <div class="child-nav-container"
         tabindex="-1"
         [routerLink]="menuEntry.basePath"
         routerLinkActive="expanded">
      <a class="nav-item child-nav-item"
         *ngFor="let subMenuEntry of menuEntry.submenuEntries"
         [routerLink]="subMenuEntry.path"
         routerLinkActive="active">
        <i [class]="'nav-icon fas fa-' + subMenuEntry.icon"></i>
        <span class="nav-text">{{subMenuEntry.label}}</span>
      </a>
    </div>
  </ng-container>

  <div class="nav-fill-item flex-grow-1">
  </div>

</div>

<!-- Mobile Menu -->
<div class="d-md-block d-lg-none">
  <ul class="navbar-nav animate side-nav"
      [class.open]="open">
    <li class="nav-item"
        (click)="toggleMobileSideNav()">
      <i class="nav-icon fas fa-caret-left"></i>
      <span class="nav-text">Schliessen</span>
    </li>
    <li routerLink="/home"
        class="nav-item"
        routerLinkActive="active"
        (click)="toggleMobileSideNav()">
      <i class="nav-icon fas fa-home"></i>
      <span class="nav-text">Startseite</span>
    </li>
    <!-- Menu Entries -->
    <ng-container *ngFor="let menuEntry of menuEntries">
      <li [routerLink]="menuEntry.path"
          class="nav-item"
          routerLinkActive="active"
          (click)="toggleMobileSideNav()">
        <i [class]="'nav-icon fas fa-' + menuEntry.icon"></i>
        <span class="nav-text">{{menuEntry.label}}</span>
      </li>
      <!-- Submenu Entries -->
      <li class="child-nav-container"
          tabindex="-1"
          [routerLink]="menuEntry.basePath"
          routerLinkActive="expanded">
        <a class="nav-item child-nav-item"
           *ngFor="let subMenuEntry of menuEntry.submenuEntries"
           [routerLink]="subMenuEntry.path"
           routerLinkActive="active"
           (click)="toggleMobileSideNav()">
          <i [class]="'nav-icon fas fa-' + subMenuEntry.icon"></i>
          <span class="nav-text">{{subMenuEntry.label}}</span>
        </a>
      </li>
    </ng-container>
    <li class="nav-fill-item flex-grow-1">
    </li>
  </ul>
</div>
