<ng-container *ngIf="currentUser$ |async as currentUser">
  <div class="d-flex align-items-center mt-2 mt-md-0">
    <div class="mr-4">
      <div class="photo-user"><i class="fas fa-user"></i>
      </div>
    </div>
    <div class="flex-grow-1">
      <div class="">Guten Morgen,</div>
      <div class="greeting">{{currentUser.firstName}} {{currentUser.lastName}}</div>
    </div>
  </div>

  <div class="alv-panel d-block mt-4"
             panelTitle="Stellen finden"
             panelIcon="search"
             [formGroup]="findWorkerForm">
    <h3 class="panel-title">
      <i class="fas fa-search mr-2"></i>
      Stellen finden
    </h3>
    <div class="d-flex flex-column flex-md-row">
      <div class="flex-grow-1 mr-md-2 mb-md-0 mb-2">
        <alv-input-field type="text"
                         label="Profession"
                         [control]="findWorkerForm.get('profession')">
        </alv-input-field>
      </div>
      <div class="flex-grow-1 mr-md-2 mb-md-0 mb-2">
        <alv-input-field class="flex-grow-1"
                         type="text"
                         label="City"
                         [control]="findWorkerForm.get('city')">
        </alv-input-field>

      </div>
      <button class="btn btn-primary"
              aria-label="Search ">
        <i class="fas fa-search"></i>
      </button>
    </div>
  </div>

  <alv-panel class="d-block mt-4"
             panelTitle="Ihre Aufgaben"
             panelIcon="list-ol">
    <p class="mb-2">Bitte erfassen Sie Arbeitsbemühung Nr. 4 für diesen Monat</p>
    <div class="row">
      <div class="col-sm-12">
        <button class="btn btn-secondary add-work-effort">
          <i class="fa fa-plus"></i>
        </button>
      </div>
    </div>

  </alv-panel>

  <!--
  <alv-panel panelTitle="Jobfavoriten">
  </alv-panel>

  <alv-panel panelTitle="Jobwecker">
  </alv-panel>
  -->
</ng-container>
