<div class="position-relative">
  <button class="competence-element d-flex align-items-center position-relative py-1 pr-3 w-100"
          (click)="onElementClick()">
    <span class="hover-indicator h-100"></span>
    <span class="d-flex flex-column align-items-start">
    <small class="super-title">{{'portal.competence-catalog.element-type.' + competenceElement.type | translate}}
      - ID {{competenceElement.id | slice:0:6}}</small>
    <strong>{{description$ | async}}</strong>
  </span>
    <span class="flex-grow-1"></span>
  </button>
  <button class="unlink-button btn btn-icon-sm"
          *ngIf="showUnlinkAction"
          (click)="onUnlinkClick()">
    <fa-icon [icon]="['fas', 'unlink']"></fa-icon>
  </button>
</div>
