<alv-competence-item [multiLanguageTitle]="competenceElement.description"
                     [type]="'portal.competence-catalog.element-type.' + competenceElement.type | translate"
                     [superTitle]="'ID ' + competenceElement.id"
                     (itemClick)="onElementClick()"
                     (actionClick)="onUnlinkClick()"
                     [isItemClickable]="isEditable"
                     [actions]="competenceElementActions"
                     [showActionButtons]="showUnlinkAction">
</alv-competence-item>
