<alv-panel panelTitle="Post job"
           class="container"
           [formGroup]="form">
  <div class="row">
    <div class="col-sm-12">
      <alv-input-field type="text"
                       label="title"
                       [control]="form.get('title')">
      </alv-input-field>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <alv-input-field type="text"
                       label="Duties"
                       [multiline]="true"
                       [control]="form.get('duties')">
      </alv-input-field>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <button class="btn btn-primary">Post job ad</button>
    </div>
  </div>
</alv-panel>
