<form [formGroup]="form"
      (ngSubmit)="onSearchSubmit()"
      class="justify-content-between d-flex flex-column flex-lg-row">
  <div class="flex-grow-1">
    <div class="form-row">
      <div class="col-12 col-lg-4 mb-1 mb-lg-0">
        <alv-multi-typeahead alvFormControlName="occupations"
                             [editable]="false"
                             [loadItems]="loadOccupationsFn"
                             label="portal.job-ad.search.query-panel.occupations.placeholder"
                             [focusFirst]="true"
                             tooltip="portal.job-ad.search.query-panel.occupations.tooltip"
                             class="narrow-form">
        </alv-multi-typeahead>
      </div>
      <div class="col-12 col-lg-4 mb-1 mb-lg-0">
        <alv-multi-typeahead alvFormControlName="keywords"
                             label="portal.job-ad.search.query-panel.keywords.placeholder"
                             container="body"
                             class="narrow-form"
                             tooltip="portal.job-ad.search.query-panel.keywords.tooltip">
        </alv-multi-typeahead>
      </div>
      <div class="position-relative col-12 col-lg-4 mb-1 mb-lg-0">

        <alv-multi-typeahead alvFormControlName="localities"
                             [limit]="1"
                             [editable]="false"
                             [focusFirst]="true"
                             [loadItems]="loadLocalitiesFn"
                             label="portal.job-ad.search.query-panel.localities.placeholder"
                             class="append-button narrow-form">
        </alv-multi-typeahead>

        <alv-geo-location-selection class="geo-location-selector"
                                    (localitySelect)="onGeoSelection($event)">
        </alv-geo-location-selection>

      </div>
    </div>
  </div>
  <button aria-label="search"
          class="search-button btn btn-primary ml-lg-2"
          type="submit">
    <span *ngIf="showSpinner">
      <fa-icon [icon]="['fas', 'sync-alt']"
               [spin]="true"></fa-icon>
    </span>
    <span *ngIf="!showSpinner">
      <fa-icon [icon]="['fas', 'search']"></fa-icon>
    </span>
  </button>
</form>
