@import '../../../../scss/colors';

.input-group-append {
  position: absolute;
  right: 0;
  top: 0;
  height: 46px;
}

.invalid .input-group-append button.btn {
  border-top-color: $color-red;
  border-right-color: $color-red;
  border-bottom-color: $color-red;
}

.custom-day {
  text-align: center;
  padding: 0.185rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}

.custom-day.focused {
  background-color: $color-medium-grey;
}

.custom-day:hover {
  background-color: $color-blue;
  color: white;
}



