<alv-modal modalTitle="global.legal-terms-dialog.header.title"
           primaryLabel="global.legal-terms-dialog.footer.accept"
           (primaryAction)="acceptLegalTerms()"
           cancelLabel="global.legal-terms-dialog.footer.reject"
           (cancelAction)="rejectLegalTerms()"
           [formGroup]="form"
           [showCloseButton]="false">

  <alv-alert [hideDismiss]="true"
             [notification]="infoNotification">
    <ul class="pl-3">
      <li class="mb-1">
        {{'global.legal-terms-dialog.body.content1' | translate}}
      </li>
      <li class="mb-1">
        {{'global.legal-terms-dialog.body.content2' | translate}}
      </li>
    </ul>
  </alv-alert>

  <div class="panel-divider border-top mb-2"></div>

  <ng-container *ngIf="(legalTermsUrls$ | async) as legalTermsUrls">
    <a [href]="legalTermsUrls.termsOfUsageLink"
       class="link legal-terms mt-3 mb-3"
       target="_blank">
      <fa-icon class="link-icon"
               [icon]="['fas', 'caret-right']"></fa-icon>
      {{'global.legal-terms-dialog.body.accept-terms-of-use.text' | translate}}
    </a>
    <a [href]="legalTermsUrls.privacyStatementLink"
       class="link legal-terms mt-3 mb-3"
       target="_blank">
      <fa-icon class="link-icon"
               [icon]="['fas', 'caret-right']"></fa-icon>
      {{'global.legal-terms-dialog.body.accept-privacy-statement.text' | translate}}
    </a>
  </ng-container>
  <alv-checkbox alvFormControlName="legalTerms"
                label="global.legal-terms-dialog.body.accept-label"
                class="d-block mb-2">
  </alv-checkbox>


</alv-modal>
