@import "../../../../scss/common/colors";
@import '../../../../../node_modules/bootstrap/scss/functions';
@import '../../../../../node_modules/bootstrap/scss/variables';
@import '../../../../../node_modules/bootstrap/scss/mixins';

.legal-terms {
  margin-left: 2rem;
}

@include  media-breakpoint-down(lg) {
  .panel-divider {
    margin: 0 -1rem 0 -1rem;
  }
}

@include  media-breakpoint-up(lg) {
  .panel-divider {
    margin: 0 -1.5rem 0 -1.5rem;
  }
}

alv-alert {
  border: 1px solid $color-light-grey;
}
