<div ngbDropdown
     [placement]="'bottom-right'"
     #userDropdown="ngbDropdown">
  <button class="btn btn-header mr-1 d-flex"
          id="userMenu"
          ngbDropdownToggle>
    <span class="text-left d-flex">
      <span *ngIf="!hideRegistrationAction">
        <fa-icon class="mr-2"
                 [fixedWidth]="true"
                 [icon]="['fas', 'exclamation-triangle']"></fa-icon>
      </span>
       <fa-icon class="d-inline d-lg-none"
                [fixedWidth]="true"
                [icon]="['fas', 'user']"></fa-icon>
      <alv-user-name-and-company
        class="d-none d-lg-block"
        [displayName]="user.displayName"
        [companyName]="company?.companyName">
      </alv-user-name-and-company>
    </span>
  </button>
  <div ngbDropdownMenu
       [attr.aria-label]="'portal.header.menu.user-menu.label' | translate">
    <!-- Finish registration -->
    <button *ngIf="!hideRegistrationAction"
            class="dropdown-item highlight"
            (click)="completeRegistration()">
      <fa-icon class="mr-2"
               [fixedWidth]="true"
               [icon]="['fas', 'hand-point-right']"></fa-icon>
      {{'global.menu.account.registration.incomplete' | translate}}
    </button>
    <div *ngIf="currentAccountability$ | async as currentAccountability">
      <small class="ml-2">{{'job-search.filter.company-name.label' | translate}}</small>
      <button *ngFor="let accountability of accountabilities$ | async "
              class="dropdown-item"
              (click)="switchAccountability(accountability)"
              [ngClass]="{ active: accountability.companyId === currentAccountability.companyId }">
        {{accountability.companyName}}
      </button>
      <hr>
    </div>
    <!-- User settings (eIAM profile, Contact information -->
    <ng-container *alvAppContextDefault>
      <button *ngIf="isAuthenticated"
              class="dropdown-item"
              routerLink="user-settings">
        <fa-icon class="mr-2"
                 [fixedWidth]="true"
                 [icon]="['fas', 'cog']">
        </fa-icon>
        {{ 'portal.navigation.menu-entry.user-settings' | translate }}
      </button>
    </ng-container>
    <!-- Logout -->
    <button class="dropdown-item"
            (click)="logout()">
      <fa-icon class="mr-2"
               [fixedWidth]="true"
               [icon]="['fas', 'power-off']"></fa-icon>
      {{'global.menu.account.logout' | translate}}
    </button>
  </div>
</div>
