<div ngbDropdown
     [placement]="'bottom-right'"
     #userDropdown="ngbDropdown">
  <button class="btn btn-header mr-1 d-flex"
          id="userMenu"
          ngbDropdownToggle>
    <span class="text-left">
          <i *ngIf="!hideRegistrationAction"
             aria-hidden="true"
             class="fa fa-exclamation-triangle mr-2">
    </i>
    <i class="fa fa-user d-inline d-lg-none"
       aria-hidden="true">
    </i>
    <span class="d-none d-lg-block">
      {{user.firstName}} {{user.lastName}}
    </span>
    <small *ngIf="company"
           class="company d-none d-lg-inline-block text-left">
      {{company.companyName}}
    </small>
    </span>

  </button>
  <div ngbDropdownMenu
       aria-label="User Menu">
    <!-- Finish registration -->
    <button *ngIf="!hideRegistrationAction"
            class="dropdown-item highlight"
            (click)="completeRegistration()">
      <i class="fas fa-hand-point-right mr-2"></i> Complete Registration
    </button>
    <!-- eIAM profile -->
    <button *ngIf="!noEiam"
            class="dropdown-item"
            (click)="goToEiamProfile()">
      <i class="fas fa-user-circle mr-2"></i> Profile
    </button>
    <!-- Contact template -->
    <a *ngIf="company"
       class="dropdown-item"
       routerLink="dashboard/contact-template">
      <i class="fas fa-address-card mr-2"></i>
      {{'global.menu.admin.contact-template-management' | translate}}
    </a>
    <!-- Logout -->
    <button class="dropdown-item"
            (click)="logout()">
      <i class="fas fa-power-off mr-2"></i> Logout
    </button>
  </div>
</div>
