<div ngbDropdown
     [placement]="'bottom-right'"
     #userDropdown="ngbDropdown">
  <button class="btn btn-header mr-1"
          id="userMenu"
          ngbDropdownToggle>
    <i *ngIf="!hideRegistrationAction"
       class="fa fa-exclamation-triangle mr-2"
       aria-hidden="true">
    </i>
    <i class="fa fa-user mr-1"
       aria-hidden="true">
    </i>
    <span class="d-none d-lg-inline">
      {{user.firstName}} {{user.lastName}}
    </span>
  </button>
  <div ngbDropdownMenu
       aria-label="User Menu">
    <!-- Finish registration -->
    <button *ngIf="!hideRegistrationAction"
            class="dropdown-item highlight"
            (click)="completeRegistration()">
      <i class="fas fa-hand-point-right mr-2"></i> Complete Registration
    </button>
    <!-- eIAM profile -->
    <button *ngIf="!noEiam"
            class="dropdown-item"
            (click)="goToEiamProfile()">
      <i class="fas fa-user-circle mr-2"></i> Profile
    </button>
    <!-- Logout -->
    <button class="dropdown-item"
            (click)="logout()">
      <i class="fas fa-power-off mr-2"></i> Logout
    </button>
  </div>
</div>
