<div class="container-fluid pt-2 pt-md-4">
  <alv-three-column-layout *ngIf="jobDetailModel$ | async as jobDetailModel"
                           [stickyTop]="layoutConstants.STICKY_TOP_DETAIL"
                           [mobileOrdering]="[2, 1, null]">
    <ng-container class="mobile-menu-bar">
      <div class="d-flex justify-content-between">
        <div *ngIf="isPavOrCompany">
          <a class="btn btn-text btn-text-icon"
             routerLink="/manage-job-ads">
            <fa-icon class="mr-1"
                     [icon]="['fas', 'caret-left']"></fa-icon>
            {{'job-detail.back' | translate}}
          </a>
        </div>
        <div #mobileActionsMenu="ngbDropdown"
             class="d-inline-block"
             ngbDropdown
             placement="bottom-right">
          <button (click)="mobileActionsMenu.toggle()"
                  class="btn btn-text btn-icon no-dropdown-indicator"
                  [ngbTooltip]="'portal.global.actions' | translate"
                  placement="left"
                  ngbDropdownAnchor
                  [attr.aria-label]="'portal.global.actions' | translate">
            <fa-icon [icon]="['fas', 'ellipsis-v']"></fa-icon>
          </button>
          <div aria-hidden="true"
               ngbDropdownMenu>
            <button (click)="prev()"
                    [disabled]="(prevEnabled$ | async)===false"
                    class="dropdown-item">
              {{ 'portal.job-detail.previous-result' | translate }}
            </button>
            <button (click)="next()"
                    [disabled]="(nextEnabled$ | async)===false"
                    class="dropdown-item">
              {{ 'portal.job-detail.next-result' | translate }}
            </button>
            <button class="dropdown-item"
                    [disabled]="!isCancellable"
                    (click)="cancelJobAdAction()">
              <fa-icon class="mr-1"
                       [icon]="['fas', 'trash']"></fa-icon>
              {{ 'portal.manage-job-ads.details.actions.cancel' |translate }}
            </button>
            <button class="dropdown-item"
                    (click)="duplicateJobAdAction()">
              <fa-icon class="mr-1"
                       [icon]="['fas', 'copy']"></fa-icon>
              {{ 'portal.manage-job-ads.details.actions.duplicate' |translate }}
            </button>
          </div>
        </div>

      </div>
    </ng-container>

    <ng-container class="left-column">
      <a class="btn btn-text btn-text-icon btn-truncate mb-3 d-none d-md-block d-print-none"
         routerLink="/manage-job-ads"
         *ngIf="isPavOrCompany">
        <fa-icon class="mr-1"
                 [icon]="['fas', 'caret-left']"></fa-icon>
        {{'job-detail.back' | translate}}
      </a>
      <div class="d-flex d-sm-block flex-column-reverse">
        <div class="company-panel alv-panel p-2 mb-3">
          <alv-job-company-context [jobDetailModel]="jobDetailModel">
          </alv-job-company-context>
        </div>
      </div>
      <div *ngIf="jobDetailModel.stellennummerAvam && jobDetailModel.jobCenter"
           class="company-panel alv-panel p-2 mb-3">
        <div class="order-sm-2">
          <alv-job-center-context [jobDetailModel]="jobDetailModel">
          </alv-job-center-context>
        </div>
      </div>
    </ng-container>

    <ng-container class="main-column">
      <alv-job-content [jobDetailModel]="jobDetailModel"
                       [badges]="badges$ | async"
                       [showStatusInformation]="true">
      </alv-job-content>
    </ng-container>

    <ng-container class="right-column">

      <div class="d-flex">
        <button (click)="prev()"
                [disabled]="(prevEnabled$ | async)===false"
                class="btn btn-text btn-text-icon btn-truncate mb-2">
          <fa-icon class="mr-1"
                   [icon]="['fas', 'caret-left']"></fa-icon>
          {{'portal.job-detail.previous-result' | translate}}
        </button>
        <div class="flex-grow-1"></div>
        <button (click)="next()"
                [disabled]="(nextEnabled$ | async)===false"
                class="btn btn-text btn-text-icon btn-truncate mb-2">
          {{'portal.job-detail.next-result' | translate}}
          <fa-icon class="ml-1"
                   [icon]="['fas', 'caret-right']"></fa-icon>
        </button>
      </div>

      <div class="d-flex flex-column">
        <button class="btn btn-text btn-text-icon btn-truncate"
                [disabled]="!isCancellable"
                (click)="cancelJobAdAction()">
          <fa-icon class="mr-1"
                   [icon]="['fas', 'trash']"></fa-icon>
          {{ 'portal.manage-job-ads.details.actions.cancel' |translate }}
        </button>
        <button class="btn btn-text btn-text-icon btn-truncate"
                (click)="duplicateJobAdAction()">
          <fa-icon class="mr-1"
                   [icon]="['fas', 'copy']"></fa-icon>
          {{ 'portal.manage-job-ads.details.actions.duplicate' |translate }}
        </button>
      </div>
    </ng-container>
  </alv-three-column-layout>
</div>
