<div class="jumbotron jumbotron-fluid">

<div class="nav d-flex align-items-center justify-content-end mr-5">
  <alv-toolbar-button icon="binoculars"
                      routerLink="jobseekers"
                      queryParamsHandling="preserve"
                      class="nav-link active">
    {{'home.toolbar.jobSeekers' | translate}}
  </alv-toolbar-button>
  <alv-toolbar-button icon="building"
                      routerLink="company"
                      class="nav-link"
                      queryParamsHandling="preserve">
    {{'home.toolbar.companies' | translate}}
  </alv-toolbar-button>
  <alv-toolbar-button icon="eye"
                      routerLink="pav"
                      class="nav-link"
                      queryParamsHandling="preserve">
    {{'home.toolbar.recruitmentAgencies' | translate}}
  </alv-toolbar-button>
</div>
<router-outlet></router-outlet>
</div>
