
.banner {
  background-color: white;
  opacity: 0.7;
  height: 98px;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
}

.toolbar {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
}

alv-toolbar-button {
  z-index: 1;
  width: 30%;
}
.home-page-content {
  margin-top: 98px;
}
