<alv-competence-items-collapse-panel label="portal.competence-catalog.ch-fiches.label.occupations"
                                     [id]="chFiche.id"
                                     [isCollapsed]="collapsed.OCCUPATIONS"
                                     [isEmpty]="!chFiche.occupations.length"
                                     [darkMode]="true"
                                     [showActionButtons]="true"
                                     [actions]="[linkOccupationAction]"
                                     (actionClick)="handleOccupationActionClick($event)">
  <alv-competence-item *ngFor="let occupation of chFiche.occupations; let index = index"
                       type="CH-ISCO"
                       [multiLanguageTitle]="{
                         textDe: occupation.bfsCode,
                         textFr: occupation.bfsCode,
                         textIt: occupation.bfsCode,
                         textEn: occupation.bfsCode
                         }"
                       [superTitle]="occupation.chIsco5"
                       [isItemClickable]="false"
                       [showActionButtons]="true"
                       [actions]="[unlinkAction]"
                       (actionClick)="unlinkOccupation(index)">
  </alv-competence-item>
</alv-competence-items-collapse-panel>

<alv-competence-items-collapse-panel *ngFor="let competenceType of competenceTypes"
                                     [id]="chFiche.id + competenceType"
                                     [label]="'portal.competence-catalog.ch-fiches.label.' + competenceType"
                                     [showActionButtons]="true"
                                     [isCollapsed]="collapsed[competenceType]"
                                     [isEmpty]="!getCompetencesByType(competenceType).length"
                                     [darkMode]="true"
                                     [actions]="[linkCompetenceAction]"
                                     (actionClick)="handleCompetenceSetActionClick(competenceType, $event)"
                                     (toggleClick)="toggleCompetences(competenceType, $event)">
  <alv-competence-set *ngFor="let competenceSet of competences[competenceType]; let index = index"
                      [competenceSet]="competenceSet">
  </alv-competence-set>
</alv-competence-items-collapse-panel>
