<alv-modal modalTitle="portal.manage-job-ads.search.filter.modal.title"
           (primaryAction)="filter()"
           (secondaryAction)="cancel()"
           [formGroup]="form"
           primaryLabel="portal.manage-job-ads.search.filter.modal.action.filter"
           secondaryLabel="entity.action.cancel"
>
  <fieldset>
      <alv-select
        label="{{'portal.manage-job-ads.search.filter.modal.owner.label' | translate}}"
        [alvControl]="form.get('ownerUserId')"
        [options$]="jobsCreatorOptions$">
      </alv-select>
      <alv-select
        label="dashboard.job-publication.publication-period.label"
        [alvControl]="form.get('onlineSinceDays')"
        [options$]="onlineSinceOptions$">
      </alv-select>
      <alv-select
        label="dashboard.job-publication.status"
        [alvControl]="form.get('status')"
        [options$]="statusOptions$">
      </alv-select>
  </fieldset>
</alv-modal>
