<div class="container pt-4"
     [ngSwitch]="registrationStep">
  <alv-role-selection *ngSwitchCase="registrationSteps.SELECT_ROLE_STEP"
                      (updateStep)="updateStep($event)">
  </alv-role-selection>

  <alv-jobseeker-identification *ngSwitchCase="registrationSteps.JOBSEEKER_IDENTIFICATION_STEP"
                                (updateStep)="updateStep($event)">
  </alv-jobseeker-identification>

  <alv-company-uid *ngSwitchCase="registrationSteps.COMPANY_UID_STEP"
                   (company)="company = $event"
                   (updateStep)="updateStep($event)">
  </alv-company-uid>

  <alv-company-request-access-code *ngSwitchCase="registrationSteps.COMPANY_REQUEST_ACCESS_STEP"
                                   [company]="company"
                                   (updateStep)="updateStep($event)">

  </alv-company-request-access-code>

</div>
