@import "../common/colors";

.badge-job,
.badge-workplace,
.badge-locality {
  background-color: $color-medium-green;
}

.badge-job-category,
.badge-canton {
  background-color: $color-medium-blue;
}

.badge-skill,
.badge-free-text,
.badge-availability {
  background-color: $color-light-yellow;
}

.badge-job-workplace,
.badge-place-of-residence {
  background-color: $color-light-red;
}

.badge-workload {
  background-color: $color-light-grey;
}

.badge-contract-type {
  background-color: $color-light-green;
}
