/* Height */
$height-header-desktop: 53px;
$height-header-mobile: 42px;
$height-footer: 20px;

/* Z-Index */
$z-index-desktop-menu: 900;
$z-index-header: 995;
$z-index-notifications: 999;
$z-index-scroll-to-top: 1000;
$z-index-nav-item-focus: 1000;
$z-index-modal-backdrop: 1040;
$z-index-mobile-menu: 1050;
$z-index-dropdown-menu: 1051;
$z-index-footer: 100000;

