@import "../common/colors";

.badge-work-effort-result-employed {
  background-color: $color-green;
  color: $color-white;
  .remove-button {
    color: $color-white;
  }
}

.badge-job,
.badge-workplace,
.badge-locality,
.badge-occupation,
.badge-user-registered {
  background-color: $color-medium-green;
}

.badge-job-category,
.badge-canton,
.badge-classification {
  background-color: $color-medium-blue;
}

.badge-skill,
.badge-free-text,
.badge-availability,
.badge-manage-jobads-filter,
.badge-user-pav-or-emp,
.badge-work-effort-period {
  background-color: $color-light-yellow;
}

.badge-job-workplace,
.badge-place-of-residence,
.badge-user-unregistered {
  background-color: $color-light-red;
}

.badge-workload,
.badge-job-experience,
.badge-work-effort-result-pending {
  background-color: $color-light-grey;
}

.badge-contract-type,
.badge-work-effort-result-interview {
  background-color: $color-light-green;
}

.badge-work-effort-result-rejected {
  background-color: $color-white;
  border: 1px solid $color-light-grey;
}

.badge-danger {
  color: $color-white;
}

.badge-status {
  background-color: $color-light-blue;
}

.badge-big {
  font-size: 100%;
}
