@import "colors";
@import '../../../node_modules/bootstrap/scss/functions';
@import '../../../node_modules/bootstrap/scss/variables';
@import '../../../node_modules/bootstrap/scss/mixins';

.alv-container {
  @include media-breakpoint-only(xs) {
    padding: 0.25rem 0.5rem;
  }
  @include media-breakpoint-only(sm) {
    padding: 0.5rem 1rem;
  }
  @include media-breakpoint-only(md) {
    padding: 1rem 2rem;
  }
  @include media-breakpoint-only(lg) {
    padding: 2rem 4rem;
  }
  @include media-breakpoint-only(xl) {
    padding: 3rem 6rem;
  }
}

