@media print {
  /* hidden elements */
  alv-main-navigation, alv-header, alv-version, alv-scroll-to-top {
    display: none;
  }

  /* Remove empty pages */
  body {
    height: auto;
  }

  /* Main container style resets */
  alv-navigation-container, main {
    margin-top: 0 !important; // Remove header margin
    overflow: visible !important; // Remove scroll bar
    display: block !important; // Remove display flex (causes problems with large content)
    position: relative !important; // Remove absolute positioning
    flex: unset;
    top: unset;
    bottom: unset;
    left: unset;
    right: unset;
  }

  /* Reset margins and paddings of default bootstrap container classes */
  .container-fluid, .container {
    padding: 0 !important;
    margin: 0 !important;
  }

  /* Reset the side panel height of the column-layout */
  .side-panel {
    height: auto !important;
    top: 0 !important;
  }

  /* Use this class to force columns (e.g. ".col-6") to have full width on print */
  .alv-print-container {
    width: 100% !important;
    height: auto;
    max-width: 100% !important;
    min-width: 100% !important;
    display: block !important;
  }

  /* Avoids page breaks inside of collapse panel content */
  alv-collapse-panel {
    page-break-before: auto;
    page-break-inside: avoid;
    display: block;
  }
}
