@media print {
  /* hidden elements */
  alv-main-navigation, alv-header, alv-version {
    display: none;
  }

  body {
    height: auto;
    overflow: visible;
  }

  alv-navigation-container {
    overflow: visible;
    flex: unset;
    position: relative !important;
    top: unset;
    bottom: unset;
    left: unset;
    right: unset;
    margin-top: 0 !important;
    height: auto;
  }

  main {
    margin-top: 0 !important;
    overflow: visible !important;
    display: block;
    flex: unset !important;
    height: 100%;
    position: static;
    width: auto;
    float: none;

    &.jobseeker-home {
      background-image: none;
    }

    &.company-home {
      background-image: none;
    }

    &.pav-home {
      background-image: none;
    }
  }
  ul {
    //ßpage-break-inside: avoid;
  }
  @page {
    margin: 1cm;
  }
  alv-collapse-panel {
    page-break-before: auto;
    page-break-inside: avoid;
    display: block;
  }


  .container-fluid {
    padding: 0 !important;
    margin: 0 !important;
  }

  /* Use this class to force columns (e.g. ".col-6") to have full width on print */
  .alv-print-container {
    width: 100%;
    max-width: 100%;
    flex: 0 0 100%;
  }
}
