@import "colors";

.typeahead-free-text {
  background-color: $color-yellow;
  color: $color-dark-grey;
  .remove-button {
    color: $color-dark-grey;
  }
}

.typeahead-occupation {
  background-color: $color-green;
  color: $color-white;
  .remove-button {
    color: $color-white;
  }
}

.typeahead-canton {
  background-color: $color-blue;
  color: $color-white;
  .remove-button {
    color: $color-white;
  }
}

.typeahead-locality {
  background-color: $color-green;
  color: $color-white;
  .remove-button {
    color: $color-white;
  }
}



