<alv-panel panelTitle=" Find suitable positions"
           class="container"
           [formGroup]="findPositionsForm">
  <div class="row">
    <div class="col-sm-12">
      <alv-input-field type="text"
                       label="Profession"
                       formCtrlName="profession">
      </alv-input-field>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <alv-input-field type="text"
                       label="City"
                       formCtrlName="canton">
      </alv-input-field>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <button class="btn btn-primary">Show job offers</button>
    </div>
  </div>
</alv-panel>
