<button class="title-bar alv-bar text-truncate mb-3 w-100"
        (click)="expanded = !expanded">
  {{'job-search.filter.title' | translate}}
</button>
<div class="title-bar alv-bar text-truncate mb-3">
  {{'job-search.filter.title' | translate}}
</div>

<form class="filter-form pb-2"
      [class.expanded]="expanded">
  <alv-select
    *alvHasAnyAuthority="['ROLE_JOBSEEKER_CLIENT']"
    label="job-search.filter.restricted-jobs.label"
    [alvControl]="form.get('displayRestricted')"
    [options$]="restrictOptions$">
  </alv-select>
  <alv-select
    label="job-search.filter.sort.label"
    [alvControl]="form.get('sort')"
    [options$]="sortOptions$">
  </alv-select>
  <alv-input-field
    label="job-search.filter.company-name.label"
    [alvControl]="form.get('company')">
  </alv-input-field>
  <alv-select
    label="job-search.filter.contract-type.label"
    [alvControl]="form.get('contractType')"
    [options$]="contractTypeOptions$">
  </alv-select>
  <div class="form-row">
    <div class="col-6">
      <alv-select
        label="portal.job-search.filter.workload.from.label"
        [alvControl]="form.get('workloadPercentageMin')"
        [options$]="percentagesMin$">
      </alv-select>
    </div>
    <div class="col-6">
      <alv-select
        label="portal.job-search.filter.workload.to.label"
        [alvControl]="form.get('workloadPercentageMax')"
        [options$]="percentagesMax$">
      </alv-select>
    </div>
  </div>
  <div class="form-group range-slider">
    <label class="mb-1">{{ 'job-search.filter.online-since.label' | translate}}</label>
    <div>
      <nouislider [min]="1"
                  [max]="60"
                  [config]="{step: 1}"
                  (update)="updateSliderValue($event)"
                  class="range-input"
                  [formControl]="form.get('onlineSince')">
      </nouislider>
      <span class="range-input-value text-nowrap ml-2"
            [attr.data-unit]="getOnlineSinceLabel(form.get('onlineSince').value) | translate">
                    {{ form.get('onlineSince').value }} {{ getOnlineSinceLabel(form.get('onlineSince').value) | translate }}
       </span>
    </div>
  </div>
</form>

