<h3>{{'job-search.filter.title' | translate}}</h3>
<br>
<form formGroupName="form">
  <alv-select
    label="{{'job-search.filter.sort.label' | translate}}"
    [alvControl]="form.get('sort')"
    [options$]="sortOptions$"
    [validationMessages]="[{error: 'require', message: 'Custom message'}]"
  ></alv-select>
  <alv-input-field
    label="{{'job-search.filter.company-name.label' | translate}}"
    [alvControl]="form.get('company')"
  >
  </alv-input-field>
  <alv-select
    label="{{'job-search.filter.contract-type.label' | translate}}"
    [alvControl]="form.get('contractType')"
    [options$]="contractTypeOptions$"
  >
  </alv-select>
  <p>{{'job-search.filter.working-time.label' | translate}}</p>
  <div class="row">
    <div class="col-6">
      <alv-select
        label="from"
        [alvControl]="form.get('workloadPercentageMin')"
        [options$]="percentages$"
      ></alv-select>
    </div>
    <div class="col-6">
      <alv-select
        label="to"
        [alvControl]="form.get('workloadPercentageMax')"
        [options$]="percentages$"
      ></alv-select>
    </div>
  </div>
  <div class="form-group range-slider">
    <label>{{ 'job-search.filter.online-since.label' | translate}}</label>
    <div>
      <nouislider [min]="1"
                  [max]="60"
                  [config]="{step: 1}"
                  (change)="updateSliderValue($event)"
                  class="range-input"
                  [formControl]="form.get('onlineSince')"></nouislider>
      <span class="range-slider__value range-slider__value--unit small text-nowrap"
            [attr.data-unit]="(form.get('onlineSince').value > 1 ? 'job-search.filter.online-since.day.many' : 'job-search.filter.online-since.day.one') | translate">
                    {{ form.get('onlineSince').value }}
       </span>
    </div>
  </div>
  <pre>{{form.valueChanges | async | json}}</pre>
</form>

