<!--The whole component is wrapped in a droppable area-->
<div ng2FileDrop
     [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
     (fileOver)="fileOverBase($event)"
     [uploader]="uploader"
     class="well drop-zone--file-over">
  <div class="mb-2">
    <div *ngFor="let item of uploader.queue; let i=index"
         class="row">
      <!-- When item is uploading we show the progress bar and a cancel button-->
      <input type="text" [(ngModel)]="item.formData['title']" placeholder="Title of File">
      <ng-container *ngIf="item.isUploading || item.isReady">
        <div class="col-md-11">
          <ngb-progressbar type="info"
                           [striped]="true"
                           [value]="item.progress"

          >
            {{item?.progress}}% {{ item?.file?.name }}
          </ngb-progressbar>
        </div>
        <div class="col-md-1">
          <button type="button"
                  class="btn btn-warning btn-xs"
                  (click)="cancelAndRemove(item)">
            <span class="fa fa-times"></span>
          </button>
        </div>
      </ng-container>
      <ng-container *ngIf="item.isCancel">
        <!--When the uploading of the file is cancelled, we don't show any information about this file-->
      </ng-container>

      <!--When there is an error we show the error message with file details and a hide button-->
      <ng-container *ngIf="item.isError">
        <div class="danger col-md-11">Error occured for the file item?.file?.name</div>
        <div class="col-md-1">
          <button type="button"
                  class="btn btn-danger"
                  (click)="item.remove()">
            <span class="fa fa-times"></span>
          </button>
        </div>
      </ng-container>

      <!--When the file is uploaded successfully we show the file details with menu to move, remove and rename it.-->
      <ng-container *ngIf="item.isSuccess">
        <div class="col-md-11">
          <alv-uploaded-file-presentation
              [id]="item?.response"
              [fileName]="item?.file?.name"
              [fileSize]="item?.file?.size"
              fileType="pdf"
              [uploadDate]="item?.file?.lastModifiedDate"
              fileUrl="http://google.com"
          >
          </alv-uploaded-file-presentation>
        </div>
        <div class="col-md-1">
          <div class="btn-group"
               ngbDropdown
               role="group"
               aria-label="Button group with nested dropdown">
            <button class="btn btn-secondary fa fa-cog"
                    ngbDropdownToggle></button>
            <div class="dropdown-menu"
                 ngbDropdownMenu>
              <button class="dropdown-item"
                      (click)="rename(item)">Rename
              </button>
              <button class="dropdown-item"
                      (click)="item.remove()">Delete
              </button>
              <button class="dropdown-item"
                      *ngIf="i !== uploader.queue.length-1"
                      (click)="moveDown(i)">Move Down
              </button>
              <button class="dropdown-item"
                      *ngIf="i > 0"
                      (click)="moveUp(i)">Move Up
              </button>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  <div>
    <input type="file"
           accept="image/*"
           capture="camera"
           ng2FileSelect
           [uploader]="uploader"
           multiple />
    <br />
  </div>
</div>
