@import "../../../../scss/common/colors";
@import '../../../../../node_modules/bootstrap/scss/functions';
@import '../../../../../node_modules/bootstrap/scss/variables';
@import '../../../../../node_modules/bootstrap/scss/mixins';
@import "../../../../scss/common/_variables";
.desktop-menu {
  position: sticky;
  top: $height-header-desktop;
  margin-top: $height-header-desktop;
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  z-index: $z-index-desktop-menu;
  background-color: $color-white;
  overflow-y: auto;
  overflow-x: visible;
  width: 295px;
  transition: width 0.15s ease-out;

  ::ng-deep .nav-item > .nav-text {
    font-weight: 300;
    color: $color-grey-black;
    animation: expandMainMenu 0.4s ease-out;
  }

  /* Collapsed desktop menu style */
  &.collapsed {
    width: 55px;

    /* CSS rule to hide the nav-text only on the collapsed desktop menu */
    ::ng-deep .nav-item > .nav-text {
      display: none;
    }

    ::ng-deep .nav-item {
      .fas.warn {
        display: none;
      }
    }

    .menu-divider {
      border-top: 1px solid $color-light-grey;
    }

    .sub-menu-header small {
      display: none;
    }
  }

  .back-button {
    color: $color-dark-grey;
    cursor: pointer;
  }

  .nav-spacer {
    min-height: 32px;
  }

  .nav-fill-item, .nav-spacer {
    background-color: $color-light-grey;
  }

  .menu-divider {
    border-top: 1px solid $color-medium-grey;
  }

  .sub-menu-header {
    background-color: $color-light-grey;
    padding-left: 18px;
    height: 18px;
    overflow-x: hidden;
  }
}

::ng-deep .child-nav-container {
  height: 0;

  &.expanded {
    height: initial;
  }
}

::ng-deep .desktop-menu .nav-item {
  &:not(.not-hoverable):hover, &:not(.not-hoverable).active {
    border-left: 5px solid $color-primary;

    &:not(.child-nav-item) {
      color: $color-primary;
    }
  }
}


::ng-deep .mobile-menu.nav-item {
  &:not(.not-hoverable):hover, &:not(.not-hoverable).active {
    border-left: 5px solid $color-primary;

    &:not(.child-nav-item) {
      color: $color-white;
    }
  }
}
  /* Nav Item */
::ng-deep .mobile-menu .nav-item,::ng-deep .desktop-menu .nav-item {
  display: flex;
  align-items: center;
  padding: 6px 15px 6px 10px;
  min-height: 39px;
  font-size: 18px;
  color: $color-grey-black;
  background-color: $color-light-grey;
  border-left: 5px solid $color-light-grey;
  cursor: pointer;
  user-select: none;
  text-decoration: none;

  &:focus {
    z-index: $z-index-nav-item-focus;
  }

  &.child-nav-item {
    background-color: $color-super-light-grey;
    border-left: 5px solid $color-super-light-grey;
    margin-top: 2px;

    &:last-of-type {
      margin-bottom: 2px;
    }
  }

  &.menu-toggle {
    border-top: none;
    border-right: none;
    border-bottom: none;
    color: $color-white;
    min-height: 45px;
    .nav-app-title {
      font-size: 1.25em;
      text-align: left;
    }
    i.fas, .svg-inline--fa {
      font-size: 26px;
    }
    .menu-toggle-icon {
      margin-right: 1px;
    }
  }

  &:not(.not-hoverable):hover {
    color: $color-primary;
    background-color: $color-white;
  }

  &.active {
    background-color: $color-white;
  }

  .nav-icon {
    margin-right: 7px;
    font-size: 22px;
  }

  .nav-spacer, .nav-fill-item {
    background-color: $color-light-grey;
  }
}

.modal-backdrop {
  opacity: 0.2;
  z-index: $z-index-modal-backdrop;
}

/* Mobile Menu */
.mobile-menu {
  transition: all .3s ease-in-out;
  z-index: $z-index-mobile-menu;
  background: $color-grey-black;
  box-shadow: 2px 1px 2px rgba(0, 0, 0, .1);
  position: fixed;
  height: 100%;
  top: 0;
  bottom: 0;
  flex-direction: column !important;
  left: -400px;
  width: 295px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 40px;

  &.open {
    left: 0;
  }

  ::ng-deep .nav-item {
    background-color: $color-grey-black;
    border-left: 5px solid $color-grey-black;
    color: $color-white;

    a {
      color: $color-white;
      &:hover {
        text-decoration: none;
      }
    }

    &.child-nav-item {
      background-color: lighten($color-grey-black, 10%);
    }

    &.active, &:not(.not-hoverable):hover {
      color: $color-white;
      background-color: $color-dark-grey;
      border-left: 5px solid $color-primary;
    }
  }

  .nav-spacer, .nav-fill-item {
    background-color: $color-grey-black;
  }

  .sub-menu-header small {
    color: $color-medium-grey;
    padding-left: 18px;
    height: 18px;
  }

  .menu-divider {
    border-top: 1px solid $color-medium-grey;
  }

  &.open {
    width: 295px;

  }
}


@include media-breakpoint-down(md) {
  :host {
    margin-left: 0;
    width: inherit;

    &.collapsed {
      width: 0;
    }
  }
}

@keyframes expandMainMenu {
  0% {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  100% {
    overflow: initial;
    text-overflow: initial;
    white-space: initial;
  }
}

.logo-arbeit-swiss {
  width: 1em;
  margin-left: 0.3rem;
}

.logo-text {
  margin-left: 0.7rem;
}

.not-hoverable {
  cursor: default;
}

hr {
  background-color: $color-white;
}
