<!-- a11y -->
<h1 class="sr-only">Navigation</h1>

<!--&lt;!&ndash; Menu Backdrop &ndash;&gt;-->
<!--<div class="modal-backdrop"-->
<!--*ngIf="open"-->
<!--(click)="toggleMobileSideNav()">-->
<!--</div>-->

<!-- Desktop Menu -->
<div class="d-none d-lg-flex flex-column h-100 w-100 d-print-none">
  <div class="nav-spacer">
  </div>
  <button class="nav-item menu-toggle"
          (click)="toggleDesktopSideNav()">
    <i class="fas fa-caret-left"
       *ngIf="!mainCollapsed"></i>
    <i class="fas fa-caret-right"
       *ngIf="mainCollapsed"></i>
  </button>
  <!-- Menu Entries -->
  <ng-container *ngFor="let menuEntry of menuEntries$ | async">
    <alv-menu-entry [menuEntry]="menuEntry"></alv-menu-entry>
  </ng-container>

  <div class="nav-fill-item flex-grow-1">
  </div>

</div>

<!-- Mobile Menu -->
<div class="d-md-block d-lg-none d-print-none">
  <div class="navbar-nav animate side-nav"
       [class.open]="!mainCollapsed">
    <a class="nav-item"
       (click)="toggleMobileSideNav()">
      <i class="nav-icon fas fa-caret-left"></i>
      <span class="nav-text">Schliessen</span>
    </a>
    <!-- Menu Entries -->
    <ng-container *ngFor="let menuEntry of menuEntries$ | async">
      <alv-menu-entry [menuEntry]="menuEntry"
                      (itemClicked)="toggleMobileSideNav()"></alv-menu-entry>
    </ng-container>
    <div class="nav-fill-item flex-grow-1">
    </div>
  </div>
</div>
