<!-- a11y -->
<h1 class="sr-only">Navigation</h1>

<!-- Menu Backdrop -->
<div class="modal-backdrop"
     *ngIf="mobileMenuExpanded"
     (click)="toggleMobileSideNav()">
</div>

<!-- Desktop Menu -->
<div class="desktop-menu d-none d-lg-flex flex-column d-print-none"
     [class.collapsed]="mainNavigationCollapsed"
     [style.height]="desktopMenuHeight">
  <div class="nav-spacer">
  </div>
  <button class="nav-item menu-toggle"
          (click)="toggleDesktopSideNav()">
    <fa-icon class="menu-toggle-icon"
             [fixedWidth]="true"
             [icon]="['fas', mainNavigationCollapsed ? 'caret-right' : 'caret-left']">
    </fa-icon>
    <span class="nav-text nav-app-title"
          *alvAppContextCompetenceCatalog>
      {{'portal.context.competence-catalog.app-title' | translate}}
    </span>
  </button>

  <ng-container *ngIf="(menuDefinition$ | async) as menuDefinition">
    <!-- Main Menu Entries -->
    <ng-container *ngFor="let menuEntry of menuDefinition.mainMenuEntries">
      <alv-menu-entry [menuEntry]="menuEntry"
                      [showTooltip]="mainNavigationCollapsed">
      </alv-menu-entry>
    </ng-container>

    <!-- Online Forms Menu Entries -->
    <ng-container *ngIf="menuDefinition.onlineFormsMenuEntries?.length">
      <div class="menu-divider"></div>
      <div class="sub-menu-header d-flex">
        <small>
          {{'portal.navigation.sub-menu.online-forms.label' | translate}}
        </small>
      </div>
      <ng-container *ngFor="let menuEntry of menuDefinition.onlineFormsMenuEntries">
        <alv-menu-entry [menuEntry]="menuEntry"
                        [showTooltip]="mainNavigationCollapsed">
        </alv-menu-entry>
      </ng-container>
      <div class="menu-divider"></div>
    </ng-container>

    <ng-container *ngFor="let menuEntry of menuDefinition.settingsMenuEntries">
      <alv-menu-entry [menuEntry]="menuEntry"
                      [showTooltip]="mainNavigationCollapsed">
      </alv-menu-entry>
    </ng-container>
  </ng-container>

  <a *alvAppContextEalv
     class="nav-item"
     target="_blank"
     rel="noopener"
     [ngbTooltip]="mainNavigationCollapsed ? cmsTooltipContent: ''"
     placement="right"
     [href]="'home.title.portal-url' | translate">
    <img src="assets/img/logo_arbeit_swiss_without_text.svg"
         class="d-inline-block logo-arbeit-swiss"
         aria-hidden="true"
         height="22">
    <span class="nav-text logo-text"
          [innerHTML]="'home.title.cms' | translate"></span>
  </a>

  <ng-template #cmsTooltipContent>
    <div [innerHTML]="'home.title.cms' | translate"></div>
  </ng-template>

  <div class="nav-fill-item flex-grow-1">
  </div>

</div>

<!-- Mobile Menu -->
<div class="mobile-menu d-block d-lg-none d-print-none animate"
     [class.open]="mobileMenuExpanded">

  <div
    class="nav-item not-hoverable"
    *alvIsAuthenticated>
    <alv-user-name-and-company
      *ngIf="currentUser"
      [displayName]="currentUser.displayName"
      [companyName]="(currentCompany$|async)?.companyName">
    </alv-user-name-and-company>
  </div>
  <div *alvHasAnyAuthority="[userRole.ROLE_PAV, userRole.ROLE_COMPANY]"
       class="nav-item not-hoverable">
    <alv-accountability-switcher class="w-100"></alv-accountability-switcher>
  </div>

  <div class="mb-3"></div>

  <!--Login Button-->
  <button class="d-flex align-self-center btn btn-primary m-3 w-80"
          *alvIsAnonymous
          (click)="login()">
    <fa-icon class="nav-icon mx-2"
             [icon]="['fas', 'key']"></fa-icon>
    <span class="nav-text">{{'global.menu.account.login' | translate}}</span>
  </button>

  <!-- Menu Entries -->
  <ng-container *ngIf="(menuDefinition$ | async) as menuDefinition">
    <!-- Main Menu Entries -->
    <ng-container *ngFor="let menuEntry of menuDefinition.mainMenuEntries">
      <alv-menu-entry (itemClicked)="toggleMobileSideNav()"
                      [menuEntry]="menuEntry">
      </alv-menu-entry>
    </ng-container>

    <!-- Online Forms Menu Entries -->
    <ng-container *ngIf="menuDefinition.onlineFormsMenuEntries?.length">
      <div class="menu-divider"></div>
      <div class="sub-menu-header d-flex">
        <small>
          {{'portal.navigation.sub-menu.online-forms.label' | translate}}
        </small>
      </div>
      <ng-container *ngFor="let menuEntry of menuDefinition.onlineFormsMenuEntries">
        <alv-menu-entry (itemClicked)="toggleMobileSideNav()"
                        [menuEntry]="menuEntry">
        </alv-menu-entry>
      </ng-container>
      <div class="menu-divider"></div>
    </ng-container>

    <ng-container *ngFor="let menuEntry of menuDefinition.settingsMenuEntries">
      <alv-menu-entry (itemClicked)="toggleMobileSideNav()"
                      [menuEntry]="menuEntry">
      </alv-menu-entry>
    </ng-container>
  </ng-container>

  <a *alvAppContextEalv
     class="nav-item"
     target="_blank"
     rel="noopener"
     [href]="'home.title.portal-url' | translate">
    <img src="assets/img/logo_arbeit_swiss_without_text.svg"
         class="d-inline-block logo-arbeit-swiss"
         aria-hidden="true"
         height="22">
    <span class="nav-text logo-text"
          [innerHTML]="'home.title.cms' | translate"></span>
  </a>

  <!--Logout Button-->
  <a class="nav-item mt-3 d-block"
     *alvIsAuthenticated
     (click)="logout()">
    <fa-icon class="nav-icon"
             [fixedWidth]="true"
             [icon]="['fas', 'power-off']"></fa-icon>
    <span class="nav-text">{{'global.menu.account.logout' | translate}}</span>
  </a>

  <div class="nav-fill-item flex-grow-1">
  </div>
</div>
