@import "../../../../../scss/common/colors";

.upload-button {
  height: 50px;

  &.alv-dragover {
    opacity: 80%;
    background-color: $color-red-transparent;
    border: 2px dashed $color-primary;
  }
}
.file {
  display: flex;
  align-items: center;
  border: 1px solid $color-medium-grey;
  height: 50px;
  .file-size {
    color: $color-grey;
    white-space: nowrap;
  }
}


.files-list .delete-file {

}
