<div class="alv-panel pb-3 pb-md-4">
  <h2 class="panel-title">
    <alv-custom-icon class="panel-icon"
                     aria-hidden="true"
                     [iconKey]="IconKey.JOB_AD_SEARCH">
    </alv-custom-icon>
    {{'portal.widgets.job-search.title' | translate}}
  </h2>
  <alv-job-query-panel [jobQueryPanelValues]="jobQueryPanelValues$ | async "
                       (jobQueryPanelValuesChange)="jobQueryChanged($event)"
                       (searchSubmit)="onSearchSubmit($event)">
  </alv-job-query-panel>
</div>


