@import "../common/colors";

.accordion {
  .card {
    border: 0 !important;

    .card-header {
      margin-top: 0.5rem;
      padding: 0;
      background: $color-light-grey;

      &:hover {
        background: darken($color-light-grey, 10%)
      }

      .btn {
        width: 100%;
        text-align: left;
        color: $color-black;
        text-decoration: none;
        &:focus {
          box-shadow: none;
        }
        .collapse-icon, .expand-icon {
          color: $color-primary;
        }
        .collapse-icon {
          display: block;
        }
        .expand-icon {
          display: none;
        }
        &.collapsed {
          .collapse-icon {
            display: none;
          }
          .expand-icon {
            display: block;
          }
        }
      }
    }
  }
}

@keyframes spinBack {
  100% {
    transform: rotate(0deg);
  }
}

@keyframes spin {
  100% {
    transform: rotate(180deg);
  }
}


