@import "../common/colors";
@import "../common/variables";
@import '../../../node_modules/bootstrap/scss/functions';
@import '../../../node_modules/bootstrap/scss/variables';
@import '../../../node_modules/bootstrap/scss/mixins';

.dropdown-menu {
  border-radius: 0;
  padding: .1rem 0;
  z-index: $z-index-dropdown-menu;
  box-shadow: $box-shadow-default;
  overflow-y: auto;

  .dropdown-item {
    border-left: 5px solid transparent;
    padding: .5rem 1rem;

    &:hover, &:active, &.active {
      border-left: 5px solid $color-primary;
      color: $color-primary;
      background-color: transparent;
    }

    &:hover {
      cursor: pointer;
      background-color: $color-light-grey;
    }

    .ngb-highlight {
      background-color: $color-light-yellow;
    }

    &.highlight {
      font-weight: 700;
    }

  }
}
// When the dropdown is attached to body, we have to apply the z-index manually
.dropdown:not([ngbDropdown]) {
  z-index: $z-index-dropdown-menu;
}

ngb-typeahead-window.dropdown-menu {
  max-height: 80%;
}

.no-dropdown-indicator.dropdown-toggle::after {
  display: none;
}

@include media-breakpoint-down(sm) {

  .dropdown-menu {
    max-width: 100%;

    .dropdown-item {
      white-space: normal;
    }
  }

}
