@import "../common/colors";
@import "../common/_variables";
@import '../../../node_modules/bootstrap/scss/functions';
@import '../../../node_modules/bootstrap/scss/variables';
@import '../../../node_modules/bootstrap/scss/mixins';

.dropdown-menu {
  margin-bottom: 3em;
  border-radius: 0;
  padding: .1rem 0;
  z-index: $z-index-dropdown-menu;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.35);

  .dropdown-item {
    border-left: 5px solid transparent;
    padding: .5rem 1rem;

    &:hover, &:active, &.active {
      border-left: 5px solid $color-primary;
      color: $color-primary;
      background-color: transparent;
    }
    &:hover {
      cursor: pointer;
      background-color: $color-light-grey;
    }

    .ngb-highlight {
      background-color: $color-light-yellow;
    }

    &.highlight {
      font-weight: 700;
    }

  }
}
.no-dropdown-indicator.dropdown-toggle::after {
  display: none;
}

@include media-breakpoint-down(sm) {

  .dropdown-menu {
    max-width: 100%;

    .dropdown-item {
      white-space: normal;
    }
  }

}
