@import "../common/colors";

.dropdown-menu {
  border-radius: 0;
  padding: .1rem 0;

  .dropdown-item {
    border-left: 5px solid transparent;
    padding: .5rem 1rem;

    &:hover {
      cursor: pointer;
      border-left: 5px solid $color-primary;
      color: $color-primary;
    }
    &:active {
      color: $color-white;
    }

    &.active {
      background-color: $color-light-grey;
      color: $color-primary;
    }

    .ngb-highlight {
      background-color: $color-light-yellow;

    }

    &.highlight {
      font-weight: 700;
    }

  }
}

