@import "../common/colors";
@import '../../../node_modules/bootstrap/scss/functions';
@import '../../../node_modules/bootstrap/scss/variables';
@import '../../../node_modules/bootstrap/scss/mixins';

.modal-dialog .modal-content {
  border-radius: 0 0 15px 0;
  background-color: $color-super-light-grey;

  .modal-header {
    display: flex;
    align-items: center;
    border-color: $color-medium-grey;
    .modal-title {
      font-size: 1.5em;
      font-weight: 300;
      color: $color-dark-grey;
    }
    .modal-subtitle {
      font-size: 1em;
    }
    .close {
      margin: -.75rem -1rem -.75rem auto;
    }
  }

  .modal-footer {
    border-color: $color-medium-grey;

    &> :not(:last-child) {
      margin-right: 0;
    }
    &> :not(:first-child) {
      margin-left: 0;
    }
  }

  .modal-header, .modal-body, .modal-footer {
    padding: 1rem 1.5rem;
  }
}

@include media-breakpoint-down(md) {
  .modal-dialog .modal-content {
    .modal-header {
      .modal-title {
        font-size: 1.25em;
        font-weight: 400;
      }
      .modal-subtitle {
        font-size: 80%;
      }
    }

    .modal-header, .modal-body, .modal-footer {
      padding: 0.75rem 1rem;
    }

    .modal-footer > :not(:first-child) {
      margin-left: 0;
    }
  }

}
