@import "../../../../scss/common/colors";

:host {
  width: 100%;
  display: flex;

  .icon {
    color: $color-white;
    display: flex;
    text-align: center;
    i {
      flex-grow: 1;
      align-self: center;
    }
  }

  .text {
    align-self: center;
  }

  &.info {
    background-color: $color-light-blue;
    .icon {
      background-color: $color-blue;
    }
  }
  &.warning {
    background-color: $color-yellow;
    .icon {
      background-color: $color-orange;
    }
  }
  &.error {
    background-color: $color-light-red;
    .icon {
      background-color: $color-red;
    }
  }
  &.success {
    background-color: $color-light-green;
    .icon {
      background-color: $color-green;
    }
  }
  &.empty {
    background-color: $color-super-light-grey;
    border: 1px solid $color-medium-grey;
    .text {
      text-align: center;
      color: $color-dark-grey;
      width: 100%;
    }
  }
}

