<ul *ngIf="languages?.length"
    class="alv-list">
  <alv-list-item-content *ngFor="let language of languages"
                         [label]="'global.reference.language.' + language.languageIsoCode">
    <div *ngIf="language.spokenLevel">
      {{ 'global.reference.language.spoken' | translate }}
      : {{ 'global.reference.language.level.' + language.spokenLevel | translate}}
    </div>
    <div *ngIf="language.writtenLevel">
      {{ 'global.reference.language.written' | translate }}
      : {{ 'global.reference.language.level.' + language.writtenLevel | translate}}
    </div>
  </alv-list-item-content>
</ul>
