<div class="container-fluid">
  <alv-three-column-layout *ngIf="candidateDetailModel$ | async as candidateDetailModel"
                           [mobileOrdering]="[2, 1, null]">
    <!--Mobile only - back button and dropdown menu-->
    <div class="mobile-menu-bar">
      <div>
        <a class="btn btn-text btn-text-icon mb-2"
           routerLink="/candidate-search">
          <i class="fa fa-caret-left mr-1"></i>
          {{'candidate-detail.back' | translate}}
        </a>
      </div>
      <div #mobileActionsMenu="ngbDropdown"
           class="d-inline-block"
           ngbDropdown
           placement="bottom-right">
        <button (click)="mobileActionsMenu.toggle()"
                class="btn btn-text btn-icon"
                id="dropdownMenu"
                ngbDropdownAnchor
                aria-label="Open candidate detail menu">
          <i class="fa fa-ellipsis-v"></i>
        </button>
        <div aria-label="Candidate detail menu"
             ngbDropdownMenu>
          <!-- TODO: mobile actions -->
        </div>
      </div>
    </div>
    <!-------------Left panel-->
    <div class="left-column">

      <a class="btn btn-text btn-text-icon btn-truncate mb-3 d-none d-md-block d-print-none"
         routerLink="/candidate-search">
        <i class="fa fa-caret-left pr-1"></i>
        {{'candidate-detail.back' | translate}}
      </a>
      <div class="alv-panel p-2 mb-3">
        <div class="d-flex d-sm-block flex-column-reverse">

          <div class="contact-panel">

            <div class="panel-title"> Weitere Auskünfte erteilt</div>

            <!-- display job center information, if available -->
            <div *ngIf="candidateDetailModel.jobCenter as jobCenter"
                 class="order-sm-2 alv-logo-box">
              <div *ngIf="jobCenter.address as address">
                <strong>
                  {{ 'portal.job-detail.reference.responsible-job-center' | translate }}
                </strong>
                <alv-post-address [address]="{
                        name: address.name,
                        street: address.street,
                        houseNumber: address.houseNumber,
                        postalCode: address.zipCode,
                        city: address.city}">
                </alv-post-address>
                <br>
                {{'portal.job-detail.reference.phone' | translate}}
                <a class="link"
                   href="tel:{{jobCenter.phone}}">{{jobCenter.phone | phoneNumber}}</a>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
    <!-------------Main screen-->
    <div class="main-column">
      <!-----------------Alerts-->
      <div *ngIf="(alerts$ | async) as alerts"
           class="mb-4">
        <alv-alert *ngFor="let alert of alerts"
                   [notification]="alert"
                   (dismiss)="dismissAlert(alert, alerts)">
        </alv-alert>
      </div>

      <!-----------------Title-->
      <h2 class="mb-4">{{candidateDetailModel.lastJobExperience.occupationLabel}}</h2>

      <!--Badges-->
      <div class="mb-4">
        <alv-inline-badges [badges]="badges$ | async"></alv-inline-badges>
      </div>

      <!-----------------Details about candidate-->
      <div class="mb-3">
        <alv-collapse-panel [panelId]="candidateDetailPanelId.CANDIDATE_QUALIFICATION"
                            *ngIf="candidateDetailModel.jobExperiencesModels  as jobExperiences"
                            panelTitle="candidate-detail.job-experience.title">
          <!--last job-->
          <ng-container *ngFor="let jobExperience of jobExperiences">
            <strong>
              {{ (jobExperience.jobExperience.lastJob ? 'candidate-detail.job-experience.last-job.label' :
              'candidate-detail.job-experience.job.label') | translate}}
            </strong>
            <h3>{{jobExperience.occupationLabel}}</h3>
            <ul class="alv-list">
              <li *ngIf="jobExperience.jobExperience.remark as remark">
                <strong>
                  Kenntnisse, Fähigkeiten, Skills
                </strong>
                <div class="list-item-content">
                  {{remark}}
                </div>
              </li>
              <li *ngIf="jobExperience.jobExperience.graduation as graduation">
                <strong>{{ 'candidate-detail.job-experience.graduation.label' | translate }}</strong>
                <div class="list-item-content">
                  {{ 'candidate-detail.graduation.' + graduation | translate}}
                </div>
              </li>
              <li *ngIf="jobExperience.jobExperience.degree as degree">
                <strong>{{ 'candidate-detail.job-experience.degree.label' | translate }}</strong>
                <div class="list-item-content">
                  {{ 'global.degree.' + degree | translate}}
                </div>
              </li>
              <li *ngIf="jobExperience.jobExperience.experience as experience">
                <strong>{{ 'candidate-detail.job-experience.experience.label' | translate }}</strong>
                <div class="list-item-content">
                  {{ 'global.experience.' + experience | translate }}
                </div>
              </li>
            </ul>
            <hr>
          </ng-container>
        </alv-collapse-panel>

        <alv-collapse-panel [panelId]="candidateDetailPanelId.CANDIDATE_LANGUAGES"
                            panelTitle="portal.candidate-detail.language-skills.label">
          <alv-language-skills [languages]="candidateDetailModel.languages">
          </alv-language-skills>

        </alv-collapse-panel>

        <alv-collapse-panel [panelId]="candidateDetailPanelId.CANDIDATE_OTHER_INFO"
                            panelTitle="candidate-detail.additional-information.title">
          <ul class="alv-list">
            <li *ngIf="candidateDetailModel.candidateProfile.workForm.length">
              <strong>
                {{ 'candidate-detail.additional-information.workForm.label' | translate }}
              </strong>
              <div class="list-item-content">
                <ng-container *ngFor="let workForm of candidateDetailModel.candidateProfile.workForm | keys; last as isLast">
                  {{('global.workForm.' + workForm.value | translate) + (isLast ? '' : ', ')}}
                </ng-container>
              </div>
            </li>
            <li *ngIf="candidateDetailModel.candidateProfile.gender">
              <strong>
                {{ 'candidate-detail.additional-information.gender.label' | translate }}
              </strong>
              <div class="list-item-content">
                {{ 'global.gender.' + candidateDetailModel.candidateProfile.gender | translate }}
              </div>
            </li>
            <li *ngIf="candidateDetailModel.candidateProfile.highestEducationLevel">
              <strong>
                {{ 'candidate-detail.additional-information.highestEducationLevel.label' | translate }}
              </strong>
              <div class="list-item-content">
                {{ 'global.education.' + candidateDetailModel.candidateProfile.highestEducationLevel | translate }}
              </div>
            </li>
          </ul>
        </alv-collapse-panel>

        <alv-collapse-panel [panelId]="candidateDetailPanelId.CANDIDATE_CONTACT_DETAILS"
                            panelTitle="candidate-detail.personal-information.title">
          <ul class="alv-list">
            <li>
              <strong>
                List title
              </strong>
              <div class="list-item-content">
                List item
              </div>
            </li>
          </ul>
        </alv-collapse-panel>
      </div>
    </div>
    <!-------------Right panel-->
    <div class="right-column">
      <div class="d-flex">
        <button
          (click)="prev()"
          [disabled]="!(prevEnabled$ | async)"
          class="btn btn-text btn-text-icon btn-truncate mb-2">
          <i class="fa fa-caret-left mr-1"></i>
          {{'portal.job-detail.previous-result' | translate}}
        </button>
        <div class="flex-grow-1"></div>
        <button
          (click)="next()"
          [disabled]="!(nextEnabled$ | async)"
          class="btn btn-text btn-text-icon btn-truncate mb-2">
          {{'portal.job-detail.next-result' | translate}}
          <i class="fa fa-caret-right ml-1"></i>
        </button>
      </div>

      <ul class="nav flex-column">
        <li>
          <a (cbOnSuccess)="onCopyLink()"
             [cbContent]="getCandidateUrl()"
             [ngbTooltip]="'global.messages.tooltip.link-copy.success' | translate"
             class="btn btn-text btn-text-icon btn-truncate"
             ngxClipboard
             triggers="manual">
            <i aria-hidden="true"
               class="fa fa-copy mr-1"></i>
            {{'candidate-detail.candidate-copy-link' | translate}}
          </a>
        </li>
        <li>
          <a [href]="'mailto:?body=' + getEncodedUrl()"
             class="btn btn-text btn-text-icon btn-truncate">
            <i aria-hidden="true"
               class="fa fa-share mr-1"></i>
            {{'job-detail.action.sendEmail' | translate}}
          </a>
        </li>
        <li class="d-none d-md-block">
          <a (click)="printCandidate()"
             class="btn btn-text btn-text-icon btn-truncate">
            <i aria-hidden="true"
               class="fa fa-print mr-1"></i>
            {{'candidate-detail.candidate-print' | translate}}
          </a>
        </li>
      </ul>
    </div>

  </alv-three-column-layout>
</div>



