<ng-container *ngIf="currentUser$ |async as currentUser">

  <alv-dashboard-header [user]="currentUser"></alv-dashboard-header>

  <alv-find-job-widget></alv-find-job-widget>

  <alv-panel class="d-block mt-4"
             panelTitle="Ihre Aufgaben"
             panelIcon="list-ol">
    <p class="mb-2">Bitte erfassen Sie Arbeitsbemühung Nr. 4 für diesen Monat</p>
    <div class="row">
      <div class="col-sm-12">
        <button class="btn btn-secondary add-work-effort">
          <i class="fa fa-plus"></i>
        </button>
      </div>
    </div>

  </alv-panel>

  <!--
  <alv-panel panelTitle="Jobfavoriten">
  </alv-panel>

  <alv-panel panelTitle="Jobwecker">
  </alv-panel>
  -->
</ng-container>
