<form [formGroup]="jobPublicationForm">

  <alv-job-description [jobPublicationForm]="jobPublicationForm"></alv-job-description>

  <alv-occupation [jobPublicationForm]="jobPublicationForm"></alv-occupation>

  <alv-collapse-panel panelId="occupationPanel"
                      panelTitle="portal.job-publication.language-skills.label">
    <alv-languages [parentForm]="jobPublicationForm"></alv-languages>
  </alv-collapse-panel>

  <alv-occupation [jobPublicationForm]="jobPublicationForm"></alv-occupation>

</form>


{{jobPublicationForm.value | json}}
