<div class="container-fluid">
  <alv-three-column-layout [mobileOrdering]="[2, 1, null]">

    <!-------------Left panel-->
    <div class="left-column">

    </div>

    <!-------------Main screen-->
    <div class="main-column">
      <h2 cl>
        <i class="fa fa-edit mr-2 text-primary"
           aria-hidden="true"></i>
        {{'home.tools.jobPublicationTab' | translate}}
      </h2>
      <hr class="mt-2 mb-3">
      <alv-job-publication-form></alv-job-publication-form>
    </div>

    <!-------------Right panel-->
    <div class="right-column">

    </div>
  </alv-three-column-layout>
</div>
