<form *ngIf="form"
      [formGroup]="form" >
  <os-input-field label="Street"
                  [control]="form.get('street')">
  </os-input-field>
  <os-input-field label="Number"
                  [control]="form.get('number')">
  </os-input-field>
  <os-input-field label="Postcode"
                  [control]="form.get('zip')">
  </os-input-field>
  <os-input-field label="City"
                  [control]="form.get('city')">
  </os-input-field>
  <div class="form-group">
    <label for="address__country">Country</label>
    <select id="address__country"
            name="address__country"
            formControlName="country"
            required="required"
            class="form-control">
      <option value="Switzerland">Switzerland</option>
      <option value="Russia">Russia</option>
      <option value="Slovakia">Slovakia</option>
      <option value="Poland">Poland</option>
    </select>
  </div>
</form>
