<alv-registration-panel panelTitle="portal.registration.request.access.code"
                        (backAction)="backAction()">
  <alv-company-step-indicator class="step-indicator panel-full-width"
                              [currentStep]="2">
  </alv-company-step-indicator>
  <p>{{'registrationCompanyDialog.title' | translate}}</p>
  <alv-input-field label="portal.registration.company.uid.label"
                   helpText="registrationCompanyDialog.placeholder"
                   alvFormControlName="uid"
                   [validationMessages]="[{error: 'required', message: 'home.tools.job-publication.messages.validate.required'},
                     {error: 'pattern', message: 'registrationCompanyDialog.validation.error.uid'}]">
  </alv-input-field>

</alv-registration-panel>
