<table class="table">
  <thead>
  <tr>
    <th>{{ 'dashboard.job-publication.job-room-id' | translate }}</th>
    <th>{{ 'dashboard.job-publication.avam' | translate }}</th>
    <th>{{ 'dashboard.job-publication.publication-date' | translate }}</th>
    <th>{{ 'dashboard.job-publication.job-title' | translate }}</th>
    <th>{{ 'dashboard.job-publication.location' | translate }}</th>
    <th>{{ 'dashboard.job-publication.status' | translate }}</th>
    <th>{{ 'dashboard.job-publication.action' | translate }}</th>
  </tr>
  </thead>
  <tbody (scrolled)="onScroll()"
         [fromRoot]="true"
         [infiniteScrollThrottle]="50"
         [immediateCheck]="true"
         [infiniteScrollContainer]="'main'"
         infiniteScroll>
  <tr *ngFor="let jobAdvertisement of jobSearchResults$ | async"
      [jobAdvertisement]="jobAdvertisement"
      alv-job-ad-management-row>
  </tr>
  </tbody>
</table>
