<div class="container">
  <div class="d-flex justify-content-between p-2">
    <h2 class="dashboard__title text--light">
  <span class="fa fa-table"
        aria-hidden="true"></span>
      {{ 'dashboard.job-publication.title' | translate }}
    </h2>
    <button type="button"
            class="btn btn-secondary"
            data-toggle="popover"
            (click)="onFilterClick()">
      <i class="fa fa-filter mr-2"></i>Filter
    </button>
  </div>

  <hr>

  <!--Badges panel-->
  <div class="d-flex justify-content-end mb-3"
       *ngIf="currentBadges$ | async as currentBadges">
    <div *ngFor="let badge of currentBadges;"
         class="badge mr-1"
         [ngClass]="badge.cssClass">
      {{badge.label | translate}}
      <a (click)="removeCurrentBadge(badge)"
         class="fa fa-times"></a>
    </div>
  </div>

  <input type="text"
         class="form-control mb-2"
         placeholder="search"
         (input)="onQueryChange($event)">

  <table class="table"
         *ngIf="currentFilter$ | async as currentFilter">
    <thead>
    <tr>
      <th scope="col"
          *ngIf="MangedJobAdsSort.MELDE_DATUM as column"
          (click)="onSortChange(column, currentFilter.sort)">
        <span>{{ 'dashboard.job-publication.publication-date' | translate }}</span>
        <span class="fa fa-sort"
              *ngIf="currentFilter.sort.column === column"
              [ngClass]="{
              'fa-sort-down': currentFilter.sort.direction === SortDirection.DESC,
              'fa-sort-up': currentFilter.sort.direction === SortDirection.ASC
              }">
        </span>
      </th>
      <th scope="col">{{ 'dashboard.job-publication.job-title' | translate }}</th>
      <th scope="col"
          *ngIf="MangedJobAdsSort.STELLEN_NUMMER_EGOV as column"
          (click)="onSortChange(column, currentFilter.sort)">
        <span>{{ 'dashboard.job-publication.job-room-id' | translate }}</span>
        <span class="fa fa-sort"
              *ngIf="currentFilter.sort.column === column"
              [ngClass]="{
              'fa-sort-down': currentFilter.sort.direction === SortDirection.DESC,
              'fa-sort-up': currentFilter.sort.direction === SortDirection.ASC
              }">
        </span>
      </th>
      <th scope="col"
          *ngIf="MangedJobAdsSort.STELLEN_NUMMER_AVAM as column"
          (click)="onSortChange(column, currentFilter.sort)">
        <span>{{ 'dashboard.job-publication.avam' | translate }}</span>
        <span class="fa fa-sort"
              *ngIf="currentFilter.sort.column === column"
              [ngClass]="{
              'fa-sort-down': currentFilter.sort.direction === SortDirection.DESC,
              'fa-sort-up': currentFilter.sort.direction === SortDirection.ASC
              }">
        </span>
      </th>
      <th scope="col">{{ 'dashboard.job-publication.location' | translate }}</th>
      <th scope="col">{{ 'dashboard.job-publication.status' | translate }}</th>
      <th scope="col">{{ 'dashboard.job-publication.action' | translate }}</th>
    </tr>
    </thead>
    <tbody (scrolled)="onScroll()"
           [fromRoot]="true"
           [infiniteScrollThrottle]="50"
           [immediateCheck]="true"
           [infiniteScrollContainer]="'main'"
           infiniteScroll>
    <tr *ngFor="let jobAdvertisement of jobSearchResults$ | async"
        [jobAdvertisement]="jobAdvertisement"
        alv-job-ad-management-row>
    </tr>
    </tbody>
  </table>
</div>

