<form [formGroup]="form"
      (ngSubmit)="onSearchSubmit()"
      class="justify-content-between d-flex flex-column flex-md-row">
  <div class="flex-grow-1">
    <div class="form-row">
      <div class="col-12 col-md-4 mb-1 mb-md-0">
        <alv-multi-typeahead alvFormControlName="occupations"
                             [editable]="false"
                             [loadItems]="loadOccupationsFn"
                             label="portal.job-ad.search.query-panel.occupations.placeholder"
                             [ngbTooltip]="occupationsTP"
                             container="body"
                             placement="bottom"
                             [focusFirst]="true"
                             class="narrow-form">
        </alv-multi-typeahead>
        <ng-template #occupationsTP>
          {{ 'portal.job-ad.search.query-panel.occupations.tooltip' | translate}}
        </ng-template>
      </div>
      <div class="col-12 col-md-4 mb-1 mb-md-0">
        <alv-multi-typeahead alvFormControlName="keywords"
                             label="portal.job-ad.search.query-panel.keywords.placeholder"
                             [ngbTooltip]="keywordsTP"
                             container="body"
                             placement="bottom"
                             class="narrow-form">
        </alv-multi-typeahead>
        <ng-template #keywordsTP>
          {{ 'portal.job-ad.search.query-panel.keywords.tooltip' | translate}}
        </ng-template>
      </div>
      <div class="position-relative col-12 col-md-4 mb-1 mb-md-0">
        <alv-multi-typeahead alvFormControlName="localities"
                             [editable]="false"
                             [focusFirst]="true"
                             [loadItems]="loadLocalitiesFn"
                             label="portal.job-ad.search.query-panel.localities.placeholder"
                             [ngbTooltip]="localitiesTP"
                             container="body"
                             placement="bottom"
                             class="append-button narrow-form">
        </alv-multi-typeahead>

        <alv-geo-location-selection class="geo-location-selector"
                                    (localitySelect)="onGeoSelection($event)">
        </alv-geo-location-selection>

        <ng-container *ngIf="jobAdRadiusSearchEnabled">
          <alv-slider-input *ngIf="isRadiusSliderShow$ | async"
                            [min]="10"
                            [max]="130"
                            [step]="1"
                            label="portal.job-ad.search.query-panel.radius-slider.label"
                            alvFormControlName="radius">
          </alv-slider-input>
        </ng-container>

        <ng-template #localitiesTP>
          {{ 'portal.job-ad.search.query-panel.localities.tooltip' | translate}}
        </ng-template>
      </div>
    </div>
  </div>
  <button class="btn btn-primary ml-md-2"
          [attr.aria-label]="'portal.global.search'|translate"
          type="submit">
    <span *ngIf="showSpinner">
      <fa-icon [icon]="['fas', 'sync-alt']"
               [spin]="true"></fa-icon>
    </span>
    <span *ngIf="!showSpinner">
      <fa-icon [icon]="['fas', 'search']"></fa-icon>
    </span>
  </button>

</form>
