<table class="table table-striped"
       role="grid">
  <thead role="presentation">
  <tr role="row">
    <th scope="col" role="columnheader">
      {{ 'portal.admin.audits.table.header.date' | translate }}
    </th>
    <th scope="col" role="columnheader">
      {{ 'portal.admin.audits.table.header.principal' | translate }}
    </th>
    <th scope="col" role="columnheader">
      {{ 'portal.admin.audits.table.header.status' | translate }}
    </th>
    <th scope="col" role="columnheader">
      {{ 'portal.admin.audits.table.header.data' | translate }}
    </th>
  </tr>
  </thead>
  <tbody>
  <tr role="row">
    <td class="content-cell align-middle"
        role="gridcell">
    </td>
    <td class="content-cell align-middle"
        role="gridcell">
    </td>
    <td class="content-cell align-middle"
        role="gridcell">
    </td>
    <td class="content-cell align-middle"
        role="gridcell">
    </td>
  </tr>
  </tbody>
</table>
