<div *ngIf="auditList?.length; else noResults">
  <table class="table table-striped"
         role="grid">
    <thead role="presentation">
    <tr role="row">
      <th scope="col"
          role="columnheader"
          *ngFor="let columnDefinition of columnDefinitions"
          (click)="onSort(columnDefinition.columnName)"
          [ngClass]="{'active-sort' : currentSorting.columnName === columnDefinition.columnName}">
        <span>{{ 'portal.admin.audits.table.header.' + columnDefinition.columnName | translate }}</span>
        <ng-container *ngIf="columnDefinition.sortable">
          <span *ngIf="currentSorting.sortOrder === 'desc' && currentSorting.columnName === columnDefinition.columnName">
            <i class="fas fa-sort fa-sort-down ml-2 text-primary" aria-hidden="true"></i>
          </span>
          <span *ngIf="currentSorting.sortOrder === 'asc' && currentSorting.columnName === columnDefinition.columnName">
            <i class="fas fa-sort fa-sort-up ml-2 text-primary" aria-hidden="true"></i>
          </span>
          <span *ngIf="currentSorting.columnName !== columnDefinition.columnName">
            <i class="fas fa-sort ml-2 potential-sort" aria-hidden="true"></i>
          </span>
        </ng-container>
      </th>
    </tr>
    </thead>
    <tbody (scrolled)="onScroll()"
           [fromRoot]="true"
           [infiniteScrollThrottle]="50"
           [immediateCheck]="true"
           [infiniteScrollContainer]="'main'"
           infiniteScroll
           role="presentation">
    <tr role="row" *ngFor="let audit of auditList">
      <td class="content-cell align-middle"
          role="gridcell">
        {{ audit.timestamp | date: 'dd.MM.yyyy, hh:mm:ss' }}
      </td>
      <td class="content-cell align-middle"
          role="gridcell">
        {{ audit.principal }}
      </td>
      <td class="content-cell align-middle"
          role="gridcell">
        {{ audit.type }}
      </td>
      <td class="content-cell align-middle font-data"
          role="gridcell">
        <p *ngIf="audit.data?.type">
          <code>{{ audit.data.type }}</code>
        </p>
        <p *ngIf="audit.data?.message">
          <code>{{ audit.data.message }}</code>
        </p>
        <p *ngIf="audit.data?.details">
          <code>{{ audit.data.details }}</code>
        </p>
        <p *ngIf="audit.data?.remoteAddress">
          <code>
            <span>{{ 'portal.admin.audits.table.data.remoteAddress' | translate }}</span>
            {{ audit.data.remoteAddress }}
          </code>
        </p>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<ng-template #noResults>
  <p> {{ 'portal.admin.api-user-management.no-results' | translate }}</p>
</ng-template>

