@import "../../../../scss/common/colors";

.line-clamp {
  overflow: hidden;
  position: relative;
  line-height: 1.5em;
  max-height: 3em;
  height: auto;
}

$text-weight-light: 300;
$margin-x-general: 1.5rem;
$margin-x-filter: $margin-x-general;
$margin-x-narrow: $margin-x-general/2;
$margin-y-general: $margin-x-general;
$alv-box-radius: 24px; // ($logo-height * (1 - $golden-ratio)) / 2 ~30px
$main-accent-color-50: #f9ebea;
$main-accent-color-100: #f3d7d6;

@mixin highlight-tag($color: #fff2ac,$darken: #ffe359) {
  padding: 0 0.125rem;
  background-color: $color;
  background-image: linear-gradient(to right, $darken 0%, $color 100%);
}

// Job-Room-result
.result-list__title {
  font-size: 1.25em;
  font-weight: 500;
}

.result-list__item {
  padding: 1em;
  margin-bottom: $margin-x-narrow;
  border: 1px solid $color-medium-grey;
  cursor: pointer;
  border-bottom-right-radius: 15px;
  &:hover {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.35);

    .result-list__title {
      color: $color-primary;
    }

    .selected-indicator {
      background-color: $color-primary;
    }
  }
  &.result-list__item--visited {
    background: $color-light-grey;
  }

  .selected-indicator {
    width: 5px;
    position: absolute;
    left: 0;
    top: 0;
  }
  em {
    @include highlight-tag();
  }


  .result-list__item__content {
    > .w-100 {
      width: auto !important;
    }
  }

  .result-list__item__date {
    vertical-align: text-top;
  }

  .result-list__item__star {
    padding: 0 10px;
    font-size: 1.25em;
  }
}

.alv-logo-box, .logo-box {
  width: 100%;
  background-color: #f2efe8;
  display: block;
  overflow-wrap: break-word;
  border-radius: 0 0 24px !important;
  padding: 18px;
  margin-bottom: 1.5rem;


}

// Color contrast
@mixin color-yiq($color) {
  $r: red($color);
  $g: green($color);
  $b: blue($color);

  $yiq: (($r * 299) + ($g * 587) + ($b * 114)) / 1000;

  @if ($yiq >= 150) {
    color: #111;
  } @else {
    color: #fff;
  }
}

//Badges
@mixin badge-variant($bg) {
  @include color-yiq($bg);
  background-color: $bg;
}

.badge-yellow,
.badge-green,
.badge-blue,
.badge-gray {
  color: $color-grey;
  font-weight: 400;
}

.badge-blue {
  @include badge-variant($main-accent-color-100);
}

.badge-gray {
  @include badge-variant($color-light-grey);
}

.badge-green {
  @include badge-variant($color-light-green);
}

.badge-yellow {
  @include badge-variant($color-yellow);
}

.text--primary-color {
  color: $color-black;
}
