<div class="container-fluid pt-4 pt-lg-5 px-lg-5"
     (scrolled)="onScroll()"
     [fromRoot]="true"
     [infiniteScrollThrottle]="50"
     [immediateCheck]="true"
     infiniteScroll>
  <div class="d-flex justify-content-between align-items-end position-relative">
    <h2 class="pr-5">
      <alv-custom-icon class="text-primary"
                       aria-hidden="true"
                       [iconKey]="IconKey.JOB_AD_FAVOURITES">
      </alv-custom-icon>
      {{ 'portal.job-ad-favourites.title' | translate }}
    </h2>
  </div>

  <hr class="mt-0 mb-3">

  <alv-input-field [alvControl]="form.get('query')"
                   label="portal.job-ad-favourites.search.query">
  </alv-input-field>

  <ng-container *ngIf="jobAdFavouriteSearchResults$ | async as jobs">
    <ng-container *ngIf="jobs.length">
      <alv-job-search-result *ngFor="let job of jobs; trackBy: trackByIdAndNote"
                             [jobSearchResult]="job"
                             [language]="currentLanguage$ | async"
                             [currentUser]="currentUser$ | async"
                             (updatedFavourite)="updatedFavourite($event)"
                             (addFavourite)="addFavourite($event)"
                             (removeFavourite)="removeFavourite($event)"
                             routerLinkBase="/job-favourites">
      </alv-job-search-result>
    </ng-container>
    <ng-container *ngIf="!jobs.length && !(isLoading$ | async)">
      <div class="no-favourites p-3 mb-3"
           *ngIf="!(hasCustomFilterApplied$ | async); else searchReturnedEmptyResult">
        <h3>{{'portal.job-ad-favourites.empty.title' | translate}}</h3>
        <p>{{'portal.job-ad-favourites.empty.text1' | translate}}
          <fa-icon class="text-primary"
                   [icon]="['fas', 'star']"></fa-icon>
          {{'portal.job-ad-favourites.empty.text2' | translate}}
        </p>
      </div>
      <ng-template #searchReturnedEmptyResult>
        {{'global.common-phrases.no-results-found' | translate}}
      </ng-template>
    </ng-container>
  </ng-container>

</div>
