<button *ngIf="visible$ | async"
        tabindex="-1"
        [attr.aria-label]="'portal.shared.localities.geo-location-selection.aria-label' | translate"
        (click)="getLocation()">
  <span class="fa-stack">
    <i *ngIf="loading; else mapIcon"
       class="loading-icon fas fa-sync-alt fa-spin fa-stack-1x">
    </i>
    <ng-template #mapIcon>
    <i class="map-icon fas fa-2x fa-map-marker-alt" data-fa-transform="shrink-7.5" data-fa-mask="fas fa-circle"></i>
    </ng-template>
  </span>
</button>
