<div class="table-responsive-sm"
     *ngIf="rows?.length; else noResults">
  <table class="table table-sm d-block d-md-table"
         role="grid">
    <thead role="presentation">
    <tr role="row"
        class="d-none d-md-table-row">
      <th scope="col"
          role="columnheader"
          *ngFor="let columnDefinition of columnDefinitions"
          (click)="changeColumnSort(columnDefinition)"
          [ngClass]="{'active-sort': currentSorting.column === columnDefinition.column}">
        <span>{{ columnDefinition.columnName | translate }}</span>
        <ng-container *ngIf="columnDefinition.sortingEnabled">
                 <span class="fa fa-sort ml-2 text-primary"
                       *ngIf="currentSorting.column === columnDefinition.column; else placeholder"
                       [ngClass]="{
              'fa-sort-down': currentSorting.direction === SortDirection.DESC,
              'fa-sort-up': currentSorting.direction === SortDirection.ASC
              }">
        </span>
        </ng-container>
      </th>
      <th scope="col"
          role="columnheader">
        <span class="sr-only">{{ 'dashboard.job-publication.action' | translate }}</span>
      </th>
    </tr>
    </thead>
    <tbody (scrolled)="onScroll()"
           [fromRoot]="true"
           [infiniteScrollThrottle]="50"
           [immediateCheck]="true"
           [infiniteScrollContainer]="'main'"
           infiniteScroll
           role="presentation">
    <tr *ngFor="let row of rows"
        (click)="open(row)"
        class="tr-content d-block d-md-table-row"
        role="row">
      <td *ngFor="let column of columnDefinitions; let i=index"
          class="content-cell align-middle d-block d-md-table-cell"
          role="gridcell">
        <div class="d-inline-block mr-1 d-md-none">
          <strong>{{ columnDefinitions[i].columnName | translate }}:</strong></div>
        <span [innerHTML]="column.render(row.jobAdvertisement) || '&mdash;' | translate"></span>
      </td>
      <td role="gridcell"
          class="actions-cell d-block d-md-table-cell">
        <div class="actions"
             (click)="$event.stopPropagation()">
          <div #mobileActionsMenu="ngbDropdown"
               class="d-inline-block"
               ngbDropdown
               placement="bottom-right">
            <button (click)="mobileActionsMenu.toggle()"
                    aria-label="Open candidate detail menu"
                    class="btn btn-text btn-icon"
                    id="dropdownMenu"
                    ngbDropdownAnchor>
              <i class="fa fa-ellipsis-v"></i>
            </button>
            <div [attr.aria-label]="'portal.manage-job-ads.row-label' | translate: {row: row.title}"
                 ngbDropdownMenu>
              <button class="dropdown-item"
                      (click)="open(row, $event)">
                {{ 'portal.widgets.manage-job-ads.actions.open' | translate }}
              </button>
              <button class="dropdown-item"
                      (click)="duplicate(row)">
                {{ 'portal.widgets.manage-job-ads.actions.duplicate' | translate }}
              </button>
              <button class="dropdown-item"
                      *ngIf="row.isCancellable"
                      (click)="cancel(row)">
                {{'portal.widgets.manage-job-ads.actions.cancel' | translate }}
              </button>
            </div>
          </div>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
  <ng-template #placeholder>
    <i class="fa fa-sort ml-2 potential-sort"></i>
  </ng-template>
</div>
<ng-template #noResults>
  {{'portal.manage-job-ads.search.no-results' | translate}}
</ng-template>
