<div class="table-responsive-sm">
  <div class="d-table table table-sm"
       (scrolled)="onScroll()"
       [fromRoot]="true"
       [infiniteScrollThrottle]="50"
       [immediateCheck]="true"
       [infiniteScrollContainer]="'main'"
       infiniteScroll>
    <div class="d-none d-md-table-row">
      <div class="d-md-table-cell"
           scope="col"
           *ngFor="let column of columns"
           (click)="onSortChange(column.backendKey)"
           [ngClass]="{'active-sort': currentSorting.column === column.backendKey}">
        <span class="fa fa-sort mr-2 text-primary"
              *ngIf="currentSorting.column === column.backendKey; else placeholder"
              [ngClass]="{
              'fa-sort-down': currentSorting.direction === SortDirection.DESC,
              'fa-sort-up': currentSorting.direction === SortDirection.ASC
              }">
        </span>
        <span>{{ column.columnName | translate }}</span>
      </div>
      <th scope="col">{{ 'dashboard.job-publication.action' | translate }}</th>
    </div>
    <div *ngFor="let row of rows"
         class="d-block d-md-table-row">
      <div *ngFor="let column of columns; let i = index"
           class="d-block d-md-table-cell">
        <div class="d-inline-block d-md-none"><strong>{{ columns[i].columnName | translate }}:</strong></div>
        <span [innerHTML]="column.render(row.jobAdvertisement) | translate"></span>
      </div>
      <div class="d-md-table-cell">
        <div class="actions">
          <div #mobileActionsMenu="ngbDropdown"
               class="d-inline-block"
               ngbDropdown
               placement="bottom-right">
            <button (click)="mobileActionsMenu.toggle()"
                    aria-label="Open candidate detail menu"
                    class="btn btn-text btn-icon"
                    id="dropdownMenu"
                    ngbDropdownAnchor>
              <i class="fa fa-ellipsis-v"></i>
            </button>
            <div [attr.aria-label]="'Job advertisement row actions for the row '+ row.title"
                 ngbDropdownMenu>
              <button class="dropdown-item"
                      (click)="duplicate(row)">
                {{ 'job-publication-details.copy' | translate }}
              </button>
              <button class="dropdown-item"
                      (click)="open(row)">
                {{ 'entity.action.open' | translate }}
              </button>
              <button class="dropdown-item"
                      *ngIf="row.isCancellable"
                      (click)="cancel(row)">
                {{'job-publication-details.cancel' | translate }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #placeholder>
    <i class="fa fa-sort mr-2"></i>
  </ng-template>
</div>
