<alv-registration-panel (backAction)="backAction()"
                        (primaryAction)="registerJobSeeker()"
                        (secondaryAction)="cancelAction()"
                        [formGroup]="jobseekerIdentificationForm"
                        panelSubtitle="registration.customer.text"
                        panelTitle="registration.customer.title"
                        primaryLabel="registration.customer.login"
                        secondaryLabel="registration.customer.cancel">
  <alv-input-field [autofocus]="true"
                   [maxLength]="PERSON_NR_MAX_LENGTH"
                   [validationMessages]="[{error: 'required', message: 'home.tools.job-publication.messages.validate.required'},
                     {error: 'pattern', message: 'registration.customer.messages.validate.pn'}]"
                   alvFormControlName="personNr"
                   label="registration.customer.pn.label">
  </alv-input-field>

  <alv-date-input [maxDate]="BIRTHDAY_MAX_DATE"
                  [minDate]="BIRTHDAY_MIN_DATE"
                  [startDate]="BIRTHDAY_START_DATE"
                  [validationMessages]="[{error: 'required', message: 'home.tools.job-publication.messages.validate.required'},
                    {error: 'ngbDate', message: 'registration.customer.messages.validate.birthdate'}]"
                  alvFormControlName="birthDate"
                  label="registration.customer.birthdate.label">
  </alv-date-input>
</alv-registration-panel>
