<alv-candidate-search-widget class="d-block mt-4">
</alv-candidate-search-widget>

<alv-candidate-search-profiles-widget class="d-block mt-4">
</alv-candidate-search-profiles-widget>

<alv-job-publication-widget class="d-block mt-4">
</alv-job-publication-widget>

<alv-manage-job-ads-widget class="d-block mt-4">
</alv-manage-job-ads-widget>

<alv-job-search-widget class="d-block mt-4">
</alv-job-search-widget>

<alv-job-search-profiles-widget class="d-block mt-4">
</alv-job-search-profiles-widget>

<alv-favourite-jobs-widget class="d-block my-4">
</alv-favourite-jobs-widget>

<alv-link-panel [linkPanelId]="LinkPanelId.DASHBOARD_PAV"
                class="d-block my-4">
</alv-link-panel>
