<alv-registration-panel panelTitle="portal.registration.request.access.code"
                        [secondaryLabel]="homeLabel"
                        (secondaryAction)="returnToHome()"
                        (backAction)="returnToPavIdentification()">
  <alv-step-indicator class="step-indicator panel-full-width"
                      [steps]="pavSteps"
                      [activeStep]="2">
  </alv-step-indicator>
  <p [innerHTML]="'registrationPavDialog.postal.description' | translate"></p>
  <p>
    {{organization.name}}<br>
    {{organization.street}}<br>
    {{organization.zipCode}} {{organization.city}}<br>
  </p>
  <p [innerHTML]="'registrationPavDialog.login.description' | translate"></p>
  <button *ngIf="!isSubmitted; else confirmMessage"
          class="btn btn-primary w-100"
          (click)="requestActivationCode()"
          [disabled]="">
    {{'registrationPavDialog.requestActivationCode' | translate}}
  </button>

</alv-registration-panel>

<ng-template #confirmMessage>
  <div class="p-2 w-100 text-center bg-success text-white">
    {{'registrationPavDialog.activationCodeRequested' | translate}} <i class="fas fa-check"></i>
  </div>
</ng-template>
