<form *ngIf="form"
      [formGroup]="form">
  <div class="form-row">
    <div class="col-8">
      <alv-input-field label="Street"
                       [control]="form.get('street')">
      </alv-input-field>
    </div>
    <div class="col-4">
      <alv-input-field label="Number"
                       [control]="form.get('number')">
      </alv-input-field>
    </div>
  </div>
  <div class="form-row">
    <div class="col-4">
      <alv-input-field label="Postcode"
                       [control]="form.get('zip')">
      </alv-input-field>
    </div>
    <div class="col-8">
      <alv-input-field label="City"
                       [control]="form.get('city')">
      </alv-input-field>
    </div>
    <div class="col-12">
      <alv-select [control]="form.get('country')"
                  [label]="'Country'"
                  [options$]="countries">
      </alv-select>
    </div>
  </div>
</form>
