<form *ngIf="form"
      [formGroup]="form">
  <div class="form-row">
    <div class="col-8">
      <alv-input-field label="Street"
                       formCtrlName="street">
      </alv-input-field>
    </div>
    <div class="col-4">
      <alv-input-field label="Number"
                       formCtrlName="number">
      </alv-input-field>
    </div>
  </div>
  <div class="form-row">
    <div class="col-4">
      <alv-input-field label="Postcode"
                       formCtrlName="zip">
      </alv-input-field>
    </div>
    <div class="col-8">
      <alv-input-field label="City"
                       formCtrlName="city">
      </alv-input-field>
    </div>
    <div class="col-12">
      <alv-select formCtrlName="country"
                  [label]="'Country'"
                  [options$]="countries">
      </alv-select>
    </div>
  </div>
</form>
