@import "../../../../scss/common/colors";
@import "../../../../scss/common/variables";


.result-list-item {
  padding: 1em;
  cursor: pointer;
  border-bottom: 1px solid $color-medium-grey;
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
  color: $color-black;
  background-color: $color-white;

  .title:first-letter {
    text-transform: capitalize;
  }

  .title {
    word-wrap: break-word;
  }

  &:hover {
    text-decoration: none;
    color: $color-black;

    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.35);
    border-right: 1px solid $color-medium-grey;
    border-left: 1px solid $color-medium-grey;
    z-index: $z-index-result-list-item;
    .title {
      color: $color-primary;
    }

    .selected-indicator {
      background-color: $color-primary;
    }
  }

  &.visited {
    background: $color-light-grey;
  }

  .subtitle {
    font-weight: 700;
  }

  .selected-indicator {
    width: 5px;
    position: absolute;
    left: 0;
    top: 0;
  }

  em {
    padding: 0 0.125rem;
    background-color: $color-light-yellow;
  }

  .date {
    vertical-align: text-top;

    &.has-actions {
      margin-right: 4rem;
    }
  }
}

.actions-area {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  z-index: $z-index-result-list-item + 2;

  .btn.btn-icon {
    color: $color-primary;
    width: 30px;
    height: 32px;

    &:hover {
      color: darken($color-primary, 10%);
    }
  }
}

.deactivated-overlay {
  background-color: rgba($color-white, 0.60);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $z-index-result-list-item;
  .deactivated-text {
    color: $color-white;
    background-color: rgba($color-black, 0.60);
    border-radius: 2px;
    margin: auto;
  }
}


