<ng-container *ngIf="ficheTitle; else noTitle">
  <alv-competence-item  [showActionButtons]="false"
                       [isItemClickable]="true"
                       (itemClick)="onEditTitle()"
                       [multiLanguageTitle]="ficheTitle"
                       [superTitle]="'ID ' + ficheId"
                       [type]="'portal.competence-catalog.ch-fiches.type'  | translate">

  </alv-competence-item>
</ng-container>
<ng-template #noTitle>
  <alv-competence-item-placeholder [customIcon]="IconKey.EDIT_PLUS"
                                   [mainText]="'portal.competence-catalog.ch-fiches.type'  | translate"
                                   (clickHandler)="onEditTitle()"
                                   [showErrors]="showErrors"
  >
  </alv-competence-item-placeholder>
</ng-template>
