<div class="arrow-container"
     *ngIf="showArrow">
  <div class="arrow-down"
       [class.colorized]="colorizeArrow"></div>
</div>
<fieldset class="alv-panel"
          [class.invalid]="invalid"
          [attr.aria-describedby]="validationId">
  <legend *ngIf="panelTitle"
          class="sr-only">
    {{panelTitle}} {{panelSubtitle}}
  </legend>
  <div class="d-flex mb-2"
       *ngIf="panelTitle || helpEntries?.length">
    <div class="panel-title flex-grow-1"
         aria-hidden="true">
      <i class="mr-2 fas"
         [ngClass]="'fa-' + panelIcon"
         *ngIf="panelIcon"></i>
      {{panelTitle}} <span class="panel-subtitle">{{panelSubtitle}}</span>
    </div>
    <alv-help-button *ngIf="helpEntries?.length"
                     [helpEntries]="helpEntries">
    </alv-help-button>
  </div>
  <ng-content></ng-content>
</fieldset>

