<div class="row">
  <form [formGroup]="form"
        class="col-md-8">
    <alv-panel [panelTitle]="'Were you away in the month of March 2018? (eg holidays, military or civilian service)'">
      <alv-radio-button [formCtrl]="form.get('away')">
      </alv-radio-button>
    </alv-panel>
    <div *ngIf="form.value.away">
      <alv-panel-group [showArrow]="true"
                       [colorizeArrow]="true"
                       formArrayName="absences"
                       *ngFor="let absence of absences.controls; let i=index">
        <ng-container class="content"
                      [formGroupName]="i">
          <alv-panel>
            <label class="panel-title">
              Absence {{i + 1}}
            </label>
            <alv-date-interval-input [form]="absence.get('period')">
            </alv-date-interval-input>
          </alv-panel>

          <alv-panel *ngIf="absence?.value?.period?.from && absence?.value?.period?.to"
                     [showArrow]="true"
                     [colorizeArrow]="true">
            <alv-select label="Reason of absence"
                        [formCtrl]="absence.get('reason')"
                        [options$]="possibleReasons$"
            ></alv-select>
          </alv-panel>
          <ng-container *ngIf="absence?.value?.reason as reason">
            <alv-panel *ngIf="reason !=='vacation'"
                       [showArrow]="true"
                       [colorizeArrow]="true">
              <ng-container [ngSwitch]="reason">
                <alv-input-field *ngSwitchCase="'other'"
                                 label="Please describe the reason of absence"
                                 [multiline]="true"
                                 [formCtrl]="absence.get('note')">

                </alv-input-field>
                <!--<alv-document-upload *ngSwitchCase="'military'"></alv-document-upload>-->
              </ng-container>

            </alv-panel>

          </ng-container>
        </ng-container>
        <ng-container class="actions">
          <button class="btn btn-secondary mr-1"
                  *ngIf="absences.controls.length > 1"
                  (click)="removeAbsence(i)">Remove Absence
          </button>
          <button class="btn btn-primary"
                  (click)="addAbsence()">Add Absence
          </button>
        </ng-container>
      </alv-panel-group>
    </div>
  </form>
  <!-- For debugging purposes -->
  <div class="col-md-4"
       *ngIf="true">
    <h4>form.value for monthly absences component</h4>
    <pre>
    {{form.value|json}}
  </pre>
    <h4>Validity</h4>
    <p>form.valid:</p>
    <pre>
    {{form.valid}}
  </pre>
  </div>

</div>
