<div ngbDropdown
     #userDropdown="ngbDropdown">
  <button class="btn btn-icon mr-2"
          id="userMenu"
          ngbDropdownAnchor
          (focus)="userDropdown.open()">
    {{user.firstName}} {{user.lastName}}
  </button>
  <div ngbDropdownMenu
       aria-label="User Menu">
    <button class="dropdown-item"
            (click)="logout()">
      <i class="fas fa-power-off mr-2"></i> Logout
    </button>
  </div>
<!--  TODO we also need the following menus
1. Profile (only for eiam)
2. Registrations Abschluss (if user.registrationStatus is not REGISTERED)
-->
</div>
