@import "../../../scss/colors";

button.btn-header {
  padding: 6px 15px;
  background-color: $color-white;
  color: $color-primary;
  &:hover {
    background-color: $color-primary;
    color: $color-white;
  }
  @media(max-width: 991px) {
    padding: 2px 5px;
  }
}
