<div class="container-fluid pt-4 pt-lg-5 px-lg-5"
     (scrolled)="onScroll()"
     [fromRoot]="true"
     [infiniteScrollThrottle]="50"
     [immediateCheck]="true"
     infiniteScroll>
  <div class="d-flex justify-content-between align-items-end position-relative">
    <h2 class="pr-5">
      <alv-custom-icon class="text-primary"
                       aria-hidden="true"
                       [iconKey]="IconKey.JOB_AD_SEARCH_PROFILES">
      </alv-custom-icon>
      {{'portal.job-ad-search-profiles.title' | translate}}
    </h2>
  </div>

  <hr class="mt-0 mb-3">

  <ng-container *ngIf="jobSearchProfiles?.length">

      <alv-job-search-profile-item
        @removeProfile
        *ngFor="let jobSearchProfile of jobSearchProfiles; trackBy: trackById"
        class="d-block"
        [jobSearchProfile]="jobSearchProfile"
        (deleted)="onDeleteProfile($event)">
      </alv-job-search-profile-item>


  </ng-container>
  <ng-container *ngIf="jobSearchProfiles && !jobSearchProfiles.length">
    <div class="no-profiles p-3">
      {{'portal.job-ad-search-profiles.no-profiles' | translate}}
    </div>
  </ng-container>

</div>
