<alv-modal modalTitle="portal.admin.system-notifications.edit.modal.title"
           primaryLabel="entity.action.save"
           (primaryAction)="onSubmit(form)"
           secondaryLabel="entity.action.cancel"
           (secondaryAction)="activeModal.dismiss()"
           [formGroup]="form">
  <fieldset>
    <alv-input-field label="Title"
                     [maxLength]="TITLE_MAX_LENGTH"
                     alvFormControlName="title">
    </alv-input-field>
    <alv-input-field label="Text (DE)"
                     [maxLength]="TEXT_MAX_LENGTH"
                     alvFormControlName="text_de">
    </alv-input-field>
    <alv-input-field label="Text (FR)"
                     [maxLength]="TEXT_MAX_LENGTH"
                     alvFormControlName="text_fr">
    </alv-input-field>
    <alv-input-field label="Text (IT)"
                     [maxLength]="TEXT_MAX_LENGTH"
                     alvFormControlName="text_it">
    </alv-input-field>
    <alv-input-field label="Text (EN)"
                     [maxLength]="TEXT_MAX_LENGTH"
                     alvFormControlName="text_en">
    </alv-input-field>
    <alv-select label="Type"
                alvFormControlName="type"
                [options$]="typeOptions$">
    </alv-select>
    <div class="form-row">
      <alv-date-input class="col-6"
                      label="Start Date"
                      alvFormControlName="startDate"
                      placement="bottom-left">
      </alv-date-input>
      <alv-input-field label=""
                       class="col-2"
                       type="number"
                       placeholder="HH"
                       alvFormControlName="startTimeHours">
      </alv-input-field>
      <alv-input-field label=""
                       class="col-2"
                       type="number"
                       placeholder="MM"
                       alvFormControlName="startTimeMinutes">
      </alv-input-field>
    </div>
    <div class="form-row">
      <alv-date-input class="col-6"
                      label="End Date"
                      alvFormControlName="endDate"
                      placement="bottom-left">
      </alv-date-input>
      <alv-input-field label=""
                       class="col-2"
                       placeholder="HH"
                       type="number"
                       alvFormControlName="endTimeHours">
      </alv-input-field>
      <alv-input-field label=""
                       class="col-2"
                       type="number"
                       placeholder="MM"
                       alvFormControlName="endTimeMinutes">
      </alv-input-field>
    </div>
    <alv-checkbox alvFormControlName="active"
                  label="Active"
                  class="d-block mb-2">
    </alv-checkbox>
  </fieldset>
</alv-modal>
