<alv-modal [title]="'Login'"
           [subtitle]="'This is a subtitle. Wooooow!!'"
           [primaryLabel]="'Login'"
           [primaryAction]="loginFn"
           [secondaryLabel]="'Cancel'"
           [backAction]="loginFn"
           [formGroup]="form">
    <alv-alert *ngIf="errorMessage"
               [notification]="errorMessage">
    </alv-alert>
    <alv-input-field [label]="'Username'"
                     alvFormControlName="username">
    </alv-input-field>
    <alv-input-field [label]="'Password'"
                     alvFormControlName="password"
                     type="password">
    </alv-input-field>
</alv-modal>
