<alv-modal modalTitle="portal.admin.legal-terms-management.legal-terms-details.title"
           primaryLabel="entity.action.save"
           (primaryAction)="onSubmit()"
           secondaryLabel="entity.action.cancel"
           (secondaryAction)="onDismiss()"
           [formGroup]="form">
  <fieldset>
    <alv-date-input label="portal.admin.legal-terms-management.header.effectiveAt"
                    alvFormControlName="effectiveAt"
                    [readonly]="readonly"
                    [validationMessages]="[{ error: 'pastEffectiveAt', message: 'portal.admin.legal-terms-management.legal-terms-details.validate.pastEffectiveAt' }]"
                    placement="bottom-right">
    </alv-date-input>
    <alv-input-field label="portal.admin.legal-terms-management.header.effectiveAt"
                     [readonly]="readonly"
                     [validationMessages]="[{ error: 'pastEffectiveAt', message: 'portal.admin.legal-terms-management.legal-terms-details.validate.pastEffectiveAt' }]"
                     alvFormControlName="effectiveAt">
    </alv-input-field>
    <alv-input-field label="portal.admin.legal-terms-management.header.linkDe"
                     [readonly]="readonly"
                     [validationMessages]="[{ error: 'patter', message: 'portal.admin.legal-terms-management.legal-terms-details.validate.url.pattern' }]"
                     alvFormControlName="linkDe">
    </alv-input-field>
    <alv-input-field label="portal.admin.legal-terms-management.header.linkEn"
                     [readonly]="readonly"
                     [validationMessages]="[{ error: 'patter', message: 'portal.admin.legal-terms-management.legal-terms-details.validate.url.pattern' }]"
                     alvFormControlName="linkEn">
    </alv-input-field>
    <alv-input-field label="portal.admin.legal-terms-management.header.linkFr"
                     [readonly]="readonly"
                     [validationMessages]="[{ error: 'patter', message: 'portal.admin.legal-terms-management.legal-terms-details.validate.url.pattern' }]"
                     alvFormControlName="linkFr">
    </alv-input-field>
    <alv-input-field label="portal.admin.legal-terms-management.header.linkIt"
                     [readonly]="readonly"
                     [validationMessages]="[{ error: 'patter', message: 'portal.admin.legal-terms-management.legal-terms-details.validate.url.pattern' }]"
                     alvFormControlName="linkIt">
    </alv-input-field>
  </fieldset>
</alv-modal>

