<div class="container mt-4">
  <h1>Typeahead</h1>

  <p>A typeahead that accepts free text, enables searching for items and limits the
    selectable items to 4</p>
  <alv-multi-typeahead [alvControl]="typeaheadControl"
                       [limit]="4"
                       [loadItems]="itemLoaderFn"
                       label="Multi Typeahead Showcase">
  </alv-multi-typeahead>

  <p>Form Control Value:</p>
  <p>{{typeaheadControl.value | json}}</p>

  <p>A typeahead that accepts free text, enables searching for items and limits the
    selectable items to 4</p>
  <alv-single-typeahead [alvControl]="typeaheadControl"
                        [loadItems]="itemLoaderFn"
                        label="Single Typeahead Showcase">
  </alv-single-typeahead>

  <p>Form Control Value:</p>
  <p>{{typeaheadControl.value | json}}</p>

  <alv-select
    [alvControl]="selectControl"
    [options$]="selectOptions$"
    [validationMessages]="[{error: 'require', message: 'Custom message'}]"
    label="Demo Select">
  </alv-select>

  <h1>Confirm Modal</h1>
  <button class="btn btn-primary"
          (click)="openConfirmModal()">Open Confirm Modal
  </button>
  {{confirmModalDemoText}}

  <h1 class="mt-2">Buttons</h1>
  <div class="d-flex mb-2">
    <button class="btn btn-primary btn-icon mr-2"><i class="fas fa-wrench"></i></button>
    <button class="btn btn-primary mr-2">Primary</button>
    <button [disabled]="true"
            class="btn btn-primary">Primary
    </button>
  </div>
  <div class="d-flex mb-2">
    <button class="btn btn-secondary btn-icon mr-2"><i class="fas fa-caret-left"></i>
    </button>
    <button class="btn btn-secondary mr-2">Sedondary</button>
    <button [disabled]="true"
            class="btn btn-secondary">Secondary Disabled
    </button>
  </div>
  <div class="d-flex mb-2">
    <button class="btn btn-text btn-icon mr-2"><i class="fas fa-info"></i></button>
    <button class="btn btn-text mr-2">Text</button>
    <button [disabled]="true"
            class="btn btn-text">Text
    </button>
  </div>

  <h1>Multi-Layer Icons</h1>
  <div class="fa-2x">
    <ul class="list-unstyled">
      <li>
        <i class="fas fa-fw fa-search" data-fa-transform="shrink-10 down-2" data-fa-mask="fas fa-file"></i>
        Stellen finden
      </li>
      <li>
        <i class="fas fa-fw fa-star" data-fa-transform="shrink-10 down-2" data-fa-mask="fas fa-file"></i>
        Stellen Favoriten
      </li>
      <li>
        <i class="fas fa-fw fa-plus" data-fa-transform="shrink-10 down-2" data-fa-mask="fas fa-file"></i>
        Stellen melden
      </li>
      <li>
        <i class="fas fa-fw fa-cog" data-fa-transform="shrink-10 down-2" data-fa-mask="fas fa-file"></i>
        Stellen bewirtchaften
      </li>
      <li>
        <i class="fas fa-fw fa-bell" data-fa-transform="shrink-10 down-2" data-fa-mask="fas fa-file"></i>
        Stellen Suchprofil
      </li>
      <li>
        <span class="fa-layers fa-fw">
          <i class="fas fa-circle" data-fa-transform="shrink-5 down-8 right-4" data-fa-mask="fas fa-user"></i>
          <i class="fas fa-search" data-fa-transform="shrink-9 down-7.5 right-4"></i>
        </span>
        Kandidaten finden
      </li>
      <li>
        <span class="fa-layers fa-fw">
          <i class="fas fa-circle" data-fa-transform="shrink-5 down-8 right-4" data-fa-mask="fas fa-user"></i>
          <i class="fas fa-star" data-fa-transform="shrink-9 down-7.5 right-4"></i>
        </span>
        Kandidaten Favoriten
      </li>
      <li>
        <span class="fa-layers fa-fw">
          <i class="fas fa-circle" data-fa-transform="shrink-5 down-8 right-4" data-fa-mask="fas fa-user"></i>
          <i class="fas fa-bell" data-fa-transform="shrink-9 down-7.5 right-4"></i>
        </span>
        Kandidaten Suchprofil
      </li>
    </ul>
  </div>

</div>
