<div class="container mt-4">
  <h1>Typeahead</h1>
  <p>A typeahead that accepts free text, enables searching for items and limits the
    selectable items to 4</p>
  <alv-typeahead label="Typeahead Showcase"
                 [alvControl]="typeaheadControl"
                 [loadItems]="itemLoaderFn"
                 [limit]="4">
  </alv-typeahead>

  <p>Form Control Value:</p>
  <p>{{typeaheadControl.value | json}}</p>

  <h1>Confirm Modal</h1>
  <button class="btn btn-primary"
          (click)="openConfirmModal()">Open Confirm Modal
  </button>
  {{confirmModalDemoText}}
</div>
