<div class="container mt-4">
  <h1>Notifications</h1>
  <alv-alert *ngFor="let notificiation of notifications"
             [notification]="notificiation">
  </alv-alert>

  <alv-alert [notification]="customNotification">
    <p>Custom <strong>HTML</strong> Content</p>
    <a class="link"
       href="#">
      <fa-icon class="link-icon"
               [icon]="['fas', 'caret-right']"></fa-icon>
      Demo Link
    </a>
  </alv-alert>

  <h1>Typeahead</h1>

  <p>A typeahead that accepts free text, enables searching for items and limits the
    selectable items to 4</p>
  <alv-multi-typeahead [alvControl]="typeaheadControl"
                       [limit]="4"
                       [loadItems]="itemLoaderFn"
                       label="Multi Typeahead Showcase"
                       tooltip="Look at this nice tooltip!"
  >
  </alv-multi-typeahead>

  <p>Form Control Value:</p>
  <p>{{typeaheadControl.value | json}}</p>

  <p>A typeahead that accepts free text, enables searching for items and limits the
    selectable items to 4</p>
  <alv-single-typeahead [alvControl]="typeaheadControl"
                        [loadItems]="itemLoaderFn"
                        label="Single Typeahead Showcase">
  </alv-single-typeahead>

  <p>Form Control Value:</p>
  <p>{{typeaheadControl.value | json}}</p>

  <alv-select
    [alvControl]="selectControl"
    [options$]="selectOptions$"
    [validationMessages]="[{error: 'require', message: 'Custom message'}]"
    label="Demo Select">
  </alv-select>

  <h1>Cells</h1>

  <button class="alv-cells my-1"
          *ngFor="let i of [1, 2, 3]">
    <span class="cell col-12 col-lg-3">
      <span class="cell-label">
        Row {{i}} Cell 1 Label
      </span>
      Row {{i}} Cell 1 Content
    </span>
    <span class="cell col-12 col-lg-3">
      <span class="cell-label">
        Row {{i}} Cell 2 Label
      </span>
      Row {{i}} Cell 2 Content
    </span>
    <span class="cell col-12 col-lg-3">
      <span class="cell-label">
        Row {{i}} Cell 3 Label
      </span>
      Row {{i}} Cell 3 Content
    </span>
    <span class="cell success col-12 col-lg-3">
      <span class="cell-label">
        Row {{i}} Cell 4 Label
      </span>
      Row {{i}} Cell 4 Content
      <span class="success-icon-container">
        <fa-icon [icon]="['fas', 'heart']"></fa-icon>
      </span>
    </span>
    <span class="expanded-indicator"></span>
  </button>

  <h1>Confirm Modal</h1>
  <button class="btn btn-primary"
          (click)="openConfirmModal()">Open Confirm Modal
  </button>
  {{confirmModalDemoText}}

  <h1 class="mt-2">File Upload</h1>
  <div class="my-2">
    <button class="btn btn-primary mr-1"
            (click)="fileInputControl.enable()">Enable</button>
    <button class="btn btn-secondary"
            (click)="fileInputControl.disable()">Disable</button>
  </div>

  <alv-file-input label="Choose files"
                   accept="*/*"
                   uploadAreaLabel="Drag & Drop"
                   [helpText]="(fileInputControl.value?.length || 0) + ' of 3 files selected'"
                   [maxFilesCount]="3"
                   [showRemoveButton]="true"
                   [maxFileSize]="2 * 1024 * 1024"
                   [alvControl]="fileInputControl">
  </alv-file-input>

  <h1 class="mt-2">Buttons</h1>
  <div class="d-flex mb-2">
    <button class="btn btn-primary btn-icon mr-2">
      <fa-icon [icon]="['fas', 'wrench']"></fa-icon>
    </button>
    <button class="btn btn-primary mr-2">Primary</button>
    <button [disabled]="true"
            class="btn btn-primary">Primary
    </button>
  </div>
  <div class="d-flex mb-2">
    <button class="btn btn-secondary btn-icon mr-2">
      <fa-icon [icon]="['fas', 'caret-left']"></fa-icon>
    </button>
    <button class="btn btn-secondary mr-2">Sedondary</button>
    <button [disabled]="true"
            class="btn btn-secondary">Secondary Disabled
    </button>
  </div>
  <div class="d-flex mb-2">
    <button class="btn btn-text btn-icon mr-2">
      <fa-icon [icon]="['fas', 'info']"></fa-icon>
    </button>
    <button class="btn btn-text mr-2">Text</button>
    <button [disabled]="true"
            class="btn btn-text">Text
    </button>
  </div>

  <h1>Multi-Layer Icons</h1>
  <div class="fa-2x"
       style="#background:MistyRose">
    <ul class="list-unstyled">
      <li><strong>JobAds Version A</strong></li>
      <li>
        <fa-icon [fixedWidth]="true"
                 [icon]="['fas', 'search']"
                 transform="shrink-10 down-2"
                 [mask]="['fas', 'file']">
        </fa-icon>
        Stellen finden
      </li>
      <li>
        <fa-icon [fixedWidth]="true"
                 [icon]="['fas', 'star']"
                 transform="shrink-10 down-2"
                 [mask]="['fas', 'file']">
        </fa-icon>
        Stellen Favoriten
      </li>
      <li>
        <fa-icon [fixedWidth]="true"
                 [icon]="['fas', 'plus']"
                 transform="shrink-10 down-2"
                 [mask]="['fas', 'file']">
        </fa-icon>
        Stellen melden
      </li>
      <li>
        <fa-icon [fixedWidth]="true"
                 [icon]="['fas', 'cog']"
                 transform="shrink-10 down-2"
                 [mask]="['fas', 'file']">
        </fa-icon>
        Stellen bewirtchaften
      </li>
      <li>
        <fa-icon [fixedWidth]="true"
                 [icon]="['fas', 'bell']"
                 transform="shrink-10 down-2"
                 [mask]="['fas', 'file']">
        </fa-icon>
        Stellen Suchprofil
      </li>

      <li><strong>JobAds Version B</strong></li>
      <li>
        <fa-layers [fixedWidth]="true">
          <fa-icon [icon]="['fas', 'circle']"
                   transform="shrink-5 down-8 right-4"
                   [mask]="['fas', 'file']">
          </fa-icon>
          <fa-icon [icon]="['fas', 'search']"
                   transform="shrink-9 down-7.5 right-4">
          </fa-icon>
        </fa-layers>
        Stellen finden
      </li>
      <li>
        <fa-layers [fixedWidth]="true">
          <fa-icon [icon]="['fas', 'circle']"
                   transform="shrink-5 down-8 right-4"
                   [mask]="['fas', 'file']">
          </fa-icon>
          <fa-icon [icon]="['fas', 'star']"
                   transform="shrink-9 down-7.5 right-4">
          </fa-icon>
        </fa-layers>
        Stellen Favoriten
      </li>
      <li>
        <fa-layers [fixedWidth]="true">
          <fa-icon [icon]="['fas', 'circle']"
                   transform="shrink-5 down-8 right-4"
                   [mask]="['fas', 'file']">
          </fa-icon>
          <fa-icon [icon]="['fas', 'plus']"
                   transform="shrink-9 down-7.5 right-4">
          </fa-icon>
        </fa-layers>
        Stellen melden
      </li>
      <li>
        <fa-layers [fixedWidth]="true">
          <fa-icon [icon]="['fas', 'circle']"
                   transform="shrink-5 down-8 right-4"
                   [mask]="['fas', 'file']">
          </fa-icon>
          <fa-icon [icon]="['fas', 'cog']"
                   transform="shrink-9 down-7.5 right-4">
          </fa-icon>
        </fa-layers>
        Stellen bewirtchaften
      </li>
      <li>
        <fa-layers [fixedWidth]="true">
          <fa-icon [icon]="['fas', 'circle']"
                   transform="shrink-5 down-8 right-4"
                   [mask]="['fas', 'file']">
          </fa-icon>
          <fa-icon [icon]="['fas', 'bell']"
                   transform="shrink-9 down-7.5 right-4">
          </fa-icon>
        </fa-layers>
        Stellen Suchprofil
      </li>

      <li><strong>Candidates</strong></li>
      <li>
        <fa-layers [fixedWidth]="true">
          <fa-icon [icon]="['fas', 'circle']"
                   transform="shrink-5 down-8 right-4"
                   [mask]="['fas', 'user']">
          </fa-icon>
          <fa-icon [icon]="['fas', 'search']"
                   transform="shrink-9 down-7.5 right-4">
          </fa-icon>
        </fa-layers>
        Kandidaten finden
      </li>
      <li>
        <fa-layers [fixedWidth]="true">
          <fa-icon [icon]="['fas', 'circle']"
                   transform="shrink-5 down-8 right-4"
                   [mask]="['fas', 'user']">
          </fa-icon>
          <fa-icon [icon]="['fas', 'star']"
                   transform="shrink-9 down-7.5 right-4">
          </fa-icon>
        </fa-layers>
        Kandidaten Favoriten
      </li>
      <li>
        <fa-layers [fixedWidth]="true">
          <fa-icon [icon]="['fas', 'circle']"
                   transform="shrink-5 down-8 right-4"
                   [mask]="['fas', 'user']">
          </fa-icon>
          <fa-icon [icon]="['fas', 'bell']"
                   transform="shrink-9 down-7.5 right-4">
          </fa-icon>
        </fa-layers>
        Kandidaten Suchprofil
      </li>

      <li><strong>Misc</strong></li>
      <li>
        <fa-icon [icon]="['fas', 'map-marker-alt']"
                 transform="shrink-8"
                 [mask]="['fas', 'circle']"></fa-icon>
        Locality detection
      </li>
      <li><strong>Custom ALV Icons</strong></li>
      <li>
        <alv-custom-icon [iconKey]="IconKey.JOB_AD_SEARCH"></alv-custom-icon>
      </li>
      <li>
        <alv-custom-icon [iconKey]="IconKey.JOB_PUBLICATION"></alv-custom-icon>
      </li>
      <li>
        <alv-custom-icon [iconKey]="IconKey.CANDIDATE_SEARCH"></alv-custom-icon>
      </li>
    </ul>
  </div>

</div>
