<div class="container-fluid">

  <alv-two-column-layout>

    <!-------------Left panel-->
    <div class="left-column">
      <div class="d-flex">
        <div class="flex-grow-1"></div>
        <a class="btn btn-text btn-text-icon mb-3 d-none d-md-block d-print-none"
           routerLink="/home">
          <fa-icon class="mr-1"
                   [icon]="['fas', 'caret-left']"></fa-icon>
          {{'entity.action.back' | translate}}
        </a>
      </div>
    </div>

    <!-------------Main screen-->
    <div class="main-column">
      <h2>
        <fa-icon class="text-primary"
                 [icon]="['fas', 'address-card']"></fa-icon>
        {{ 'portal.dashboard.user-settings.main.title' | translate }}
        {{ companyOrPav ? currentUser.displayName + ', ' + currentCompany.companyName : currentUser?.displayName }}
      </h2>
      <hr class="mt-2 mb-3">

      <alv-collapse-panel [panelId]="'eIAM-account'"
                          panelTitle="portal.dashboard.user-settings.eiam-account.title">
        <div class="d-block pb-4">
          <p>{{ 'portal.dashboard.user-settings.eiam-account.description' | translate }}</p>
          <ul class="alv-list">
            <alv-list-item-content *ngFor="let loginData of EIAM_ACCOUNT_LIST">
              {{ loginData | translate }}
            </alv-list-item-content>
          </ul>
          <button type="button"
                  (click)="goToEIAMProfile()"
                  class="btn btn-secondary">
            <fa-icon class="link-icon"
                     [icon]="['fas', 'caret-right']"></fa-icon>
            {{ 'portal.dashboard.user-settings.eiam-account.button' | translate }}
          </button>
        </div>
      </alv-collapse-panel>

      <form [formGroup]="form"
            alvFormSubmitValidation>

        <alv-collapse-panel [panelId]="'user-information'"
                            [isCollapsed]="true"
                            panelTitle="portal.dashboard.user-settings.user-info.title"
                            *ngIf="companyOrPav">
          <alv-user-information
            [parentForm]="form"
            [userFormValue]="initialUserValue">
          </alv-user-information>
          <div class="d-flex">
            <div class="flex-grow-1">
            </div>
            <button (click)="onResetUser()"
                    class="btn btn-text"
                    type="button">{{'entity.action.cancel' | translate }}
            </button>
            <button (click)="onSubmitUser()"
                    class="btn btn-primary ml-1"
                    type="submit">{{'entity.action.save' | translate }}
            </button>
          </div>

        </alv-collapse-panel>

        <alv-collapse-panel [panelId]="'company-information'"
                            [isCollapsed]="true"
                            panelTitle="portal.dashboard.user-settings.company-info.title"
                            *ngIf="companyOrPav">
          <alv-company-information
            [parentForm]="form"
            [companyFormValue]="initialCompanyValue">
          </alv-company-information>
          <div class="d-flex">
            <div class="flex-grow-1">
            </div>
            <button (click)="onResetCompany()"
                    class="btn btn-text"
                    type="button">{{'entity.action.cancel' | translate }}
            </button>
            <button (click)="onSubmitCompany()"
                    class="btn btn-primary ml-1"
                    type="submit">{{'entity.action.save' | translate }}
            </button>
          </div>

        </alv-collapse-panel>

      </form>

    </div>

    <!-------------Right panel-->
    <div class="right-column">
    </div>

  </alv-two-column-layout>

</div>
