@import "../../../scss/colors";
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';


:host {
  flex: 1 1 auto;
  overflow-y: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 102px;
  z-index: 0;
  @media(max-width: 991px) {
    margin-top: 41px;
  }

  main {
    overflow-y: auto;
  }

}

main {
  background-size: cover;
}
main.jobseeker-home {
  background-image: url("https://www.job-room.ch/content/dda12ac946fce1aeb698d0741311574c.jpeg");
}

/**
 * we don't load  pictures for phones
 */
@include media-breakpoint-up(md) {
  main.jobseeker-home {
    background-image: url("/assets/img/backgrounds/helmet-bg.jpeg");
  }

  main.company-home {
    background-image: url("/assets/img/backgrounds/handshake.jpeg");
  }

  main.pav-home {
    background-image: url("/assets/img/backgrounds/woman-phone.jpeg");
  }
}
