@import "../../../scss/colors";

:host {
  flex: 1 1 auto;
  overflow-y: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 102px;
  z-index: 0;
  @media(max-width: 991px) {
    margin-top: 41px;
  }

  main {
    overflow-y: auto;
  }

}

main {
  background-size: cover;
}
main.jobseeker-home {
  background-image: url("https://www.job-room.ch/content/dda12ac946fce1aeb698d0741311574c.jpeg");
}

main.pav-home {
  background-image: url("https://www.job-room.ch/content/01cd43abf557855ac742ae31b47a0bab.jpeg");
}

main.company-home {
  background-image: url("https://www.job-room.ch/content/e21300d5cd7a259a17768149bbc28011.jpeg");
}
