<h3>Filter search results</h3>
<br>  
<form formGroupName="form">
  <alv-select
    label="Demo Select"
    [alvControl]="form.get('sort')"
    [options$]="sortOptions$"
    [validationMessages]="[{error: 'require', message: 'Custom message'}]"
  ></alv-select>
  <alv-input-field
    label="Employer"
    [alvControl]="form.get('company')"
  >
  </alv-input-field>
  <alv-select
    label="Contract Type"
    [alvControl]="form.get('contractType')"
    [options$]="contractTypeOptions$"
  >
  </alv-select>
  <p>Workload</p>
  <div class="row">
    <div class="col-6">
      <alv-select
        label="from"
        [alvControl]="form.get('workloadPercentageMin')"
        [options$]="percentages$"
      ></alv-select>
    </div>
    <div class="col-6">
      <alv-select
        label="to"
        [alvControl]="form.get('workloadPercentageMax')"
        [options$]="percentages$"
      ></alv-select>
    </div>
  </div>
  <pre>{{form.valueChanges|async|json}}</pre>

</form>

