@import '../../../../node_modules/bootstrap/scss/functions';
@import '../../../../node_modules/bootstrap/scss/variables';
@import '../../../../node_modules/bootstrap/scss/mixins';
@import "../../../scss/common/colors";
@import "../../../scss/common/variables";

.query-search-area {
  background-color: $color-super-light-grey;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.35);
}

@include media-breakpoint-up(lg) {
  .query-search-area {
    position: sticky;
    top: $height-header-desktop;
    z-index: $z-index-query-search-area;
  }
}

.reset-button {
  max-height: 46px;
}
