<div (scrolled)="onScroll()"
     [fromRoot]="true"
     [infiniteScrollThrottle]="50"
     [immediateCheck]="true"
     [infiniteScrollContainer]="'main'"
     class="container-fluid"
     infiniteScroll>

  <alv-three-column-layout>
    <ng-container class="left-column">
      <div class="alv-bar mb-1">
        {{'portal.candidate-search.results-count.label' | translate}}
        <!-- TODO: display candidate count
        <span *ngIf="resultsAreLoading$ | async; else resultsCount">...</span>
        <ng-template #resultsCount>
          <strong>{{totalCount$ | async }} Stellen</strong>
        </ng-template>
        -->
      </div>
      <alv-filter-panel
                        [candidateSearchFilter]="jobSearchFilter$ | async"></alv-filter-panel>
    </ng-container>

    <ng-container class="main-column">
      <alv-candidate-search-result *ngFor="let candidateSearchResult of candidateSearchResults | async"
                                   [candidateSearchResult]="candidateSearchResult">
      </alv-candidate-search-result>
    </ng-container>

    <ng-container class="right-column">
      <div class="w-100 mb-3 text-right text-md-left">
        <a class="btn btn-text btn-text-icon btn-truncate"
           [href]="'#'">
          <i aria-hidden="true"
             class="fa fa-share mr-1"></i>
          {{'candidate-search.filter.candidate-search-link' | translate}}
        </a>
      </div>
    </ng-container>

  </alv-three-column-layout>

</div>
