<form [formGroup]="form"
      (ngSubmit)="filter()"
      class="form container mb-4">
  <div class="form-row">
    <div class="form-group">
      <select class="form-control custom-select">
        <option *ngFor="let i of [1,2,3,4,5]"
                value="{{i}}">Something long {{i}}</option>

      </select>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group">
      <label for="filter-age"
             class="col-form-label">{{ 'dashboard.job-publication.publication-period.label' | translate }}</label>
      <div>
        <select formControlName="onlineSinceDays"
                class="form-control custom-select"
                id="filter-age">
          <option [ngValue]="7">{{ 'dashboard.job-publication.publication-period.week' | translate:'{ week: 1 }' }}</option>
          <option [ngValue]="30">{{ 'dashboard.job-publication.publication-period.month' | translate:'{ month: 1 }' }}</option>
          <option [ngValue]="90">{{ 'dashboard.job-publication.publication-period.months' | translate:'{ months: 3 }' }}</option>
          <option [ngValue]="180">{{ 'dashboard.job-publication.publication-period.months' | translate:'{ months: 6 }' }}</option>
          <option [ngValue]="365">{{ 'dashboard.job-publication.publication-period.year' | translate:'{ years: 1 }' }}</option>
          <option [ngValue]="null">{{ 'dashboard.job-publication.publication-period.all' | translate }}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="form-row">
    <button class="btn btn-secondary">Filter</button>
  </div>
</form>
